	input[type=submit]{
	    border-color: #bbb;
	    height: 38px;
	    font-size: 14px;
	    border-radius: 2px;
	    outline: 0;
	    border: #ccc 1px solid;
	    padding: 0 10px;
	    width: 254px;
	    -webkit-transition: box-shadow .5s;
	    margin-bottom: 15px;
	}

	    input[type=text]:hover, input[text=text]:focus {
	        border: 1px solid #56b4ef;
	        box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
		-webkit-transition: box-shadow .5s;
	    }

        input:focus::-webkit-input-submit, input:hover::-webkit-input-submit {
        	color: #c2c2c2;
            -webkit-transition: color .5s;
        }
