.modal-dialog {
  font-size: 1rem;
  margin: 0;
  width: 100%;
}

.modal-lg {
  max-width: 60rem;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-body {
  padding: 1.25rem 1.5rem 0;
}
.modal-body p:first-of-type {
  font-size: .875rem;
  padding-left: 2.2rem;
}

.floating-label {
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 2px;
  height: 3.125rem;
}
.floating-label > label {
  color: #757575;
  padding-left: .25rem;
  top: .875rem;
}
.floating-label.has-value, .floating-label.is-focused {
  border: 1px solid #2a6ebb;
  border-bottom: 3px solid #2a6ebb;
}
.floating-label.has-value > label, .floating-label.is-focused > label {
  top: 5px;
}

.form-control {
  border-bottom: none;
  padding-left: .25rem;
}

.form-control-feedback, .form-text {
  font-size: .875rem;
  margin-top: .1rem;
}

.card .material-icons {
  padding-right: .5rem;
}

.form-group.floating-label.has-danger {
  margin-bottom: 2.5rem;
  border: 1px solid #cd202c;
  border-bottom: 3px solid #cd202c;
}
.form-group.floating-label.has-danger.is-focused > label {
  color: #cd202c;
}

.modal-footer p:first-of-type {
  font-size: 0.875rem;
}

.regMessaging {
  border: 1px solid #bdbdbd;
  margin-top: 1rem;
}
.regMessaging .regMessageHeader {
  background-color: #4a84c5;
  padding: .35rem;
}
.regMessaging .regMessageHeader h3 {
  color: #ffffff;
}
.regMessaging .list-group-item {
  background-color: #eeeeee;
  border: none;
  font-size: 1rem;
  position: relative;
  /* Helps us control overlap */
  padding-left: 3.875rem;
}
.regMessaging .list-group-item:before {
  color: #4a84c5;
  content: '\e876';
  font-family: 'Material Icons';
  position: absolute;
  left: 18px;
  top: 1px;
  font-size: 2.125rem;
}

.regSuccess {
  background-color: #ffffff;
  padding: 2rem 0;
}
.regSuccess .regSuccessHeader {
  padding: .35rem;
}
.regSuccess .list-group-item {
  background-color: inherit;
  border: none;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .form-group:nth-child(2),
  .form-group:nth-child(3) {
    width: 75%;
  }

  .regMessaging {
    margin-top: 0;
  }
}
#inlineReg .floating-label {
  background-color: #ffffff;
}
#inlineReg .list-group-item {
  background-color: #ffffff;
}
#inlineReg p:first-of-type {
  padding-left: 2.2rem;
}
#inlineReg h2 {
  color: #ffffff;
  font-size: 1.5rem;
}

#inlineLogin .floating-label {
  background-color: #ffffff;
}
#inlineLogin p:first-of-type {
  padding-left: 2.2rem;
}
#inlineLogin h2 {
  color: #ffffff;
  font-size: 1.5rem;
}

#inlineLoginNoIp .floating-label {
  background-color: #ffffff;
}

.search-input {
  position: relative;
  padding: 1rem 0 0.5rem 0;
  height: 4.5rem;
}
.search-input input {
  border: none;
  border-bottom: 1px solid #2a6ebb;
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: #2a6ebb;
}
.search-input input:focus {
  outline: none;
}
.search-input label {
  position: absolute;
  left: 0;
  top: 1.625rem;
  width: 100%;
  color: #2a6ebb;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  pointer-events: none;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-input input:focus ~ label {
  top: 0;
  font-size: 0.75rem;
  color: #2a6ebb;
}
.search-input label.not-empty {
  top: 0;
  font-size: 0.75rem;
}
.search-input span:nth-of-type(3) {
  position: absolute;
  color: #2a6ebb;
  left: 100%;
  top: 1.625rem;
  font-size: 1rem;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-input input:focus ~ span:nth-of-type(3) {
  left: -1.625rem;
  top: 1.625rem;
  color: #2a6ebb;
}
.search-input span:nth-of-type(3).not-empty {
  left: -1.625rem !important;
  top: 1.625rem !important;
}
.search-input span:nth-of-type(4) {
  position: absolute;
  color: #2a6ebb;
  right: 0;
  top: 1.625rem;
  font-size: 1rem;
  opacity: 0;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-input input:focus ~ span:nth-of-type(4) {
  color: #2a6ebb;
  opacity: 1;
  cursor: pointer;
}
.search-input span:nth-of-type(4).not-empty {
  opacity: 1 !important;
}
.search-input .bar {
  display: block;
  width: 0;
  margin-left: 50%;
  height: 1px;
  background: #2a6ebb;
  opacity: 0;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-input input:focus ~ .bar {
  opacity: 1;
  width: 100%;
  margin-left: 0;
}

.serp {
  margin-bottom: 1rem;
}
.serp .nav-tabs {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}
.serp .nav-tabs .nav-link::before {
  background-color: #c50084;
  height: 6px;
}
.serp .nav-tabs .nav-link.active {
  font-weight: bold;
}
.serp .card {
  border-radius: 0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.serp .card .card-block {
  padding: .75rem;
}
.serp .card .card-title {
  font-size: 1rem;
  margin: 0;
}
.serp .card .card-title a {
  color: rgba(0, 0, 0, 0.87);
}
.serp .card .card-title a:hover {
  color: #c50084;
}
.serp .card a.card-link {
  display: block;
  line-height: 3.5;
  margin-left: 0;
}

.serp_detail {
  margin-bottom: 1rem;
}
.serp_detail .card {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.serp_detail .card .card-title {
  color: #c50084;
  font-size: 1.5rem;
}
.serp_detail .card .card-title a {
  color: #c50084;
}
.serp_detail .card .card-title a:hover {
  border-bottom: 1px solid #c50084;
}
.serp_detail .card .list-group-item {
  font-size: 1rem;
}
.serp_detail .card .list-group-item h4 {
  margin-top: .5rem;
}
.serp_detail .card .list-group-item h4 a {
  font-size: 1.125rem;
  color: #c50084;
}
.serp_detail .card .list-group-item h4 a .material-icons {
  font-size: 1.5rem;
  margin-top: -3px;
}
.serp_detail .card .list-group-item h4 a:hover {
  border-bottom: 1px solid #c50084;
}
.serp_detail .card .list-group-item p {
  margin-bottom: .5rem;
}
.serp_detail .card .card-block {
  padding: .75rem;
}

.search-pagination p {
  color: rgba(0, 0, 0, 0.54);
}
.search-pagination .pagination {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 576px) {
  .serp {
    margin-bottom: 1rem;
  }
  .serp .nav-tabs {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }
  .serp .nav-tabs .nav-link::before {
    background-color: #c50084;
    height: 6px;
  }
  .serp .card-group {
    display: block;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  .serp .card .card-block {
    padding: 1.5rem 1rem;
  }
  .serp .card .card-title {
    margin-bottom: .75rem;
    margin-top: -5px;
  }
  .serp .card .card-title a {
    color: rgba(0, 0, 0, 0.87);
  }
  .serp .card .card-title a:hover {
    color: #c50084;
  }
  .serp .card a.card-link {
    display: inline-block;
    line-height: 0;
  }
  .serp .card a.card-link:not(:first-of-type):before {
    content: '\00a0\2022\00a0\00a0';
    color: #757575;
    font-size: 11px;
  }
}
ul#markdown-toc li:first-child {
  display: none;
}

pre {
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.bt-1 {
  border-top: 1px solid #757575;
}

.border-l {
  border-left: 10px solid #c50084;
}

.border-t {
  border-top: 10px solid #c50084;
}

body {
  font-family: Arial;
}

h1, h2, h3 {
  font-family: InterFace;
}

.btn-lg {
  padding: 1rem;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: 1px solid #ddd;
}

.panel-group,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-heading a,
.panel-group .panel-title,
.panel-group .panel-title a,
.panel-group .panel-body,
.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-radius: 2px;
  border: 0;
}

.panel-group .panel-heading {
  padding: 0;
}

.panel-group .panel-heading a {
  display: block;
  background: #668bb1;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  position: relative;
}

.panel-group .panel-heading a.collapsed {
  background: #eeeeee;
  color: inherit;
}

.panel-group .panel-heading a:after {
  content: '-';
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 30px;
}

.panel-group .panel-heading a.collapsed:after {
  content: '+';
}

.panel-group .panel-collapse {
  margin-top: 5px !important;
}

.panel-group .panel-body {
  background: #ffffff;
  padding: 15px;
}

.panel-group .panel {
  background-color: transparent;
}

.panel-group .panel-body p:last-child,
.panel-group .panel-body ul:last-child,
.panel-group .panel-body ol:last-child {
  margin-bottom: 0;
}

.doc-jumbotron {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 5rem;
}
@media (max-width: 767px) {
  .doc-jumbotron h1 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 3.625rem;
  }
}
@media (min-width: 992px) {
  .navdrawer-permanent ~ .doc-jumbotron {
    margin-left: 17.5rem;
  }
}

@media (min-width: 992px) {
  .navdrawer-permanent ~ .doc-main {
    margin-left: 17.5rem;
  }
}

.doc-toolbar {
  position: fixed;
}
@media (min-width: 992px) {
  .navdrawer-permanent ~ .doc-toolbar {
    margin-left: 17.5rem;
  }
}
