.doc-jumbotron {
  background-image: url(images/doc-jumbotron-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 7rem;
}
@media (min-width: 1280px) {
  .doc-jumbotron {
    margin-left: 17.5rem;
  }
}

@media (min-width: 1280px) {
  .doc-main {
    margin-left: 17.5rem;
  }
}

.doc-toolbar {
  position: fixed;
}
@media (min-width: 1280px) {
  .doc-toolbar {
    margin-left: 17.5rem;
  }
}
