@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic);
body {
  padding-bottom: 69px;
}

.content-heading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -69px;
  padding-top: 68px;
  padding-bottom: 93px;
  z-index: 0;
}

.page-brand .content-heading {
  background-image: url(./images/bg/brand.jpg);
}

.ui-card-pre {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 768px) {
  .ui-card-pre {
    min-height: 189px;
  }
  .ui-card-pre.ui-card-pre-media {
    min-height: 408px;
  }
}

.ui-tab-tab {
  margin-top: 21px;
}
