.a {
	background-color: transparent;
	border: 0;
	display: inline;
	color: $link-color;
	-webkit-appearance: none;
	&:focus,
	&:hover {
		color: $link-color-hover;
		outline: 0;
		text-decoration: underline;
	}
}

.access-hide {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	&.focusable {
		&:active,
		&:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}
}

.clearfix {
	@include clearfix();
}

.collapse {
	display: none;
	&.in {
		display: block;
	}
}

.collapsed-hide {
	display: inline;
	.collapsed & {
		display: none;
	}
}

.collapsed-show {
	display: none;
	.collapsed & {
		display: inline;
	}
}

.collapsible-region {
	overflow: hidden;
}

.collapsing {
	height: 0;
	overflow: hidden;
	position: relative;
	@include transition(height 0.3s $timing 0s);
}

.fade {
		@include opacity(0);
		@include transition(opacity 0.3s $timing);
	&.in {
		@include opacity(1);
	}
}

.img-responsive {
	@include img-responsive();
}

.list-clear {
	list-style: none;
	padding-left: 0;
}

.list-inline {
	@extend .list-clear;
	margin-left: ($grid-gutter / -2);
	> li {
		display: inline-block;
		padding-right: ($grid-gutter / 2);
		padding-left: ($grid-gutter / 2);
	}
}

.margin-bottom {
	margin-bottom: $line-height !important;
}

.margin-bottom-half {
	margin-bottom: ($line-height / 2) !important;
}

.margin-left {
	margin-left: $grid-gutter !important;
}

.margin-left-half {
	margin-left: ($grid-gutter / 2) !important;
}

.margin-no {
	margin: 0 !important;
}

.margin-no-bottom {
	margin-bottom: 0 !important;
}

.margin-no-left {
	margin-left: 0  !important;
}

.margin-no-right {
	margin-right: 0 !important;
}

.margin-no-top {
	margin-top: 0 !important;
}

.margin-right {
	margin-right: $grid-gutter !important;
}

.margin-right-half {
	margin-right: ($grid-gutter / 2) !important;
}

.margin-top {
	margin-top: $line-height !important;
}

.margin-top-half {
	margin-top: ($line-height / 2) !important;
}

.media,
.media-inner {
	overflow: hidden;
}

.media-object {
	&.pull-left {
		margin-right: $grid-gutter;
	}
	&.pull-right {
		margin-left: $grid-gutter;
	}
}

.no-overflow {
	overflow: hidden;
}

.p {
	display: block;
	margin-top: $line-height;
	margin-bottom: $line-height;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.scrollbar-measure {
	height: 50px;
	overflow: scroll;
	position: absolute;
		top: -99999px;
	width: 50px;
}

.text-overflow {
	@include text-overflow();
}

.text-nowrap {
	white-space: nowrap;
}

// text alignment
	.text-center {
		text-align: center;
	}

	.text-left {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}

// text color
	.text-alt {
		color: $brand-color;
	}

	.text-black {
		color: $black-text;
	}

	.text-blue {
		color: $palette-blue;
	}

	.text-green {
		color: $palette-green;
	}

	.text-hint {
		color: $black-hint;
	}

	.text-purple {
		color: $palette-purple;
	}

	.text-red {
		color: $palette-red;
	}

	.text-sec {
		color: $black-sec;
	}

	.text-yellow {
		color: $palette-yellow;
	}

	.text-white {
		color: $white;
	}