@import "../sass/mixins";
@import "../sass/variables";

@import "bp-ui/access";
@import "bp-ui/srp";

// project css

.modal {
    font-family: Arial;
    font-size: 1rem;
}

.modal-lg {
    max-width: 60rem;
}
.modal-header {
    border-bottom: 1px solid #f5f5f5; //#$palette-grey-100 
    padding-bottom: 1.25rem;   
}
.modal-title {
    font-size: 1.5rem;
}
.modal-body {
    padding: 1.25rem 1.5rem 0;
}
.floating-label {
  > label {
    color: #1e1e1e;
  }
}
// .form-control {
//     //border-bottom: 1px solid #f5f5f5; //#$palette-grey-100 
// }
.modalMessages {
    background-color: rgba(242, 247, 252, 1);
    margin: -1.25rem -1.5rem 2rem 0;
    padding: 2rem .5rem;
    P {
        margin: 0 2rem 2rem 1rem;
        &:first-of-type {
            margin-top: 2rem;
        }
    }
}
.modal-footer {
    border-top: 1px solid #f5f5f5; //#$palette-grey-100    
    padding-top: 1rem;
}
  .doc-jumbotron {
    background-image: url(images/doc-jumbotron-bg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: ($toolbar-height * 2);

    @include media-breakpoint-down(sm) {
      h1 {
        @include typography-display-3;
      }
    }

    @include media-breakpoint-up(lg) {
      .navdrawer-permanent ~ & {
        margin-left: $navdrawer-width-mobile;
      }
    }
  }

  .doc-main {
    @include media-breakpoint-up(lg) {
      .navdrawer-permanent ~ & {
        margin-left: $navdrawer-width-mobile;
      }
    }
  }

  .doc-toolbar {
    position: fixed;

    @include media-breakpoint-up(lg) {
      .navdrawer-permanent ~ & {
        margin-left: $navdrawer-width-mobile;
      }
    }
  }
