@import '../sass/colours';
@import '../sass/functions';
@import '../sass/mixins';
@import '../sass/variables';



// Bootstrap doc css override

.bd-example,
.highlight {
  margin-right: 0;
  margin-left: 0;
}

.bd-example {
  border-width: .2rem;
  margin-bottom: 0;

  > .dropdown-menu:first-child {
    position: relative;
    top: auto;
    left: auto;
  }
}



// CSS for accordion examples

[id='accordion'] {
  .card {
    @include border-radius(0);

    &:first-child {
      @include border-top-radius($card-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }

  .card-body {
    padding-top: 0;
  }

  .card-header {
    padding-top: $card-inner-spacer-y;
  }
}



// CSS to flatten buttons in card examples

.bd-example .card {
  &:not(.text-center):not(.text-right) .card-body .btn {
    margin-left: ($card-action-padding-x - $card-padding-x);
  }

  &.text-right .card-body .btn {
    margin-right: ($card-action-padding-x - $card-padding-x);
  }

  .card-body {
    &:last-child .btn:last-child {
      margin-bottom: ($card-action-padding-y - $card-padding-y);
    }

    &:not(:last-child) .btn:last-child {
      margin-bottom: ($card-action-padding-y - $card-inner-spacer-y);
    }

    .btn {
      background-color: transparent;
      box-shadow: none;
      min-width: $dialog-footer-btn-min-width;
      padding-right: $dialog-footer-inner-spacer-x;
      padding-left: $dialog-footer-inner-spacer-x;

      &:active,
      &.active {
        background-color: $btn-bg-active;
        box-shadow: none;
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
      }
    }

    // Colour
    @each $color, $values in $theme-colors {
      .btn-#{$color} {
        @include plain-active-focus-hover {
          color: map-get(theme-color($color), color);
        }

        &:disabled,
        &.disabled {
          color: $btn-color-disabled;
        }
      }
    }
  }
}



// Project css

.doc-jumbotron {
  background-color: map-get(theme-color(primary), color);
  background-image: url('images/doc-jumbotron-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white-primary;
  padding-top: ($toolbar-height * 2);

  @include media-breakpoint-down(sm) {
    h1 {
      @include typography-display-3;
    }
  }

  @include media-breakpoint-up(lg) {
    .navdrawer-permanent ~ & {
      margin-left: $navdrawer-width;
    }
  }

  h1:last-child,
  p:last-child {
    margin-bottom: 0;
  }
}

.doc-main {
  @include media-breakpoint-up(lg) {
    .navdrawer-permanent ~ & {
      margin-left: $navdrawer-width;
    }
  }
}

.doc-navbar-logo {
  font-weight: $font-weight-light;
  justify-content: center;
  min-width: ($toolbar-element-height - $toolbar-inner-spacer-x);

  &::before {
    border: $border-width solid currentColor;
    border-radius: $border-radius;
    opacity: 1;
  }
}

.doc-navdrawer-body {
  min-height: 100%;
}

.doc-toolbar {
  position: fixed;

  @include media-breakpoint-up(lg) {
    .navdrawer-permanent ~ & {
      margin-left: $navdrawer-width;
    }
  }
}
