@import '../sass/mixins';
@import '../sass/variables';

// Bootstrap doc css override

.bd-example,
.highlight {
  margin-left: 0;
  margin-right: 0;
}

.bd-example {
  border-width: .2rem;
  margin-bottom: 0;

  > .dropdown-menu:first-child {
    left: auto;
    position: relative;
    top: auto;
  }
}



// Project css

.doc-jumbotron {
  background-image: url('images/doc-jumbotron-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: ($toolbar-height * 2);

  @include media-breakpoint-down(sm) {
    h1 {
      @include typography-display-3;
    }
  }

  @include media-breakpoint-up(lg) {
    .navdrawer-permanent ~ & {
      margin-left: $navdrawer-width-mobile;
    }
  }
}

.doc-main {
  @include media-breakpoint-up(lg) {
    .navdrawer-permanent ~ & {
      margin-left: $navdrawer-width-mobile;
    }
  }
}

.doc-navdrawer-body {
  min-height: 100%;
}

.doc-toolbar {
  position: fixed;

  @include media-breakpoint-up(lg) {
    .navdrawer-permanent ~ & {
      margin-left: $navdrawer-width-mobile;
    }
  }
}
