.material-icons,
%material-icons {
  font-size: ($material-icon-size / $font-size-base * 1em);
  line-height: ($font-size-base / $material-icon-size * 1em);
  vertical-align: top;
}

.material-icons-inline {
  font-size: inherit;
  line-height: 1;
}
