.material-icons {
  font-size: percentage(($material-icon-size / $font-size-root) / ($font-size-default / ($font-size-default * 0 + 1)));
  line-height: (1 - ($font-size-default / ($font-size-default * 0 + 1)) / ($material-icon-size / $font-size-root));
  vertical-align: middle;
}
