.material-icons {
  font-size: #{($material-icon-size / $font-size-root) / strip-unit($font-size-base)}em;
  line-height: #{strip-unit($font-size-base) / (($material-icon-size / $font-size-root) / strip-unit($font-size-base))}em;
  vertical-align: middle;
}
