// Alignment

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  @include text-truncate;
}

// horizontal
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);

    .text#{$infix}-center {
      text-align: center !important;
    }

    .text#{$infix}-left {
      text-align: left !important;
    }

    .text#{$infix}-right {
      text-align: right !important;
    }
  }
}



// Color

// Black and white
@include text-emphasis-variant('.text-black', $black);
@include text-emphasis-variant('.text-black-primary', $black-primary);
@include text-emphasis-variant('.text-black-secondary', $black-secondary);
@include text-emphasis-variant('.text-black-hint', $black-hint);
@include text-emphasis-variant('.text-black-divider', $black-divider);

@include text-emphasis-variant('.text-white', $white);
@include text-emphasis-variant('.text-white-primary', $white-primary);
@include text-emphasis-variant('.text-white-secondary', $white-secondary);
@include text-emphasis-variant('.text-white-hint', $white-hint);
@include text-emphasis-variant('.text-white-divider', $white-divider);

// Default font colour
@include text-emphasis-variant('.text-gray-dark', $black-primary, $black);


// Palette
@each $color in $palettes {
  $i: index($palettes, $color);

  @include text-emphasis-variant('.text-#{$color}', nth($palettes-color, $i), nth($palettes-color-dark, $i));
}

@include text-emphasis-variant('.text-muted', $text-muted, $text-muted-active);

@include text-emphasis-variant('.text-inverse', $white-primary, $white);



// Italcs and weight

.font-italic {
  font-style: italic;
}

.font-weight-bold,
.font-weight-medium {
  font-weight: $font-weight-medium;
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-normal,
.font-weight-regular {
  font-weight: $font-weight-regular;
}



// Misc

.text-hide {
  @include text-hide;
}



// Transformation

.text-capitalize {
  text-transform: capitalize !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}
