//
// float
//
  .center-block {
    @include center-block;
  }

  .clearfix {
    @include clearfix;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .pull-#{$breakpoint}-left {
        @include pull-left;
      }

      .pull-#{$breakpoint}-none {
        float: none !important;
      }

      .pull-#{$breakpoint}-right {
        @include pull-right;
      }
    }
  }

//
// screenreader
//
  .invisible {
    visibility: hidden !important;
  }

  .sr-only {
    @include sr-only;
  }

  .sr-only-focusable {
    @include sr-only-focusable;
  }

  .text-hide {
    @include text-hide;
  }

//
// text
//
  // alignment
    .text-justify {
      text-align: justify !important;
    }

    .text-nowrap {
      white-space: nowrap !important;
    }

    .text-truncate {
      @include text-truncate;
    }

    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        .text-#{$breakpoint}-center {
          text-align: center !important;
        }

        .text-#{$breakpoint}-left {
          text-align: left !important;
        }

        .text-#{$breakpoint}-right {
          text-align: right !important;
        }
      }
    }

  // color
    @include text-emphasis-variant('.text-muted', $text-muted, $text-muted);

    // black and white
      @include text-emphasis-variant('.text-black', $black, $black);
      @include text-emphasis-variant('.text-black-primary', $black-primary, $black-primary);
      @include text-emphasis-variant('.text-black-secondary', $black-secondary, $black-secondary);
      @include text-emphasis-variant('.text-black-hint', $black-hint, $black-hint);
      @include text-emphasis-variant('.text-black-divider', $black-divider, $black-divider);
      @include text-emphasis-variant('.text-black-primary-solid', $black-primary-solid, $black-primary-solid);
      @include text-emphasis-variant('.text-black-secondary-solid', $black-secondary-solid, $black-secondary-solid);
      @include text-emphasis-variant('.text-black-hint-solid', $black-hint-solid, $black-hint-solid);
      @include text-emphasis-variant('.text-black-divider-solid', $black-divider-solid, $black-divider-solid);

      @include text-emphasis-variant('.text-white', $white, $white);
      @include text-emphasis-variant('.text-white-primary', $white-primary, $white-primary);
      @include text-emphasis-variant('.text-white-secondary', $white-secondary, $white-secondary);
      @include text-emphasis-variant('.text-white-hint', $white-hint, $white-hint);
      @include text-emphasis-variant('.text-white-divider', $white-divider, $white-divider);

    // palette
      @each $color in $palettes {
        $i: index($palettes, $color);

        @include text-emphasis-variant('.text-#{$color}', nth($palettes-color, $i), nth($palettes-color-dark, $i));
      }

  // italcs and weight
    .font-italic {
      font-style: italic;
    }

    .font-weight-bold,
    .font-weight-medium {
      font-weight: $font-weight-medium;
    }

    .font-weight-light {
      font-weight: $font-weight-light;
    }

    .font-weight-normal,
    .font-weight-regular {
      font-weight: $font-weight-regular;
    }

  // transformation
    .text-capitalize {
      text-transform: capitalize !important;
    }

    .text-lowercase {
      text-transform: lowercase !important;
    }

    .text-uppercase {
      text-transform: uppercase !important;
    }
