//
// margin and padding
//
  .m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  @each $prop, $prop-abbr in (margin: m, padding: p) {
    @each $size, $values in $spacers {
      $length-x: map-get($values, x);
      $length-y: map-get($values, y);

      .#{$prop-abbr}-a-#{$size} {
        #{$prop}: $length-y $length-x !important;
      }

      .#{$prop-abbr}-t-#{$size} {
        #{$prop}-top: $length-y !important;
      }

      .#{$prop-abbr}-r-#{$size} {
        #{$prop}-right: $length-x !important;
      }

      .#{$prop-abbr}-b-#{$size} {
        #{$prop}-bottom: $length-y !important;
      }

      .#{$prop-abbr}-l-#{$size} {
        #{$prop}-left: $length-x !important;
      }

      .#{$prop-abbr}-x-#{$size} {
        #{$prop}-right: $length-x !important;
        #{$prop}-left: $length-x !important;
      }
      .#{$prop-abbr}-y-#{$size} {
        #{$prop}-top: $length-y !important;
        #{$prop}-bottom: $length-y !important;
      }
    }
  }

//
// positioning
//
  .pos-f-t {
    position: fixed;
      top: 0;
      right: 0;
      left: 0;
    z-index: map-get($toolbar-elevation-shadow, elevation);
  }

//
// width
//
  .w-100 {
    width: 100% !important;
  }
