/*!
 * waves v0.7.4
 * http://fian.my.id/Waves
 */

.waves-effect {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  .waves-ripple {
    background-clip: content-box;
    background-color: $waves-bg;
    border-radius: 50%;
    height: $waves-size;
    margin-top: ($waves-size / -2);
    margin-left: ($waves-size / -2);
    opacity: 0;
    position: absolute;
    transform: scale(0) translate(0, 0);
    transition: opacity $transition-duration-lg $transition-timing-function, transform $transition-duration $transition-timing-function !important;
    width: $waves-size;
  }
  &.waves-light .waves-ripple {
    background-color: $waves-bg-light;
  }
}

.waves-wrap {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  user-select: none;
  .waves-circle > & {
    border-radius: 50%;
    mask: url();
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, #ffffff 100%, #000000 100%);
  }
}
