.footer {
	background-color: $white-bg-light;
	border-top: 1px solid $black-bg;
	color: $black-hint;
	text-align: center;
	padding-top: $margin-sm;
	padding-bottom: $margin-sm;
	position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
}
