<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
<title>Responsive utilities &middot; BDML</title>

<!-- css -->
<!-- add material font (roboto) and material icon as needed -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- add material css | replace bootstrap.css -->
<link href="../../../css/material.min.css" rel="stylesheet">

<!-- additional css for documentation -->
<link href="https://v4-alpha.getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
<link href="../../../css/project.min.css" rel="stylesheet">

</head>
<body class="doc-body">
  <div class="navbar navbar-inverse toolbar-waterfall doc-navbar" id="doc_navbar">
  <button aria-controls="doc_navdrawer" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler hidden-lg-up" data-target="#doc_navdrawer" data-toggle="navdrawer" data-type="permanent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand hidden-lg-up" href="../../../index.html">BDML</a>
</div>


  <div class="navdrawer navdrawer-permanent doc-navdrawer" id="doc_navdrawer">
  <div class="navdrawer-content">
    <div class="navdrawer-header">
      <a class="navbar-brand px-0" href="../../../index.html">BDML</a>
    </div>
    <nav class="navdrawer-nav">

    

    

      
      
      

      

        <a class="nav-item nav-link " data-toggle="collapse" href="#doc_navdrawer_layout">Layout</a>
        <div class="collapse show" id="doc_navdrawer_layout">

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/layout/grid-system/index.html">Grid system</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/layout/media-object/index.html">Media object</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm active" href="../../../gh-pages/layout/responsive-utilities/index.html">Responsive utilities</a>

          

        </div>

    

      
      
      

      

        <a class="nav-item nav-link collapsed" data-toggle="collapse" href="#doc_navdrawer_components">Components</a>
        <div class="collapse " id="doc_navdrawer_components">

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/alerts/index.html">Alerts</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/badges/index.html">Badges</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/breadcrumb/index.html">Breadcrumb</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/buttons/index.html">Buttons</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/button-group/index.html">Button group</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/cards/index.html">Cards</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/carousel/index.html">Carousel</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/collapse/index.html">Collapse</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/dropdowns/index.html">Dropdowns</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/forms/index.html">Forms</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/input-group/index.html">Input group</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/jumbotron/index.html">Jumbotron</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/list-group/index.html">List group</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/modal/index.html">Modal</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/navs/index.html">Navs</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/navbar/index.html">Navbar</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/pagination/index.html">Pagination</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/popovers/index.html">Popovers</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/progress/index.html">Progress</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/scrollspy/index.html">Scrollspy</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/components/tooltips/index.html">Tooltips</a>

          

        </div>

    

      
      
      

      

        <a class="nav-item nav-link collapsed" data-toggle="collapse" href="#doc_navdrawer_utilities">Utilities</a>
        <div class="collapse " id="doc_navdrawer_utilities">

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/borders/index.html">Borders</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/clearfix/index.html">Clearfix</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/close-icon/index.html">Close icon</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/colors/index.html">Colors</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/flexbox/index.html">Flexbox</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/display-property/index.html">Display property</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/image-replacement/index.html">Image replacement</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/invisible-content/index.html">Invisible content</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/position/index.html">Position</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/responsive-helpers/index.html">Responsive helpers</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/screenreaders/index.html">Screenreaders</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/sizing/index.html">Sizing</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/spacing/index.html">Spacing</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/typography/index.html">Typography</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="../../../gh-pages/utilities/vertical-alignment/index.html">Vertical alignment</a>

          

        </div>

    

    </nav>
  </div>
</div>


  <div class="jumbotron jumbotron-fluid mb-xl doc-jumbotron" id="doc_jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
        <h1 class="typography-display-4">Responsive utilities</h1>
        <p class="font-weight-light typography-title">Use responsive display utility classes for showing and hiding content by device, via media query.</p>
      </div>
    </div>
  </div>
</div>


  <main class="doc-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
          <div class="bd-content mb-xl">
            <p>For faster mobile-friendly development, use these utility classes for showing and hiding content by device via media query. Also included are utility classes for toggling content when printed.</p>

<p>Try to use these on a limited basis and avoid creating entirely different versions of the same site. Instead, use them to complement each device’s presentation.</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#available-classes" id="markdown-toc-available-classes">Available classes</a></li>
  <li><a href="#test-cases" id="markdown-toc-test-cases">Test cases</a></li>
</ul>

<h2 id="available-classes">Available classes</h2>

<ul>
  <li>The <code class="highlighter-rouge">.hidden-*-up</code> classes hide the element when the viewport is at the given breakpoint or wider. For example, <code class="highlighter-rouge">.hidden-md-up</code> hides an element on medium, large, and extra-large viewports.</li>
  <li>The <code class="highlighter-rouge">.hidden-*-down</code> classes hide the element when the viewport is at the given breakpoint or smaller. For example, <code class="highlighter-rouge">.hidden-md-down</code> hides an element on extra-small, small, and medium viewports.</li>
  <li>There are no explicit “visible”/”show” responsive utility classes; you make an element visible by simply not hiding it at that breakpoint size.</li>
  <li>You can combine one <code class="highlighter-rouge">.hidden-*-up</code> class with one <code class="highlighter-rouge">.hidden-*-down</code> class to show an element only on a given interval of screen sizes. For example, <code class="highlighter-rouge">.hidden-sm-down.hidden-xl-up</code> shows the element only on medium and large viewports. Using multiple <code class="highlighter-rouge">.hidden-*-up</code> classes or multiple <code class="highlighter-rouge">.hidden-*-down</code> classes is redundant and pointless.</li>
  <li>These classes don’t attempt to accommodate less common cases where an element’s visibility can’t be expressed as a single contiguous range of viewport breakpoint sizes; you will instead need to use custom CSS in such cases.</li>
</ul>

<table class="table table-bordered table-striped responsive-utilities table-responsive">
  <thead>
    <tr>
      <th></th>
      <th>
        Extra small devices
        <small>Portrait phones (&lt;544px)</small>
      </th>
      <th>
        Small devices
        <small>Landscape phones (&ge;544px - &lt;768px)</small>
      </th>
      <th>
        Medium devices
        <small>Tablets (&ge;768px - &lt;992px)</small>
      </th>
      <th>
        Large devices
        <small>Desktops (&ge;992px - &lt;1200px)</small>
      </th>
      <th>
        Extra large devices
        <small>Desktops (&ge;1200px)</small>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><code>.hidden-xs-down</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th scope="row"><code>.hidden-sm-down</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th scope="row"><code>.hidden-md-down</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th scope="row"><code>.hidden-lg-down</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th scope="row"><code>.hidden-xl-down</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th scope="row"><code>.hidden-xs-up</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th scope="row"><code>.hidden-sm-up</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th scope="row"><code>.hidden-md-up</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th scope="row"><code>.hidden-lg-up</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th scope="row"><code>.hidden-xl-up</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
    </tr>
  </tbody>
</table>

<h2 id="responsive-utilities-print">Print classes</h2>
<p>Similar to the regular responsive classes, use these for toggling content for print.</p>
<table class="table table-bordered table-striped responsive-utilities table-responsive">
  <thead>
    <tr>
      <th>Class</th>
      <th>Browser</th>
      <th>Print</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><code>.visible-print-block</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible<br />(as <code>display: block</code>)</td>
    </tr>
    <tr>
      <th><code>.visible-print-inline</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible<br />(as <code>display: inline</code>)</td>
    </tr>
    <tr>
      <th><code>.visible-print-inline-block</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible<br />(as <code>display: inline-block</code>)</td>
    </tr>
    <tr>
      <th><code>.hidden-print</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
    </tr>
  </tbody>
</table>

<h2 id="test-cases">Test cases</h2>

<p>Resize your browser or load on different devices to test the responsive utility classes.</p>

<p>Green checkmarks indicate the element <strong>is visible</strong> in your current viewport.</p>

<div class="row responsive-utilities-test visible-on">
  <div class="col-6 col-sm-3">
    <span class="hidden-sm-up visible">&#10004; Visible on extra small</span>
    <span class="hidden-xs-down not-visible">Extra small</span>
  </div>
  <div class="col-6 col-sm-3">
    <span class="hidden-md-up visible">&#10004; Visible on small or narrower</span>
    <span class="hidden-sm-down not-visible">Small or narrower</span>
  </div>
  <div class="col-6 col-sm-3">
    <span class="hidden-lg-up visible">&#10004; Visible on medium or narrower</span>
    <span class="hidden-md-down not-visible">Medium or narrower</span>
  </div>
  <div class="col-6 col-sm-3">
    <span class="hidden-xl-up visible">&#10004; Visible on large or narrower</span>
    <span class="hidden-lg-down not-visible">Large or narrower</span>
  </div>
</div>

<hr />

<div class="row responsive-utilities-test visible-on">
  <div class="col-6 col-sm-3">
    <span class="hidden-xs-down visible">&#10004; Visible on small or wider</span>
    <span class="hidden-sm-up not-visible">Small or wider</span>
  </div>
  <div class="col-6 col-sm-3">
    <span class="hidden-sm-down visible">&#10004; Visible on medium or wider</span>
    <span class="hidden-md-up not-visible">Medium or wider</span>
  </div>
  <div class="col-6 col-sm-3">
    <span class="hidden-md-down visible">&#10004; Visible on large or wider</span>
    <span class="hidden-lg-up not-visible">Large or wider</span>
  </div>
  <div class="col-6 col-sm-3">
    <span class="hidden-lg-down visible">&#10004; Visible on extra large</span>
    <span class="hidden-xl-up not-visible">Extra large</span>
  </div>
</div>

<hr />

<div class="row responsive-utilities-test visible-on">
  <div class="col-6 col-sm-4">
    <span class="hidden-sm-up visible">&#10004; Your viewport is exactly extra small</span>
    <span class="hidden-xs-down not-visible">Your viewport is NOT exactly extra small</span>
  </div>
  <div class="col-6 col-sm-4">
    <span class="hidden-xs-down hidden-md-up visible">&#10004; Your viewport is exactly small</span>
    <span class="hidden-sm-only not-visible">Your viewport is NOT exactly small</span>
  </div>
  <div class="col-6 col-sm-4">
    <span class="hidden-sm-down hidden-lg-up visible">&#10004; Your viewport is exactly medium</span>
    <span class="hidden-md-only not-visible">Your viewport is NOT exactly medium</span>
  </div>
  </div>

<div class="row responsive-utilities-test visible-on">
  <div class="col-6 col-sm-4">
    <span class="hidden-md-down hidden-xl-up visible">&#10004; Your viewport is exactly large</span>
    <span class="hidden-lg-only not-visible">Your viewport is NOT exactly large</span>
  </div>
  <div class="col-6 col-sm-4">
    <span class="hidden-lg-down visible">&#10004; Your viewport is exactly extra large</span>
    <span class="hidden-xl-only not-visible">Your viewport is NOT exactly extra large</span>
  </div>
</div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- js -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<!-- add material js on top of bootstrap.js -->
<script src="../../../js/material.min.js"></script>

<!-- additional js for documentation -->
<script src="../../../js/project.min.js"></script>

</body>
</html>
