@function breakpoint-min($name) {
	$min: map-get($grid-breakpoints, $name);
	@return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name) {
	$min: breakpoint-min($name);
	@if $min {
		@media (min-width: $min) {
			@content;
		}
	} @else {
		@content
	}
}