@mixin reset-material-icons {
  font-size: ($material-icon-size / $font-size-base * 1em);
  line-height: ($font-size-base / $material-icon-size * 1em);
  vertical-align: top;
}

@mixin set-material-icons {
  @include reset-material-icons;

  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
