// acceleration curve: permanently leaving the screen
  @mixin transition-acceleration($property...) {
    transition-duration: $transition-duration-mobile-leaving;
    transition-property: $property;
    transition-timing-function: $transition-timing-function-acceleration;

    @include media-breakpoint-up(sm) {
      transition-duration: $transition-duration-tablet-leaving;
    }

    @include media-breakpoint-up(lg) {
      transition-duration: $transition-duration-desktop-leaving;
    }
  }

// deceleration curve: entering the screen
  @mixin transition-deceleration($property...) {
    transition-duration: $transition-duration-mobile-entering;
    transition-property: $property;
    transition-timing-function: $transition-timing-function-deceleration;

    @include media-breakpoint-up(sm) {
      transition-duration: $transition-duration-tablet-entering;
    }

    @include media-breakpoint-up(lg) {
      transition-duration: $transition-duration-desktop-entering;
    }
  }

// sharp curve: temporarily leaving the screen
  @mixin transition-sharp($property...) {
    transition-duration: $transition-duration-mobile-leaving;
    transition-property: $property;
    transition-timing-function: $transition-timing-function-sharp;

    @include media-breakpoint-up(sm) {
      transition-duration: $transition-duration-tablet-leaving;
    }

    @include media-breakpoint-up(lg) {
      transition-duration: $transition-duration-desktop-leaving;
    }
  }

// standard curve: relative movement
  @mixin transition-standard($property...) {
    transition-duration: $transition-duration-mobile;
    transition-property: $property;
    transition-timing-function: $transition-timing-function-standard;

    @include media-breakpoint-up(sm) {
      transition-duration: $transition-duration-tablet;
    }

    @include media-breakpoint-up(lg) {
      transition-duration: $transition-duration-desktop;
    }
  }

// standard curve: relative movement
  @mixin transition-standard($property...) {
    transition-duration: $transition-duration-mobile;
    transition-property: $property;
    transition-timing-function: $transition-timing-function-standard;

    @include media-breakpoint-up(sm) {
      transition-duration: $transition-duration-tablet;
    }

    @include media-breakpoint-up(lg) {
      transition-duration: $transition-duration-desktop;
    }
  }

// standard curve: relative movement - complex, full-screen, large transitions
  @mixin transition-standard-complex($property...) {
    transition-duration: $transition-duration-mobile-complex;
    transition-property: $property;
    transition-timing-function: $transition-timing-function-standard;

    @include media-breakpoint-up(sm) {
      transition-duration: $transition-duration-tablet-complex;
    }

    @include media-breakpoint-up(lg) {
      transition-duration: $transition-duration-desktop-complex;
    }
  }
