@function hex-to-rgba($color, $opacity) {
  @return rgba(red($color), green($color), blue($color), $opacity);
}

@mixin center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}

@mixin pull-left {
  float: left !important;
}

@mixin pull-right {
  float: right !important;
}

@mixin sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

@mixin sr-only-focusable {
  // active, focus, hover
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
}

@mixin tab-focus {
  outline: thin dotted;
  outline: 3px auto -webkit-focus-ring-color;
  outline-offset: 0;
}

@mixin text-hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: "0/0" a;
  text-shadow: none;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
