@import "mixins";
@import "variables";

//
// base css
//
  @import "base/base";
  @import "base/grid";
  @import "base/typography";

//
// bootstrap components
// components covered in bootstrap's (v4.0.0-alpha.3) css but not in material design guidelines
//
  @import "bootstrap/alert";
  @import "bootstrap/animation";
  @import "bootstrap/breadcrumb";
  @import "bootstrap/button-group";
  @import "bootstrap/carousel";
  @import "bootstrap/close";
  @import "bootstrap/code";
  @import "bootstrap/form";
  @import "bootstrap/image";
  @import "bootstrap/jumbotron";
  @import "bootstrap/media";
  @import "bootstrap/nav";
  @import "bootstrap/pagination";

//
// material components
// components covered in material design guidelines https://material.google.com/components
//
  @import "material/button";
  @import "material/button-flat";
  @import "material/button-float";
  @import "material/card";
  @import "material/chip";
  @import "material/data-table";
  @import "material/dialog";
  @import "material/expansion-panel";
  @import "material/menu";
  @import "material/navdrawer";
  @import "material/picker";
  @import "material/progress";
  @import "material/selection-control";
  @import "material/stepper";
  @import "material/tab";
  @import "material/text-field";
  @import "material/text-field-floating-label";
  @import "material/text-field-input-group";
  @import "material/text-field-textarea";
  @import "material/toolbar";

//
// utilities
//
  @import "utilities";
