@import "variables/variable";

@import "mixins/breakpoint", "mixins/form", "mixins/grid", "mixins/typography", "mixins/utility.scss";

//
// base css
//
  @import "base/base";
  @import "base/grid";
  @import "base/typography";

//
// bootstrap components
// components covered in Bootstrap's (v4.0.0-alpha.2) css but not in material design guidelines
//
  @import "bootstrap/code";
  @import "bootstrap/nav";

//
// material components
// components covered in material design guidelines https://material.google.com/components
//
  @import "material/button";
  @import "material/button-flat";
  @import "material/button-float";
  @import "material/card";
  @import "material/chip";
  @import "material/data-table";
  @import "material/dialog";
  @import "material/menu";
  @import "material/selection-control";
  @import "material/text-field";
  @import "material/text-field-floating-label";
  @import "material/text-field-input-group";
  @import "material/text-field-textarea";

//
// utilities
//
  @import "utilities/material-icons";
  @import "utilities/utility";
  @import "utilities/utility-background";
  @import "utilities/utility-responsive";
  @import "utilities/utility-spacing";
  @import "utilities/waves";
