.breadcrumb {
	@extend .nav;
	@extend .nav-list;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	@include opacity(1);
	@include transition(opacity 0.3s $timing 0s);
	a,
	.a {
		float: left;
		&:focus,
		&:hover {
			color: $link-color;
		}
	}
	li {
		@include opacity(1);
		@include transition(opacity 0.3s $timing 0s);
		/*
		&:before {
			@extend .fa;
			content: $fa-var-angle-right;
			display: block;
			float: left;
			line-height: $line-height;
			padding-top: ($line-height / 2);
			padding-bottom: ($line-height / 2);
			@include transform(rotate(0deg));
			-webkit-transition: -webkit-transform 0.3s $timing 0s;
			        transition: transform 0.3s $timing 0s;
		}
		&:first-child:before {
			content: $fa-var-comments-o;
		}
		*/
		&.active {
			> a,
			> .a {
				color: $black-text;
			}
		}
	}
	&:hover li {
		@include opacity(0.5);
		&:hover {
			@include opacity(1);
			~ li:before {
				@include transform(rotate(-180deg));
			}
		}
	}
}