.content {
	padding-bottom: $line-height;
	.searching & {
		display: none;
	}
}

.content-heading {
	background-color: $brand-color;
	color: $white;
	overflow: hidden;
	padding-top: ($line-height * 2);
	position: relative;
	z-index: 1;
	@include transition(background-color 0.3s $timing 0s, color 0.3s $timing 0s);
	.page-blue & {
		background-color: $palette-blue;
	}
	.page-green & {
		background-color: $palette-green;
	}
	.page-purple & {
		background-color: $palette-purple;
	}
	.page-red & {
		background-color: $palette-red;
	}
	.page-yellow & {
		background-color: $palette-yellow;
	}
	.heading {
		font-weight: 300;
	}
}

.content-nav {
	background-color: $white;
	@include box-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.content-sub-heading {
	color: $brand-color;
	font-size: $font-size-h4;
	font-weight: 400;
	line-height: $line-height-h4;
	.page-blue & {
		color:  $palette-blue;
	}
	.page-green & {
		color:  $palette-green;
	}
	.page-purple & {
		color:  $palette-purple;
	}
	.page-red & {
		color:  $palette-red;
	}
	.page-yellow & {
		color:  $palette-yellow;
	}
}