.content {
	padding-bottom: $line-height;
	.searching & {
		display: none;
	}
}

.content-heading {
	background-color: $brand-color;
	color: $white;
	overflow: hidden;
	padding-top: ($line-height * 2);
	position: relative;
	z-index: 1;
	@include transition(background-color 0.3s $timing 0s, color 0.3s $timing 0s);
	.page-blue & {
		background-color: $palette-blue;
	}
	.page-green & {
		background-color: $palette-green;
	}
	.page-purple & {
		background-color: $palette-purple;
	}
	.page-red & {
		background-color: $palette-red;
	}
	.page-yellow & {
		background-color: $palette-yellow;
	}
	.heading {
		font-weight: 300;
	}
}

.content-nav {
	background-color: $white;
	@include box-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.content-sub-heading {
	color: $brand-color;
	font-size: $font-size-h4;
	font-weight: 400;
	line-height: $line-height-h4;
	.page-blue & {
		color:  $palette-blue;
	}
	.page-green & {
		color:  $palette-green;
	}
	.page-purple & {
		color:  $palette-purple;
	}
	.page-red & {
		color:  $palette-red;
	}
	.page-yellow & {
		color:  $palette-yellow;
	}
}

// fixed left/right hand side column
	.content-fix {
		position: relative;
		z-index: 1;
		&.fixed {
			.content-fix-wrap {
				overflow-x: hidden;
				overflow-y: auto;
				padding-right: ($grid-gutter * 2);
				padding-left: ($grid-gutter * 2);
				position: absolute;
					top: 0;
					right: ($grid-gutter * -1);
					bottom: 0;
					left: ($grid-gutter * -1);
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: -ms-autohiding-scrollbar;
			}
			.content-fix-scroll {
				position: fixed;
					top: ($line-height * 2);
					bottom: 0;
			}
		}
	}

	.content-fix-scroll {
		margin-right: ($grid-gutter * -1);
		margin-left: ($grid-gutter * -1);
		overflow: hidden;
		padding-right: $grid-gutter;
		padding-left: $grid-gutter;
	}

	.row-fix {
		position: relative;
	}