.footer {
	border-top: 1px solid $black-bg;
	color: $black-hint;
	text-align: center;
	position: absolute;
		bottom: 0;
		left: 0;
	width: 100%;
	a {
		color: $black-hint;
		&:focus,
		&:hover {
			color: $black-text;
		}
	}
}

.footer-fix {
	background-color: $white-bg;
	position: fixed;
	z-index: $header-base;
}