.footer {
	background-color: $white-bg-light;
	border-top: 1px solid $black-bg;
	color: $black-hint;
	text-align: center;
	position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	a {
		color: $black-hint;
		&:focus,
		&:hover {
			color: $black-text;
		}
	}
}