.header {
	background-color: $brand-color;
	color: $white;
	position: fixed;
		top: 0;
		left: 0;
	width: 100%;
	z-index: $header-base;
	@include box-shadow(0 0 0 rgba(0, 0, 0, 0));
	@include clearfix();
	@include transition(background-color 0.3s $timing 0s, box-shadow 0.3s $timing 0s);
	&.fixed,
	.menu-open & {
		background-color: $brand-color-dark-m;
		@include box-shadow(0 3px 10px rgba(0, 0, 0, 0.5));
	}
	a {
		color: $white;
	}
	.nav {
		margin: 0;
		> li {
			> a {
				.avatar,
				.icon {
					-webkit-font-smoothing: subpixel-antialiased;
					-moz-osx-font-smoothing: grayscale;
					@include transition(all 0.3s $timing 0s);
				}
				.header-close {
					position: absolute;
						top: ($line-height / 2 + ($line-height - $font-size) / 2);
						left: 0;
					text-align: center;
					width: 100%;
					@include opacity(0);
					@include transform(rotate(-225deg));
				}
			}
			&.active > a {
				.avatar,
				.icon {
					@include opacity(0);
					@include transform(rotate(225deg));
				}
				.header-close {
					@include opacity(1);
					@include transform(rotate(0));
				}
			}
		}
	}
}

.header-logo {
	display: block;
	float: left;
	font-size: $font-size-h4;
	font-weight: 300;
	height: ($line-height * 2);
	line-height: $line-height-h4;
	margin: 0;
	padding: (($line-height * 2 - $line-height-h4) / 2) 0;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}