.header {
	background-color: $brand-color;
	color: $white;
	position: fixed;
		top: 0;
		left: 0;
	width: 100%;
	z-index: $header-base;
	@include box-shadow(0 0 0 rgba(0, 0, 0, 0));
	@include clearfix();
	@include transition(background-color 0.3s $timing, box-shadow 0.15s linear);
	&.fixed,
	.menu-open & {
		background-color: $brand-color-dark-m;
		@include box-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
	}
	.page-blue & {
		background-color: $palette-blue;
		&.fixed {
			background-color: $palette-blue-dark-m;
		}
	}
	.menu-open.page-blue & {
		background-color: $palette-blue-dark-m;
	}
	.page-green & {
		background-color: $palette-green;
		&.fixed {
			background-color: $palette-green-dark-m;
		}
	}
	.menu-open.page-green & {
		background-color: $palette-green-dark-m;
	}
	.page-purple & {
		background-color: $palette-purple;
		&.fixed {
			background-color: $palette-purple-dark-m;
		}
	}
	.menu-open.page-purple & {
		background-color: $palette-purple-dark-m;
	}
	.page-red & {
		background-color: $palette-red;
		&.fixed {
			background-color: $palette-red-dark-m;
		}
	}
	.menu-open.page-red & {
		background-color: $palette-red-dark-m;
	}
	.page-yellow & {
		background-color: $palette-yellow;
		&.fixed {
			background-color: $palette-yellow-dark-m;
		}
	}
	.menu-open.page-yellow & {
		background-color: $palette-yellow-dark-m;
	}
	a {
		color: $white;
	}
	.dropdown.open .dropdown-toggle {
		color: $black-text;
	}
	.dropdown-menu a {
		color: $black-text;
	}
	.nav {
		margin: 0;
		> li {
			> a {
				.avatar,
				.fa,
				.icon {
					@include transition(all 0.3s $timing);
				}
				.header-close {
					position: absolute;
						top: ($line-height / 2 + ($line-height - $font-size) / 2);
						left: 0;
					text-align: center;
					width: 100%;
					@include opacity(0);
					@include transform(rotate(-225deg));
				}
			}
			&.active > a {
				.avatar,
				.fa,
				.icon {
					@include opacity(0);
					@include transform(rotate(225deg));
				}
				.header-close {
					@include opacity(1);
					@include transform(rotate(0));
				}
			}
		}
	}
}

.header-btn {
	display: block;
	float: left;
	height: ($line-height * 2);
	padding: (($line-height * 2 - $line-height-h4) / 2) $grid-gutter;
	text-align: center;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

.header-logo,
.header-text {
	display: block;
	float: left;
	font-weight: 300;
	height: ($line-height * 2);
	line-height: $line-height-h4;
	margin: 0;
	padding: (($line-height * 2 - $line-height-h4) / 2) 0;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

.header-logo {
	font-size: $font-size-h4;
}