.menu {
	position: fixed;
		top: ($line-height * 2);
		bottom: 0;
		left: 0;
	width: 100%;
	z-index: ($header-base - 1);
	@include box-shadow(0 0 0 rgba(0, 0, 0, 0));
	@include transform(translate3d(-100%, 0, 0));
	-webkit-transition: -webkit-box-shadow 0s linear 0.3s, -webkit-transform 0.3s $timing 0s;
	        transition: box-shadow 0s linear 0.3s, transform 0.3s $timing 0s;
	&.menu-right {
		// position
			right: 0;
			left: auto;
		@include transform(translate3d(100%, 0, 0));
	}
	&.open {
		@include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
		@include transform(translate3d(0, 0, 0));
		-webkit-transition: -webkit-box-shadow 0s linear 0s, -webkit-transform 0.3s $timing 0s;
		        transition: box-shadow 0s linear 0s, transform 0.3s $timing 0s;
	}
	// 480
		@include responsive(xs) {
			width: 320px;
		}
	// 992
		@include responsive(md) {
			width: 400px;
		}
	// no boxshadow
		.no-boxshadow & {
			border-right: 1px solid $black-hint;
			&.menu-right {
				border-right: 0;
				border-left: 1px solid $black-hint;
			}
		}
	// no csstransforms
		.no-csstransforms & {
			display: none;
			&.open {
				display: block;
			}
		}
}

.menu-content {
	padding-top: $line-height;
	padding-bottom: $line-height;
	hr {
		border-top-color: $black-bg;
	}
	.nav {
		margin-top: 0;
		margin-bottom: 0;
		a {
			color: $black-sec;
			font-weight: 700;
			overflow: hidden;
			text-overlfow: ellipsis;
			white-space: nowrap;
			&:focus,
			&:hover {
				background-color: $white-bg-light;
			}
			.icon {
				margin-right: $grid-gutter;
			}
		}
		li.active > a {
			background-color: $white-bg;
			color: $brand-color;
			.page-blue & {
				color: $palette-blue;
			}
			.page-green & {
				color: $palette-green;
			}
			.page-purple & {
				color: $palette-purple;
			}
			.page-red & {
				color: $palette-red;
			}
			.page-yellow & {
				color: $palette-yellow;
			}
		}
		> li.active > a {
			background-color: $white-bg-dark;
		}
		ul a {
			font-weight: 400;
			padding-left: ($grid-gutter * 3);
		}
	}
}

.menu-content-inner {
	padding-right: $grid-gutter;
	padding-left: $grid-gutter;
}

.menu-scroll {
	background-color: $white;
	height: 100%;
	overflow: hidden;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	z-index: 1;
}

.menu-top {
	background-color: $black-text;
	color: $white-bg;
	position: relative;
	a {
		color: $white-bg;
		text-decoration: none;
		&:focus,
		&:hover {
			color: $white;
		}
	}
}

.menu-top-form {
	margin-top: ($line-height * 0.5);
	margin-bottom: ($line-height * 0.5);
}

.menu-top-img {
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-flexbox;
	display: -webkit-flex;
	display:         flex;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	-webkit-align-items: center;
	        align-items: center;
	img {
		min-height: 100%;
		width: 100%;
		@include opacity(0.5);
	}
}

.menu-top-info {
	padding: ($line-height * 1.5) $grid-gutter;
	position: relative;
}

.menu-top-user {
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-flexbox;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	        align-items: center;
	@include clearfix();
}

.menu-wrap {
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: ($grid-gutter * 2);
	position: absolute;
		top: 0;
		right: ($grid-gutter * -2);
		bottom: 0;
		left: 0;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

// fbtn
	.menu-right.open ~ .fbtn-container{
		// 480
			@include responsive(xs) {
				// position
					right: ($grid-gutter + 320);
			}
		// 992
			@include responsive(md) {
				// position
					right: ($grid-gutter + 400);
			}
	}