.menu {
	position: fixed;
		top: ($line-height * 2);
		bottom: 0;
		left: -100%;
	width: 100%;
	z-index: ($header-base - 1);
	@include box-shadow(0 0 0 rgba(0, 0, 0, 0));
	@include transition(all 0.3s $timing, box-shadow 0s 0.3s);
	&.open {
		// position
			left: 0;
		@include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
		@include transition(all 0.3s $timing, box-shadow 0s);
	}
	// 480
		@include responsive(xs) {
			// position
				left: ($grid-gutter * -20);
			width: ($grid-gutter * 20);
		}
	// 992
		@include responsive(md) {
			// position
				left: ($grid-gutter * -25);
			width: ($grid-gutter * 25);
		}
	// menu right
		&.menu-right {
			// position
				right: -100%;
				left: auto;
			&.open {
				// position
					right: 0;
			}
			// 480
				@include responsive(xs) {
					// position
						right: ($grid-gutter * -20);
				}
			// 992
				@include responsive(md) {
					// position
						right: ($grid-gutter * -25);
				}
		}
	// no boxshadow
		.no-boxshadow & {
			border-right: 1px solid $black-bg;
			&.menu-right {
				border-right: 0;
				border-left: 1px solid $black-bg;
			}
		}
}

.menu-content {
	padding-top: $line-height;
	padding-bottom: $line-height;
	hr {
		border-top-color: $black-bg;
	}
	.nav {
		margin-top: 0;
		margin-bottom: 0;
		a {
			color: $black-sec;
			font-weight: 700;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			&:focus,
			&:hover {
				background-color: $white-bg-light;
			}
			.fa,
			.icon {
				margin-right: $grid-gutter;
			}
		}
		li.active > a {
			background-color: $white-bg;
			color: $brand-color;
			.page-blue & {
				color: $palette-blue;
			}
			.page-green & {
				color: $palette-green;
			}
			.page-purple & {
				color: $palette-purple;
			}
			.page-red & {
				color: $palette-red;
			}
			.page-yellow & {
				color: $palette-yellow;
			}
		}
		> li.active > a {
			background-color: $white-bg-dark;
		}
		ul a {
			font-weight: 400;
			padding-left: ($grid-gutter * 3);
		}
	}
	// 480
		@include responsive(xs) {
			width: ($grid-gutter * 20);
		}
	// 992
		@include responsive(md) {
			width: ($grid-gutter * 25);
		}
}

.menu-content-inner {
	padding-right: $grid-gutter;
	padding-left: $grid-gutter;
}

.menu-scroll {
	background-color: $white;
	height: 100%;
	overflow: hidden;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	z-index: 1;
}

.menu-top {
	background-color: $black-text;
	color: $white-bg;
	position: relative;
	a {
		color: $white-bg;
		text-decoration: none;
		&:focus,
		&:hover {
			color: $white;
		}
	}
	// 480
		@include responsive(xs) {
			width: 320px;
		}
	// 992
		@include responsive(md) {
			width: 400px;
		}
}

.menu-top-form {
	margin-top: ($line-height / 4);
	margin-bottom: ($line-height / 4);
}

.menu-top-img {
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-flexbox;
	display: -webkit-flex;
	display:         flex;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	-webkit-align-items: center;
	        align-items: center;
	img {
		min-height: 100%;
		width: 100%;
		@include opacity(0.5);
	}
}

.menu-top-info {
	padding: ($line-height * 1.5) $grid-gutter;
	position: relative;
}

.menu-top-user {
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-flexbox;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	        align-items: center;
	@include clearfix();
}

.menu-wrap {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	// 480
		@include responsive(xs) {
			padding-right: ($grid-gutter * 2);
			// position
				right: ($grid-gutter * -2);
		}
}

// fbtn
	.menu-right.open ~ .fbtn-container{
		// 480
			@include responsive(xs) {
				// position
					right: ($grid-gutter + 320);
			}
		// 992
			@include responsive(md) {
				// position
					right: ($grid-gutter + 400);
			}
	}