<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
<title>Progress &middot; BDML</title>

<!-- css -->
<!-- add material font (roboto) and material icon as needed -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- add material css | replace bootstrap.css -->
<link href="http://localhost:4000/css/material.min.css" rel="stylesheet">

<!-- additional css for documentation -->
<link href="https://v4-alpha.getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
<link href="http://localhost:4000/css/project.min.css" rel="stylesheet">

</head>
<body class="doc-body">
  <div class="navbar navbar-inverse toolbar-waterfall doc-navbar" id="doc_navbar">
  <button aria-controls="doc_navdrawer" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler hidden-lg-up" data-target="#doc_navdrawer" data-toggle="navdrawer" data-type="permanent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand hidden-lg-up" href="http://localhost:4000/index.html">BDML</a>
</div>


  <div class="navdrawer navdrawer-permanent doc-navdrawer" id="doc_navdrawer">
  <div class="navdrawer-content">
    <div class="navdrawer-header">
      <a class="navbar-brand px-0" href="http://localhost:4000/index.html">BDML</a>
    </div>
    <nav class="navdrawer-nav">

    

    

      
      
      

      

        <a class="nav-item nav-link collapsed" data-toggle="collapse" href="#doc_navdrawer_layout">Layout</a>
        <div class="collapse " id="doc_navdrawer_layout">

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/layout/grid-system/index.html">Grid system</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/layout/media-object/index.html">Media object</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/layout/responsive-utilities/index.html">Responsive utilities</a>

          

        </div>

    

      
      
      

      

        <a class="nav-item nav-link " data-toggle="collapse" href="#doc_navdrawer_components">Components</a>
        <div class="collapse show" id="doc_navdrawer_components">

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/alerts/index.html">Alerts</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/badges/index.html">Badges</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/breadcrumb/index.html">Breadcrumb</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/buttons/index.html">Buttons</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/button-group/index.html">Button group</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/cards/index.html">Cards</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/carousel/index.html">Carousel</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/collapse/index.html">Collapse</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/dropdowns/index.html">Dropdowns</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/forms/index.html">Forms</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/input-group/index.html">Input group</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/jumbotron/index.html">Jumbotron</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/list-group/index.html">List group</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/modal/index.html">Modal</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/navs/index.html">Navs</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/navbar/index.html">Navbar</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/pagination/index.html">Pagination</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/popovers/index.html">Popovers</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm active" href="http://localhost:4000/gh-pages/components/progress/index.html">Progress</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/scrollspy/index.html">Scrollspy</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/components/tooltips/index.html">Tooltips</a>

          

        </div>

    

      
      
      

      

        <a class="nav-item nav-link collapsed" data-toggle="collapse" href="#doc_navdrawer_utilities">Utilities</a>
        <div class="collapse " id="doc_navdrawer_utilities">

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/borders/index.html">Borders</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/clearfix/index.html">Clearfix</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/close-icon/index.html">Close icon</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/colors/index.html">Colors</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/flexbox/index.html">Flexbox</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/display-property/index.html">Display property</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/image-replacement/index.html">Image replacement</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/invisible-content/index.html">Invisible content</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/position/index.html">Position</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/responsive-helpers/index.html">Responsive helpers</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/screenreaders/index.html">Screenreaders</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/sizing/index.html">Sizing</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/spacing/index.html">Spacing</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/typography/index.html">Typography</a>

          

            
            

            

            <a class="nav-item nav-link font-weight-normal pl-lg py-sm " href="http://localhost:4000/gh-pages/utilities/vertical-alignment/index.html">Vertical alignment</a>

          

        </div>

    

    </nav>
  </div>
</div>


  <div class="jumbotron jumbotron-fluid mb-xl doc-jumbotron" id="doc_jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
        <h1 class="typography-display-4">Progress</h1>
        <p class="font-weight-light typography-title">Documentation and examples for using Bootstrap progress bars.</p>
      </div>
    </div>
  </div>
</div>


  <main class="doc-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
          <div class="bd-content mb-xl">
            <p>Use our custom progress component for displaying simple or complex progress bars. We don’t use <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress">the HTML5 <code class="highlighter-rouge">&lt;progress&gt;</code> element</a>, ensuring you can stack progress bars, animate them, and place text labels over them.</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#how-it-works" id="markdown-toc-how-it-works">How it works</a></li>
  <li><a href="#customizing" id="markdown-toc-customizing">Customizing</a>    <ul>
      <li><a href="#labels" id="markdown-toc-labels">Labels</a></li>
      <li><a href="#height" id="markdown-toc-height">Height</a></li>
      <li><a href="#backgrounds" id="markdown-toc-backgrounds">Backgrounds</a></li>
      <li><a href="#multiple-bars" id="markdown-toc-multiple-bars">Multiple bars</a></li>
      <li><a href="#striped" id="markdown-toc-striped">Striped</a></li>
      <li><a href="#animated-stripes" id="markdown-toc-animated-stripes">Animated stripes</a></li>
    </ul>
  </li>
</ul>

<h2 id="how-it-works">How it works</h2>

<p>Progress components are built with two HTML elements, some CSS to set the width, and a few attributes.</p>

<ul>
  <li>We use the <code class="highlighter-rouge">.progress</code> as a wrapper to indicate the max value of the progress bar.</li>
  <li>We use the inner <code class="highlighter-rouge">.progress-bar</code> to indicate the progress so far.</li>
  <li>The <code class="highlighter-rouge">.progress-bar</code> requires an inline style, utility class, or custom CSS to set their width.</li>
  <li>The <code class="highlighter-rouge">.progress-bar</code> also requires some <code class="highlighter-rouge">role</code> and <code class="highlighter-rouge">aria</code> attributes to make it accessible.</li>
</ul>

<p>Put that all together, and you have the following examples.</p>

<div class="bd-example" data-example-id="">
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">aria-valuenow=</span><span class="s">"0"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 25%"</span> <span class="na">aria-valuenow=</span><span class="s">"25"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 50%"</span> <span class="na">aria-valuenow=</span><span class="s">"50"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 75%"</span> <span class="na">aria-valuenow=</span><span class="s">"75"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 100%"</span> <span class="na">aria-valuenow=</span><span class="s">"100"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<p>Bootstrap provides a handful of <a href="/utilities/sizing/">utilities for setting width</a>. Depending on your needs, these may help with quickly configuring progress.</p>

<div class="bd-example" data-example-id="">
<div class="progress">
  <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar w-75"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">aria-valuenow=</span><span class="s">"75"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="customizing">Customizing</h2>

<p>Customize the appearance of your progress bars with custom CSS, background utilities, stripes, and more.</p>

<h3 id="labels">Labels</h3>

<p>Add labels to your progress bars by placing text within the <code class="highlighter-rouge">.progress-bar</code>.</p>

<div class="bd-example" data-example-id="">
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 25%;"</span> <span class="na">aria-valuenow=</span><span class="s">"25"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;</span>25%<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="height">Height</h3>

<p>We only set a <code class="highlighter-rouge">height</code> value on the <code class="highlighter-rouge">.progress-bar</code>, so if you change that value the outer <code class="highlighter-rouge">.progress</code> will automatically resize accordingly.</p>

<div class="bd-example" data-example-id="">
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%; height: 1px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%; height: 20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 25%; height: 1px;"</span> <span class="na">aria-valuenow=</span><span class="s">"25"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 25%; height: 20px;"</span> <span class="na">aria-valuenow=</span><span class="s">"25"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="backgrounds">Backgrounds</h3>

<p>Use background utility classes to change the appearance of individual progress bars.</p>

<div class="bd-example" data-example-id="">
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar bg-success"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 25%"</span> <span class="na">aria-valuenow=</span><span class="s">"25"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar bg-info"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 50%"</span> <span class="na">aria-valuenow=</span><span class="s">"50"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar bg-warning"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 75%"</span> <span class="na">aria-valuenow=</span><span class="s">"75"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar bg-danger"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 100%"</span> <span class="na">aria-valuenow=</span><span class="s">"100"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="multiple-bars">Multiple bars</h3>

<p>Include multiple progress bars in a progress component if you need.</p>

<div class="bd-example" data-example-id="">
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 15%"</span> <span class="na">aria-valuenow=</span><span class="s">"15"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar bg-success"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 30%"</span> <span class="na">aria-valuenow=</span><span class="s">"30"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar bg-info"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 20%"</span> <span class="na">aria-valuenow=</span><span class="s">"20"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="striped">Striped</h3>

<p>Add <code class="highlighter-rouge">.progress-bar-striped</code> to any <code class="highlighter-rouge">.progress-bar</code> to apply a stripe via CSS gradient over the progress bar’s background color.</p>

<div class="bd-example" data-example-id="">
<div class="progress">
  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar progress-bar-striped"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 10%"</span> <span class="na">aria-valuenow=</span><span class="s">"10"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar progress-bar-striped bg-success"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 25%"</span> <span class="na">aria-valuenow=</span><span class="s">"25"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar progress-bar-striped bg-info"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 50%"</span> <span class="na">aria-valuenow=</span><span class="s">"50"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar progress-bar-striped bg-warning"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 75%"</span> <span class="na">aria-valuenow=</span><span class="s">"75"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar progress-bar-striped bg-danger"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">style=</span><span class="s">"width: 100%"</span> <span class="na">aria-valuenow=</span><span class="s">"100"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="animated-stripes">Animated stripes</h3>

<p>The striped gradient can also be animated. Add <code class="highlighter-rouge">.progress-bar-animated</code> to <code class="highlighter-rouge">.progress-bar</code> to animate the stripes right to left via CSS3 animations.</p>

<p><strong>Animated progress bars don’t work in Opera 12</strong>—as they don’t support CSS3 animations.</p>

<div class="bd-example">
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>
  <button type="button" class="btn btn-secondary bd-toggle-animated-progress" data-toggle="button" aria-pressed="false" autocomplete="off">
    Toggle animation
  </button>
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"progress-bar progress-bar-striped progress-bar-animated"</span> <span class="na">role=</span><span class="s">"progressbar"</span> <span class="na">aria-valuenow=</span><span class="s">"75"</span> <span class="na">aria-valuemin=</span><span class="s">"0"</span> <span class="na">aria-valuemax=</span><span class="s">"100"</span> <span class="na">style=</span><span class="s">"width: 75%"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>


          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- js -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<!-- add material js on top of bootstrap.js -->
<script src="http://localhost:4000/js/material.min.js"></script>

<!-- additional js for documentation -->
<script src="http://localhost:4000/js/project.min.js"></script>

</body>
</html>
