//
// transition
//
  $transition-duration:        0.3s !default;
  $transition-duration-lg:     0.6s !default;
  $transition-duration-sm:     0.15s !default;
  $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
