//
// todo: material design guidelines define different gutters for screen above/below 960dp
//

$grid-columns:            12 !default;
$grid-gutter-width:       1rem !default;
$grid-gutter-width-md-up: 1.5rem !default;

//
// breakpoint
// based on https://material.google.com/layout/responsive-ui.html#responsive-ui-breakpoints
//
  $grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1600px
  ) !default;

//
// container
//
  $container-max-widths: (
    xl: 1920px
  ) !default;
