// breakpoints
  $grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 840px,
    lg: 1280px,
    xl: 1600px
  ) !default;

// containers
  $container-max-widths: (
    xs: 600px,
    sm: 840px,
    md: 960px,
    lg: 1440px,
    xl: 1920px
  ) !default;

// gird columns and gutter width
  $grid-columns:      12 !default;
  $grid-gutter-width: 2rem !default;
