$grid-columns:      12 !default;
$grid-gutter-width: 1.5rem !default;

//
// breakpoint
// based on https://material.google.com/layout/responsive-ui.html#responsive-ui-breakpoints
// although material guideline specifies `1920` as the breakpoint for `xlarge`
// it adds layouts over `1600` wide may let the layout grow until it hits a max width
// therefore 1600px is defined as the breakpoint for xl with a max-width set to 1920px
//
  $grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1600px
  ) !default;

//
// container
//
  $container-max-widths: (
    xl: 1920px
  ) !default;
