$border-color:         $black-divider !default;
$border-color-inverse: $white-divider !default;
$border-color-solid:   $black-divider-solid !default;
$border-radius:        2px !default;
$border-width:         1px !default;



$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default;



$spacer:      1rem !default;
$spacer-x:    $spacer !default;
$spacer-y:    $spacer !default;

$spacer-xs:   ($spacer / 4) !default;
$spacer-x-xs: ($spacer-x / 4) !default;
$spacer-y-xs: ($spacer-y / 4) !default;

$spacer-sm:   ($spacer / 2) !default;
$spacer-x-sm: ($spacer-x / 2) !default;
$spacer-y-sm: ($spacer-y / 2) !default;

$spacer-md:   $spacer !default;
$spacer-x-md: $spacer-x !default;
$spacer-y-md: $spacer-y !default;

$spacer-lg:   ($spacer * 1.5) !default;
$spacer-x-lg: ($spacer-x * 1.5) !default;
$spacer-y-lg: ($spacer-y * 1.5) !default;

$spacer-xl:   ($spacer * 3) !default;
$spacer-x-xl: ($spacer-x * 3) !default;
$spacer-y-xl: ($spacer-y * 3) !default;

$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  no: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x-xs,
    y: $spacer-y-xs
  ),
  xs: (
    x: $spacer-x-xs,
    y: $spacer-y-xs
  ),
  2: (
    x: $spacer-x-sm,
    y: $spacer-y-sm
  ),
  sm: (
    x: $spacer-x-sm,
    y: $spacer-y-sm
  ),
  3: (
    x: $spacer-x,
    y: $spacer-y
  ),
  md: (
    x: $spacer-x,
    y: $spacer-y
  ),
  4: (
    x: $spacer-x-lg,
    y: $spacer-y-lg
  ),
  lg: (
    x: $spacer-x-lg,
    y: $spacer-y-lg
  ),
  5: (
    x: $spacer-x-xl,
    y: $spacer-y-xl
  ),
  xl: (
    x: $spacer-x-xl,
    y: $spacer-y-xl
  )
) !default;
