$border-color:         $black-divider !default;
$border-color-inverse: $white-divider !default;
$border-color-solid:   $black-divider-solid !default;
$border-radius:        2px !default;
$border-width:         1px !default;



$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default;



$spacer:      1rem !default;

$spacer-xs:   ($spacer * .25) !default;
$spacer-sm:   ($spacer * .5) !default;
$spacer-lg:   ($spacer * 1.5) !default;
$spacer-xl:   ($spacer * 3) !default;

$spacers: (
  0: 0,
  no: 0,
  1: $spacer-xs,
  xs: $spacer-xs,
  2: $spacer-sm,
  sm: $spacer-sm,
  3: $spacer,
  md: $spacer,
  4: $spacer-lg,
  lg: $spacer-lg,
  5: $spacer-xl,
  xl: $spacer-xl
) !default;
