// A base value used to responsively scale all typography, applied to the `<html>` element

$font-size-root: 16px !default;



// Font face
// Based on https://material.google.com/style/typography.html#typography-typeface

// N.B. Although some values are not used in this project
// we leave them here just in case they may be required by your project

$font-family-monospace:  "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;

$font-family-base:       $font-family-sans-serif !default;

$font-weight-black:      900 !default; // not used
$font-weight-bold:       700 !default; // not used
$font-weight-medium:     500 !default;
$font-weight-regular:    400 !default;
$font-weight-light:      300 !default;
$font-weight-thin:       100 !default; // not used

$font-weight-base:       $font-weight-regular !default;



// Font styles
// Based on https://material.google.com/style/typography.html#typography-styles

$font-size-base:            .875rem !default;   // 14px

$font-size-display-4:       7rem !default;      // 112px
$font-size-display-3:       3.5rem !default;    // 56px
$font-size-display-2:       2.8125rem !default; // 45px
$font-size-display-1:       2.125rem !default;  // 34px
$font-size-headline:        1.5rem !default;    // 24px
$font-size-title:           1.25rem !default;   // 20px
$font-size-subheading:      1rem !default;      // 16px
$font-size-body-2:          .875rem !default;   // 14px
$font-size-body-1:          .875rem !default;   // 14px
$font-size-caption:         .75rem !default;    // 12px

$font-weight-display-4:     $font-weight-light !default;
$font-weight-display-3:     $font-weight-regular !default;
$font-weight-display-2:     $font-weight-regular !default;
$font-weight-display-1:     $font-weight-regular !default;
$font-weight-headline:      $font-weight-regular !default;
$font-weight-title:         $font-weight-medium !default;
$font-weight-subheading:    $font-weight-regular !default;
$font-weight-body-2:        $font-weight-medium !default;
$font-weight-body-1:        $font-weight-regular !default;
$font-weight-caption:       $font-weight-regular !default;

$letter-spacing-display-4:  -.04em !default;
$letter-spacing-display-3:  -.02em !default;
$letter-spacing-display-2:  0 !default;
$letter-spacing-display-1:  0 !default;
$letter-spacing-headline:   0 !default;
$letter-spacing-title:      .02em !default;
$letter-spacing-subheading: .04em !default;
$letter-spacing-body-2:     0 !default;
$letter-spacing-body-1:     0 !default;
$letter-spacing-caption:    0 !default;



// Line height
// Based on https://material.google.com/style/typography.html#typography-line-height

$line-height-base:       1.428572 !default;

$line-height-display-4:  7rem !default;     // 112px
$line-height-display-3:  3.625rem !default; // 58px
$line-height-display-2:  3rem !default;     // 48px
$line-height-display-1:  2.5rem !default;   // 40px
$line-height-headline:   2rem !default;     // 32px
$line-height-title:      1.75rem !default;  // 28px
$line-height-subheading: 1.5rem !default;   // 24px
$line-height-body-2:     1.25rem !default;  // 20px
$line-height-body-1:     1.25rem !default;  // 20px
$line-height-caption:    1.125rem !default; // 18px



// Default Material icons font size

$material-icon-size: 24px !default;
