$css-path: "." !default;

@import "animations";
@import "colours";
@import "grids";
@import "spacers";
@import "typography";

// body
  $body-bg:                    $white-primary-solid !default;
  $body-color:                 $black-primary-solid !default;

// button
// based on https://material.google.com/components/buttons.html#buttons-style
// n.b. material design guideline only specifies specs for
// default button (.btn) and dense button (.btn-sm)
  $btn-bg:                     $white-divider !default;
  $btn-color:                  $black-primary !default;
  $btn-color-inverse:          $white-primary !default;
  $btn-disabled-bg:            rgba(0, 0, 0, 0.12) !default;
  $btn-disabled-bg-inverse:    rgba(255, 255, 255, 0.12) !default;
  $btn-disabled-color:         rgba(0, 0, 0, 0.26) !default;
  $btn-disabled-color-inverse: rgba(255, 255, 255, 0.30) !default;
  $btn-focus-overlay:          rgba(0, 0, 0, 0.12) !default;
  $btn-pressed-bg:             rgba(153, 153, 153, 0.40) !default;
  $btn-pressed-bg-inverse:     rgba(204, 204, 204, 0.25) !default;
  $btn-transition-duration:    $transition-duration !default;

  $btn-border-radius:          $border-radius !default;
  $btn-border-radius-lg:       $btn-border-radius !default;
  $btn-border-radius-sm:       $btn-border-radius !default;
  $btn-font-size:              0.875rem !default;
  $btn-font-size-lg:           0.9375rem !default;
  $btn-font-size-sm:           0.8125rem !default;
  $btn-font-weight:            $font-weight-medium !default;
  $btn-font-weight-lg:         $btn-font-weight !default;
  $btn-font-weight-sm:         $btn-font-weight !default;
  $btn-height:                 2.25rem !default;
  $btn-height-lg:              3rem !default;
  $btn-height-sm:              2rem !default;
  $btn-line-height:            1.25rem !default;
  $btn-line-height-lg:         $btn-line-height !default;
  $btn-line-height-sm:         $btn-line-height !default;
  $btn-min-width:              5.5rem !default;
  $btn-min-width-lg:           $btn-min-width !default;
  $btn-min-width-sm:           $btn-min-width !default;
  $btn-padding-x:              $spacer-md-x !default;
  $btn-padding-x-lg:           $btn-padding-x !default;
  $btn-padding-x-sm:           $btn-padding-x !default;
  $btn-padding-y:              (($btn-height - $btn-line-height) / 2) !default;
  $btn-padding-y-lg:           (($btn-height-lg - $btn-line-height-lg) / 2) !default;
  $btn-padding-y-sm:           (($btn-height-sm - $btn-line-height-sm) / 2) !default;

// button: floating action button
// based on https://material.google.com/components/buttons-floating-action-button.html#buttons-floating-action-button-floating-action-button
  $btn-float-font-size:        1.5rem !default;
  $btn-float-size:             3.5rem !default;
  $btn-float-size-sm:          2.5rem !default;

// card
// based on https://material.google.com/components/cards.html#cards-usage
  $card-bg:                    $white-primary-solid !default;
  $card-border-color:          $black-divider !default;
  $card-border-color-inverse:  $white-divider !default;
  $card-border-radius:         $border-radius !default;
  $card-border-width:          $border-width !default;
  $card-color:                 $black-primary !default;
  $card-color-inverse:         $white-primary !default;
  $card-margin:                $spacer-sm !default;
  $card-padding:               $spacer-md !default;
  $card-padding-lg:            $spacer-lg !default;
  $card-padding-sm:            $spacer-sm !default;

// caret
  $caret-width:                0.3em !default;

// code
  $code-bg:                    #f7f7f9 !default;
  $code-border-radius:         $border-radius !default;
  $code-color:                 #bd4147 !default;

  $kbd-bg:                     #333333 !default;
  $kbd-border-radius:          $border-radius !default;
  $kbd-color:                  #ffffff !default;

  $pre-bg:                     #f7f7f9 !default;
  $pre-border-color:           $black-divider !default;
  $pre-border-radius:          $border-radius !default;
  $pre-color:                  #333333 !default;
  $pre-scrollable-max-height:  320px !default;

// cursor
  $cursor-disabled:            not-allowed !default;

// dropdown
// based on https://material.google.com/components/buttons.html#buttons-dropdown-buttons
  $dropdown-bg:                $white-primary-solid !default;
  $dropdown-border-radius:     $border-radius !default;
  $dropdown-color:             $black-primary-solid !default;
  $dropdown-link-focus-bg:     $offwhite !default;
  $dropdown-padding-x:         $spacer-md-x !default;
  $dropdown-padding-x-lg:      $spacer-lg-x !default;
  $dropdown-padding-x-sm:      $spacer-sm-x !default;
  $dropdown-padding-y:         $spacer-md-y !default;
  $dropdown-padding-y-lg:      $spacer-lg-y !default;
  $dropdown-padding-y-sm:      $spacer-sm-y !default;

  $dropdown-toggle-hover-bg:   $white-primary-solid !default;

// link
  $link-color:                 $brand-color !default;
  $link-decoration:            none !default;
  $link-hover-color:           $brand-color-dark !default;
  $link-hover-decoration:      underline !default;

// table
  $table-bg:                   $white-primary-solid !default;
  $table-bg-accent:            $offwhite-light !default;
  $table-bg-hover:             $offwhite !default;

  $table-border-color:         $border-color-black-solid !default;
  $table-border-width:         $border-width !default;

  $table-tbody-cell-height:    3rem !default;
  $table-tbody-cell-padding-x: 1.5rem !default;
  $table-tbody-cell-padding-y: (($table-tbody-cell-height - $line-height-body-1) / 2) !default;
  $table-tfoot-cell-height:    3.5rem !default;
  $table-tfoot-cell-padding-x: 1.5rem !default;
  $table-tfoot-cell-padding-y: (($table-tfoot-cell-height - $line-height-body-1) / 2) !default;
  $table-thead-cell-height:    $table-tfoot-cell-height !default;
  $table-thead-cell-padding-x: $table-tfoot-cell-padding-x !default;
  $table-thead-cell-padding-y: $table-tfoot-cell-padding-y !default;

// typography
  $abbr-border-color:          $border-color-black !default;
  $abbr-border-style:          dotted !default;
  $abbr-border-width:          $border-width !default;

  $heading-color:              inherit !default;
  $heading-font-family:        inherit !default;

  $hr-border-color:            $border-color-black !default;
  $hr-border-style:            solid !default;
  $hr-border-width:            $border-width !default;

// waves
  $waves-bg:                   $black-hint !default;
  $waves-bg-light:             $white-hint !default;
  $waves-size:                 4rem !default;
  $waves-transition-duration:  $transition-duration-lg !default;
