$css-path: "." !default;

@import "colours";
@import "grids";
@import "spacers";
@import "typography";

// body
  $body-bg:                    $white-primary-solid !default;
  $body-color:                 $black-primary-solid !default;

// cursor
  $cursor-disabled:            not-allowed !default;

// link
  $link-color:                 $brand-color !default;
  $link-decoration:            none !default;
  $link-hover-color:           $brand-color-dark !default;
  $link-hover-decoration:      underline !default;

// table
  $table-bg:                   $white-primary-solid !default;
  $table-bg-accent:            $offwhite-light !default;
  $table-bg-hover:             $offwhite !default;

  $table-border-color:         $border-color-black-solid !default;
  $table-border-width:         $border-width !default;

  $table-tbody-cell-height:    3rem !default;
  $table-tbody-cell-padding-x: 1.5rem !default;
  $table-tbody-cell-padding-y: (($table-tbody-cell-height - $line-height-body-1) / 2) !default;
  $table-tfoot-cell-height:    3.5rem !default;
  $table-tfoot-cell-padding-x: 1.5rem !default;
  $table-tfoot-cell-padding-y: (($table-tfoot-cell-height - $line-height-body-1) / 2) !default;
  $table-thead-cell-height:    $table-tfoot-cell-height !default;
  $table-thead-cell-padding-x: $table-tfoot-cell-padding-x !default;
  $table-thead-cell-padding-y: $table-tfoot-cell-padding-y !default;

// transition
  $transition-duration:        0.3s !default;
  $transition-duration-lg:     0.6s !default;
  $transition-duration-sm:     0.15s !default;
  $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;

// typography
  $abbr-border-color:          $border-color-black !default;
  $abbr-border-style:          dotted !default;
  $abbr-border-width:          $border-width !default;

  $heading-color:              inherit !default;
  $heading-font-family:        inherit !default;

  $hr-border-color:            $border-color-black !default;
  $hr-border-style:            solid !default;
  $hr-border-width:            $border-width !default;

// waves
  $waves-bg:                   $black-hint !default;
  $waves-light-bg:             $white-hint !default;
  $waves-size:                 4rem !default;
  $waves-transition-duration:  $transition-duration-lg !default;
