$material-icon-size: 24px;

//
// appbar / toolbar (navbar)
// based on https://material.google.com/components/toolbars.html#toolbars-usage
//
  $toolbar-border-color:     $border-color !default;
  $toolbar-border-width:     $border-width !default;
  $toolbar-color-dark:       $white-primary !default;
  $toolbar-color-light:      $black-primary !default;
  $toolbar-elevation-shadow: $elevation-shadow-4dp !default;
  $toolbar-height:           3.5rem !default;
  $toolbar-inner-spacer:     $spacer-md !default;
  $toolbar-link-font-size:   1rem !default;
  $toolbar-link-height:      2.25rem !default;
  $toolbar-link-opacity:     0.7 !default;
  $toolbar-link-padding-x:   $spacer-md-x !default;
  $toolbar-link-padding-y:   (($toolbar-link-height - $toolbar-link-font-size) / 2) !default;
  $toolbar-padding-x:        $spacer-md-x !default;
  $toolbar-padding-y:        (($toolbar-height - $toolbar-link-height) / 2) !default;
  $toolbar-waterfall-bg:     $brand-color !default;

//
// button
// based on https://material.google.com/components/buttons.html#buttons-style
// n.b. material design guideline only specifies specs for default button (.btn) and dense button (.btn-sm)
//
  $btn-bg:                       transparent !default;
  $btn-bg-active:                rgba(153, 153, 153, 0.40) !default;
  $btn-bg-disabled:              $black-divider !default;
  $btn-block-spacer:             $spacer-xs-y !default;
  $btn-color:                    $black-primary !default;
  $btn-color-disabled:           rgba(0, 0, 0, 0.26) !default;
  $btn-elevation-shadow:         $elevation-shadow-2dp !default;
  $btn-elevation-shadow-active:  $elevation-shadow-8dp !default;
  $btn-focus-overlay:            $black-divider !default;
  $btn-font-weight:              $font-weight-medium !default;
  $btn-min-width:                5.5rem !default;

  // inverse
  $btn-bg-inverse:               $brand-color-accent !default;
  $btn-bg-inverse-active:        $brand-color-accent-dark !default;
  $btn-bg-inverse-disabled:      $white-divider !default;
  $btn-color-inverse:            $brand-text-color-accent !default;
  $btn-color-inverse-disabled:   rgba(255, 255, 255, 0.30) !default;

  // size
  $btn-font-size:                0.875rem !default;
  $btn-font-size-lg:             0.9375rem !default;
  $btn-font-size-sm:             0.8125rem !default;
  $btn-height:                   2.25rem !default;
  $btn-height-lg:                2.5rem !default;
  $btn-height-sm:                2rem !default;
  $btn-padding-x:                $spacer-md-x !default;
  $btn-padding-x-lg:             $btn-padding-x !default;
  $btn-padding-x-sm:             $btn-padding-x !default;
  $btn-padding-y:                (($btn-height - $btn-font-size) / 2) !default;
  $btn-padding-y-lg:             (($btn-height-lg - $btn-font-size-lg) / 2) !default;
  $btn-padding-y-sm:             (($btn-height-sm - $btn-font-size-sm) / 2) !default;

//
// button: flat button
// based on https://material.google.com/components/buttons.html#buttons-flat-buttons
//
  $btn-flat-bg-inverse-active:     rgba(204, 204, 204, 0.25) !default;
  $btn-flat-bg-opacity:            0.4 !default;
  $btn-flat-focus-overlay-inverse: rgba(204, 204, 204, 0.12) !default;
  $btn-flat-focus-overlay-opacity: 0.12 !default;

//
// button: floating action button
// based on https://material.google.com/components/buttons-floating-action-button.html#buttons-floating-action-button-floating-action-button
//
  $btn-float-elevation-shadow:         $elevation-shadow-6dp !default;
  $btn-float-elevation-shadow-active:  $elevation-shadow-12dp !default;
  $btn-float-font-size:                ($material-icon-size / $font-size-root * 1rem) !default;

  // size
  $btn-float-size:                     3.5rem !default;
  $btn-float-size-sm:                  2.5rem !default;

//
// card
// based on https://material.google.com/components/cards.html#cards-usage
//
  $card-action-spacer-x:          $spacer-sm-x !default;
  $card-action-spacer-y:          $spacer-sm-y !default;
  $card-bg:                       $white-primary !default;
  $card-border-color:             $border-color !default;
  $card-border-width:             $border-width !default;
  $card-color:                    $black-primary !default;
  $card-elevation-shadow:         $elevation-shadow-2dp !default;
  $card-elevation-shadow-active:  $elevation-shadow-8dp !default;
  $card-margin-bottom:            $spacer-md-y !default;
  $card-spacer-inner-x:           $spacer-md-x !default;
  $card-spacer-inner-y:           $spacer-md-y !default;
  $card-spacer-outer-x:           $spacer-sm-x !default;
  $card-spacer-outer-y:           $spacer-sm-y !default;
  $card-title-additonal-margin:   $spacer-sm-y !default;

//
// caret
//
  $caret-bg:         "data:image/svg+xml;charset=utf8,%3Csvg fill='#000000' fill-opacity='0.54' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E" !default;
  $caret-bg-inverse: "data:image/svg+xml;charset=utf8,%3Csvg fill='#ffffff' fill-opacity='0.7' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E" !default;
  $caret-width:      0.4em !default;

//
// chip (label)
// based on https://material.google.com/components/chips.html#chips-specs
//
  $chip-active-overlay:          $black-divider !default;
  $chip-bg:                      $black-divider !default;
  $chip-color:                   $black-primary !default;
  $chip-elevation-shadow-active: $elevation-shadow-2dp !default;
  $chip-font-size:               0.8125rem !default;
  $chip-font-weight:             $font-weight-regular !default;
  $chip-height:                  2rem !default;
  $chip-padding-x:               0.75rem !default;
  $chip-padding-y:               (($chip-height - $chip-font-size) / 2) !default;

//
// colour theme
// based on https://material.google.com/style/color.html#color-themes
//
  $dark-theme-1:  $black !default;
  $dark-theme-2:  $palette-grey-900 !default;
  $dark-theme-3:  #303030 !default;
  $dark-theme-4:  $palette-grey-800 !default;

  $light-theme-1: $palette-grey-300 !default;
  $light-theme-2: $palette-grey-100 !default;
  $light-theme-3: $palette-grey-050 !default;
  $light-theme-4: $white !default;

//
// cursor
//
  $cursor-disabled: not-allowed !default;

//
// data table (table)
// based on https://material.google.com/components/data-tables.html#data-tables-structure
//
  $table-bg:                 $white-primary !default;
  $table-bg-accent:          $palette-grey-100 !default;
  $table-bg-hover:           $palette-grey-200 !default;
  $table-border-color:       $border-color !default;
  $table-border-width:       $border-width !default;
  $table-cell-padding-x:     1.75rem !default;
  $table-cell-padding-x-alt: $spacer-lg-x !default;
  $table-elevation-shadow:   $elevation-shadow-2dp !default;
  $table-margin-bottom:      $spacer-md-y !default;

  $table-tbody-cell-height:  3rem !default;
  $table-tbody-color:        $black-primary !default;
  $table-tbody-font-size:    0.8125rem !default;
  $table-tbody-font-weight:  $font-weight-regular !default;
  $table-tbody-padding-y:    (($table-tbody-cell-height - $table-tbody-font-size * $line-height-base) / 2) !default;

  $table-tfoot-cell-height:  3.5rem !default;
  $table-tfoot-color:        $black-secondary !default;
  $table-tfoot-font-size:    0.75rem !default;
  $table-tfoot-font-weight:  $font-weight-regular !default;
  $table-tfoot-padding-y:    (($table-tfoot-cell-height - $table-tfoot-font-size * $line-height-base) / 2) !default;

  $table-thead-cell-height:  $table-tfoot-cell-height !default;
  $table-thead-color:        $table-tfoot-color !default;
  $table-thead-font-size:    $table-tfoot-font-size !default;
  $table-thead-font-weight:  $font-weight-medium !default;
  $table-thead-padding-y:    (($table-thead-cell-height - $table-thead-font-size * $line-height-base) / 2) !default;

//
// dialog (modal)
// based on https://material.google.com/components/dialogs.html#dialogs-specs
//
  $dialog-backdrop-bg:          $black-hint !default;
  $dialog-content-bg:           $white-primary !default;
  $dialog-elevation-shadow:     $elevation-shadow-24dp !default;
  $dialog-footer-btn-min-width: 4rem !default;
  $dialog-footer-spacer-x:      $spacer-sm-x !default;
  $dialog-footer-spacer-y:      $spacer-sm-y !default;
  $dialog-inner-padding:        1.25rem $spacer-lg-x !default;
  $dialog-margin-x:             $spacer-lg-x !default;
  $dialog-margin-y:             $spacer-lg-y !default;
  $dialog-width:                35rem !default;
  $dialog-width-lg:             52.5rem !default;
  $dialog-width-sm:             17.5rem !default;

//
// menu (dropdown)
// based on https://material.google.com/components/menus.html#menus-specs
//
  $menu-bg:                         $white-primary !default;
  $menu-divider-bg:                 $black-divider !default;
  $menu-font-size:                  1rem !default;
  $menu-font-size-cascading:        0.9375rem !default;
  $menu-elevation-shadow:           $elevation-shadow-8dp !default;
  $menu-line-height:                1.5rem !default;
  $menu-line-height-cascading:      $menu-line-height !default;
  $menu-link-bg:                    transparent !default;
  $menu-link-bg-active:             $offwhite !default;
  $menu-link-color:                 $black-primary !default;
  $menu-link-color-disabled:        $black-hint !default;
  $menu-link-height:                3rem !default;
  $menu-link-height-cascading:      2rem !default;
  $menu-link-padding:               (($menu-link-height - $menu-line-height) / 2) $spacer-md-x !default;
  $menu-link-padding-cascading:     (($menu-link-height-cascading - $menu-line-height-cascading) / 2) $spacer-lg-x !default;
  $menu-padding-y:                  $spacer-sm-y !default;
  $menu-padding-y-cascading:        $spacer-md-y !default;

//
// navigation drawer
// based on https://material.google.com/patterns/navigation-drawer.html#navigation-drawer-specs
//
  $navdrawer-backdrop-bg:             $dialog-backdrop-bg !default;
  $navdrawer-border-color:            $border-color !default;
  $navdrawer-border-width:            $border-width !default;
  $navdrawer-content-bg:              $dialog-content-bg !default;
  $navdrawer-divider-bg:              $black-divider !default;
  $navdrawer-elevation-shadow:        $elevation-shadow-16dp !default;
  $navdrawer-gutter-width:            $toolbar-height !default;
  $navdrawer-header-bg:               $offwhite !default;
  $navdrawer-header-border-color:     $border-color !default;
  $navdrawer-header-border-width:     $border-width !default;
  $navdrawer-inner-spacer-x:          $spacer-md-x !default;
  $navdrawer-inner-spacer-y:          $spacer-sm-y !default;
  $navdrawer-nav-icon-color:          $black-secondary !default;
  $navdrawer-nav-icon-width:          $toolbar-height !default;
  $navdrawer-nav-link-bg-active:      $offwhite !default;
  $navdrawer-nav-link-color:          $black-primary !default;
  $navdrawer-nav-link-color-active:   $brand-color !default;
  $navdrawer-nav-link-color-disabled: $black-hint !default;
  $navdrawer-nav-link-font-size:      0.875rem !default;
  $navdrawer-nav-link-font-weight:    $font-weight-medium !default;
  $navdrawer-nav-link-height:         3rem !default;
  $navdrawer-subheader-color:         $black-hint !default;
  $navdrawer-subheader-font-size:     0.875rem !default;
  $navdrawer-subheader-font-weight:   $font-weight-medium !default;
  $navdrawer-subheader-height:        3rem !default;
  $navdrawer-width-mobile:            17.5rem !default;
  $navdrawer-width-tablet:            20rem !default;

//
// picker
// based on https://material.google.com/components/pickers.html#pickers-date-pickers
//
  $picker-cell-size:           2.5rem !default;
  $picker-content-bg:          $dialog-content-bg !default;
  $picker-day-bg-selected:     $brand-color !default;
  $picker-day-color-disabled:  $black-hint !default;
  $picker-day-color-selected:  $brand-text-color !default;
  $picker-day-color-today:     $brand-color !default;
  $picker-elevation-shadow:    $dialog-elevation-shadow !default;
  $picker-header-bg:           $brand-color !default;
  $picker-header-color:        $brand-text-color !default;
  $picker-header-padding:      $spacer-md-y $spacer-lg-x !default;
  $picker-holder-bg:           $dialog-backdrop-bg !default;
  $picker-inner-spacer-x:      $spacer-sm-x !default;
  $picker-inner-spacer-y:      $spacer-sm-y !default;
  $picker-margin-x:            $dialog-margin-x !default;
  $picker-margin-y:            $dialog-margin-y !default;
  $picker-nav-next-icon:       "keyboard_arrow_right" !default;
  $picker-nav-prev-icon:       "keyboard_arrow_left" !default;
  $picker-weekday-color:       $black-hint !default;

//
// selection control
// based on https://material.google.com/components/selection-controls.html
//
  $selection-control-checkbox-bg:                  url("data:image/svg+xml;charset=utf8,%3Csvg fill='#000000' fill-opacity='0.54' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") !default;
  $selection-control-checkbox-bg-checked:          url("data:image/svg+xml;charset=utf8,%3Csvg fill='#{$brand-color-accent}' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3E%3C/svg%3E") !default;
  $selection-control-checkbox-bg-disabled:         url("data:image/svg+xml;charset=utf8,%3Csvg fill='#000000' fill-opacity='0.26' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") !default;
  $selection-control-checkbox-bg-disabled-checked: url("data:image/svg+xml;charset=utf8,%3Csvg fill='#000000' fill-opacity='0.26' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3E%3C/svg%3E") !default;
  $selection-control-checkbox-bg-indeterminate:    url("data:image/svg+xml;charset=utf8,%3Csvg fill='#000000' fill-opacity='0.54' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M0 0h24v24H0z' id='a'/%3E%3C/defs%3E%3CclipPath id='b'%3E%3Cuse overflow='visible' xlink:href='#a'/%3E%3C/clipPath%3E%3Cpath clip-path='url(#b)' d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10H7v-2h10v2z'/%3E%3C/svg%3E") !default;
  $selection-control-color:                        $black-secondary !default;
  $selection-control-color-active:                 $brand-color-accent !default;
  $selection-control-color-disabled:               rgba(0, 0, 0, 0.26) !default;
  $selection-control-indicator-size:               $material-icon-size !default;
  $selection-control-radial-bg:                    $black-divider !default;
  $selection-control-radio-bg:                     url("data:image/svg+xml;charset=utf8,%3Csvg fill='#000000' fill-opacity='0.54' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") !default;
  $selection-control-radio-bg-checked:             url("data:image/svg+xml;charset=utf8,%3Csvg fill='#{$brand-color-accent}' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") !default;
  $selection-control-radio-bg-disabled:            url("data:image/svg+xml;charset=utf8,%3Csvg fill='#000000' fill-opacity='0.26' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") !default;
  $selection-control-radio-bg-disabled-checked:    url("data:image/svg+xml;charset=utf8,%3Csvg fill='#000000' fill-opacity='0.26' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") !default;
  $selection-control-spacer-x:                     $spacer-sm-x !default;
  $selection-control-spacer-y:                     $spacer-sm-y !default;
  $selection-control-thumb-bg:                     $offwhite-light !default;
  $selection-control-thumb-bg-disabled:            #bdbdbd !default;
  $selection-control-thumb-shadow:                 0 1px 5px 0 rgba(0, 0, 0, 0.6) !default;
  $selection-control-track-bg:                     $black-hint !default;
  $selection-control-track-bg-disabled:            $black-divider !default;
  $selection-control-track-height:                 $font-size-root !default;
  $selection-control-track-width:                  ($selection-control-indicator-size * 2) !default;

//
// tab (nav)
// based on https://material.google.com/components/tabs.html#tabs-specs
//
  $nav-tab-border-color:      $black-divider !default;
  $nav-tab-indicator-bg:      $brand-color-accent !default;
  $nav-tab-indicator-height:  2px !default;
  $nav-tab-link-font-size:    0.875rem !default;
  $nav-tab-link-font-weight:  $font-weight-medium !default;
  $nav-tab-link-height:       3rem !default;
  $nav-tab-link-opacity:      0.7 !default;
  $nav-tab-link-max-width:    16.5rem !default;
  $nav-tab-link-min-width:    4.5rem !default;
  $nav-tab-link-min-width-lg: 10rem !default;
  $nav-tab-link-padding-x:    0.75rem !default;
  $nav-tab-link-padding-x-lg: 1.5rem !default;

//
// text field (form)
// based on https://material.google.com/components/text-fields.html#text-fields-single-line-text-field
//
  $textfield-border-color:       $border-color !default;
  $textfield-border-color-focus: $brand-color !default;
  $textfield-border-width:       $border-width !default;
  $textfield-color:              $black-primary !default;
  $textfield-color-disabled:     $black-hint !default;
  $textfield-hint-color:         $black-hint !default;

  // size
  $textfield-font-size:          1rem !default;
  $textfield-font-size-lg:       2.125rem !default;
  $textfield-font-size-sm:       0.8125rem !default;
  $textfield-height:             2.5rem !default;
  $textfield-height-lg:          3.75rem !default;
  $textfield-height-sm:          2.25rem !default;
  $textfield-line-height:        1.5rem !default;
  $textfield-line-height-lg:     2.5rem !default;
  $textfield-line-height-sm:     1.125rem !default;
  $textfield-margin-bottom:      0.5rem !default;
  $textfield-margin-bottom-lg:   0.75rem !default;
  $textfield-margin-bottom-sm:   0.25rem !default;
  $textfield-padding-top:        0.75rem !default;
  $textfield-padding-top-lg:     0.875rem !default;
  $textfield-padding-top-sm:     0.625rem !default;

//
// text field: floating label (form: floating label)
// based on https://material.google.com/components/text-fields.html#text-fields-labels
//
  $floating-label-color:              $textfield-hint-color !default;
  $floating-label-color-focus:        $brand-color !default;
  $floating-label-font-size-focus:    0.75rem !default;

  // size
  $floating-label-divider-padding:    0.5rem !default;
  $floating-label-divider-padding-lg: 0.75rem !default;
  $floating-label-divider-padding-sm: 0.25rem !default;
  $floating-label-height:             4rem !default;
  $floating-label-height-lg:          5.25rem !default;
  $floating-label-height-sm:          3.5rem !default;
  $floating-label-padding-top:        1rem !default;
  $floating-label-padding-top-lg:     1.25rem !default;
  $floating-label-padding-top-sm:     0.75rem !default;

//
// typography
//
  $text-muted:          $black-hint !default;

//
// waves
//
  $waves-bg:                  $black-hint !default;
  $waves-bg-light:            $white-hint !default;
  $waves-size:                4rem !default;
