/*!
 * waves v0.7.2
 * http://fian.my.id/Waves
 */

.waves-effect {
	position: relative;
	-webkit-tap-highlight-color: transparent;
	.waves-ripple {
		background-color: rgba(0, 0, 0, 0.1);
		background-image: radial-gradient(rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0) 60%);
		border-radius: 50%;
		height: 100px;
		margin-top: -50px;
		margin-left: -50px;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		transform: scale(0) translate(0, 0);
		transition-duration: 0.9s;
		transition-property: opacity, transform;
		transition-timing-function: linear;
		width: 100px;

	}
	&.waves-light .waves-ripple {
		background-color: rgba(255, 255, 255, 0.4);
		background-image: radial-gradient(rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 60%);
	}
}

.waves-notransition {
	transition: none !important;
}

.waves-wrap {
	cursor: pointer;
	overflow: hidden;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	.waves-circle > & {
		border-radius: 50%;
		transform: translateZ(0);
		-webkit-mask-image: -webkit-radial-gradient(circle, #ffffff 100%, #000000 100%);
	}
}
