
<meta charset="utf-8">
<meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
<title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>

<!-- CSS -->
<!-- Add Material font (Roboto) and Material icon as needed -->
<link href="{{ site.cdn.md_font }}" rel="stylesheet">
<link href="{{ site.cdn.md_icon }}" rel="stylesheet">

<!-- Add Material CSS, replace Bootstrap CSS -->
<link href="{{ site.baseurl }}/css/material.min.css" rel="stylesheet">

<!-- Additional CSS for documentation site -->
<link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">
<link href="{{ site.cdn.bs_css_docs }}" rel="stylesheet">
<link href="{{ site.baseurl }}/docs/css/docs.min.css" rel="stylesheet">

<!-- Favicons -->
<meta content="#9c27b0" name="theme-color">
<link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="{{ site.baseurl }}/favicon.ico" rel="icon">
