
<header class="navbar navbar-dark d-lg-none fixed-top toolbar-waterfall">
  <button aria-controls="{{ site.id.navdrawer }}" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler mr-3" data-breakpoint="lg" data-target="#{{ site.id.navdrawer }}" data-toggle="navdrawer" data-type="permanent"><span class="navbar-toggler-icon"></span></button>
  <a aria-label="Daemonite Material" class="mr-auto doc-logo" href="{{ site.baseurl }}/">M</a>
  <div class="ml-3">
    <div class="dropdown">
      <button aria-expanded="false" aria-haspopup="true" class="navbar-toggler" data-toggle="dropdown" id="doc-dropdown-follow" type="button"><i class="material-icons mx-auto">more_vert</i></button>
      <div aria-labelledby="doc-dropdown-follow" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="https://github.com/Daemonite/material" target="_blank"><i class="material-icons mr-3">code</i>Fork me on GitHub</a>
        <a class="dropdown-item" href="http://www.daemon.com.au/" target="_blank"><i class="material-icons mr-3 text-danger">favorite</i>Made by Daemon</a>
      </div>
    </div>
  </div>
</header>
