.avatar {
	background-color: $black-bg;
	border-radius: 50%;
	color: $black-text;
	display: block;
	height: ($line-height * 2);
	line-height: ($line-height * 2);
	overflow: hidden;
	text-align: center;
	width: ($line-height * 2);
	&:focus,
	&:hover {
		text-decoration: none;
	}
	&.avatar-inline {
		display: inline-block;
	}
	&.avatar-sm {
		height: ($line-height * 1.5);
		line-height: ($line-height * 1.5);
		margin-top: ($line-height * -0.25);
		margin-bottom: ($line-height * -0.25);
		width: ($line-height * 1.5);
	}
	&.pull-left {
		margin-right: $grid-gutter;
	}
	&.pull-right {
		margin-left: $grid-gutter;
	}
	img {
		vertical-align: top;
		width: 100%;
	}
	.fa {
		display: block;
		height: 100%;
		line-height: inherit;
		text-align: center;
	}
	.fa-text {
		font-family: inherit;
	}
}

// colours
	.avatar-alt {
		background-color: $brand-color;
		color: $white;
	}

	.avatar-blue {
		background-color: $palette-blue;
		color: $white;
	}

	// .avatar-brown {
	// 	background-color: $palette-brown;
	// 	color: $white;
	// }

	// .avatar-cyan {
	// 	background-color: $palette-cyan;
	// 	color: $white;
	// }

	// .avatar-gray {
	// 	background-color: $palette-gray;
	// 	color: $white;
	// }

	.avatar-green {
		background-color: $palette-green;
		color: $white;
	}

	// .avatar-lime {
	// 	background-color: $palette-lime;
	// 	color: $white;
	// }

	// .avatar-orange {
	// 	background-color: $palette-orange;
	// 	color: $white;
	// }

	// .avatar-pink {
	// 	background-color: $palette-pink;
	// 	color: $white;
	// }

	.avatar-purple {
		background-color: $palette-purple;
		color: $white;
	}

	.avatar-red {
		background-color: $palette-red;
		color: $white;
	}

	// .avatar-teal {
	// 	background-color: $palette-teal;
	// 	color: $white;
	// }

	.avatar-yellow {
		background-color: $palette-yellow;
		color: $white;
	}