.card {
	background-color: $white;
	border-radius: 2px;
	display: block;
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-flexbox;
	display: -webkit-flex;
	display:         flex;
	margin-bottom: $line-height;
	position: relative;
	@include box-shadow(0 0 1px rgba(0, 0, 0, 0.5));
	@include transition(box-shadow 0.3s $timing 0s);
	&:focus,
	&:hover {
		@include box-shadow(0 0 5px rgba(0, 0, 0, 0.25));
	}
}

.card-action {
	position: relative;
	@include clearfix();
	&:before {
		border-top: 1px solid $black-bg;
		content: '';
		display: block;
		position: absolute;
			top: 0;
			left: 0;
		width: 100%;
		.card-header + & {
			display: none;
		}
	}
	.nav {
		margin-top: 0;
		margin-bottom: 0;
		> li {
			> a {
				color: $black-sec;
				&:focus,
				&:hover {
					color: $link-color;
				}
			}
			&.active > a,
			&.open > a {
				color: $link-color;
			}
		}
	}
}

.card-header {
	padding-top: ($line-height / 4);
	padding-bottom: ($line-height / 4);
	position: relative;
	@include clearfix();
	&:before {
		border-bottom: 1px solid $black-bg;
		content: '';
		display: block;
		position: absolute;
			bottom: 0;
			left: 0;
		width: 100%;
	}
}

.card-heading {
	display: block;
	font-size: $font-size-h4;
	line-height: $line-height-h4;
	margin-top: $line-height;
	margin-bottom: $line-height;
	.card-header & {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.card-img {
	position: relative;
	img {
		display: block;
		height: auto;
		width: 100%;
	}
}

.card-img-heading {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	color: $white;
	font-size: $font-size-h4;
	line-height: $line-height-h4;
	margin: 0;
	padding: ($line-height / 2) $grid-gutter;
	position: absolute;
		bottom: 0;
		left: 0;
	width: 100%;
}

.card-inner {
	overflow: hidden;
	padding-right: $grid-gutter;
	padding-left: $grid-gutter;
	position: relative;
	z-index: 1;
	.card-header & {
		padding-top: ($line-height / 2);
		padding-bottom: ($line-height / 2);
	}
}

.card-main {
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	    -webkit-flex: 1;
	        -ms-flex: 1;
	            flex: 1;
}

.card-side {
	background-color: $white-bg;
	max-width: 33.33333%;
	padding-right: $grid-gutter;
	padding-left: $grid-gutter;
	&[href] {
		color: $black-text;
		&:focus,
		&:hover {
			background-color: $white-bg-dark;
			text-decoration: none;
		}
	}
	&.card-side-img {
		overflow: hidden;
		padding-right: 0;
		padding-left: 0;
	}
	&.card-side-right {
		-webkit-box-ordinal-group: 2;
		   -moz-box-ordinal-group: 2;
		           -ms-flex-order: 2;
		            -webkit-order: 2;
		                    order: 2;
	}
}

.card-wrap {
	margin-top: $line-height;
}

// colours
	.card-alt {
		@include box-shadow(0 0 1px $brand-color);
		&:focus,
		&:hover {
			@include box-shadow(0 0 5px $brand-color);
		}
		.card-action:before {
			border-top-color: $brand-color-light;
		}
		.card-side {
			background-color: $brand-color;
			color: $white;
			&[href] {
				&:focus,
				&:hover {
					background-color: $brand-color-dark-m;
				}
			}
		}
	}

	.card-alt-bg {
		background-color: $brand-color;
		.card-side {
			background-color: $brand-color-dark-m;
			&[href] {
				&:focus,
				&:hover {
					background-color: $brand-color-dark;
				}
			}
		}
	}

	.card-blue {
		@include box-shadow(0 0 1px $palette-blue);
		&:focus,
		&:hover {
			@include box-shadow(0 0 5px $palette-blue);
		}
		.card-action:before {
			border-top-color: $palette-blue-light;
		}
		.card-side {
			background-color: $palette-blue;
			color: $white;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-blue-dark-m;
				}
			}
		}
	}

	.card-blue-bg {
		background-color: $palette-blue;
		.card-side {
			background-color: $palette-blue-dark-m;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-blue-dark;
				}
			}
		}
	}

	.card-green {
		@include box-shadow(0 0 1px $palette-green);
		&:focus,
		&:hover {
			@include box-shadow(0 0 5px $palette-green);
		}
		.card-action:before {
			border-top-color: $palette-green-light;
		}
		.card-side {
			background-color: $palette-green;
			color: $white;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-green-dark-m;
				}
			}
		}
	}

	.card-green-bg {
		background-color: $palette-green;
		.card-side {
			background-color: $palette-green-dark-m;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-green-dark;
				}
			}
		}
	}

	.card-purple {
		@include box-shadow(0 0 1px $palette-purple);
		&:focus,
		&:hover {
			@include box-shadow(0 0 5px $palette-purple);
		}
		.card-action:before {
			border-top-color: $palette-purple-light;
		}
		.card-side {
			background-color: $palette-purple;
			color: $white;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-purple-dark-m;
				}
			}
		}
	}

	.card-purple-bg {
		background-color: $palette-purple;
		.card-side {
			background-color: $palette-purple-dark-m;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-purple-dark;
				}
			}
		}
	}

	.card-red {
		@include box-shadow(0 0 1px $palette-red);
		&:focus,
		&:hover {
			@include box-shadow(0 0 5px $palette-red);
		}
		.card-action:before {
			border-top-color: $palette-red-light;
		}
		.card-side {
			background-color: $palette-red;
			color: $white;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-red-dark-m;
				}
			}
		}
	}

	.card-red-bg {
		background-color: $palette-red;
		.card-side {
			background-color: $palette-red-dark-m;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-red-dark;
				}
			}
		}
	}

	.card-yellow {
		@include box-shadow(0 0 1px $palette-yellow);
		&:focus,
		&:hover {
			@include box-shadow(0 0 5px $palette-yellow);
		}
		.card-action:before {
			border-top-color: $palette-yellow-light;
		}
		.card-side {
			background-color: $palette-yellow;
			color: $white;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-yellow-dark-m;
				}
			}
		}
	}

	.card-yellow-bg {
		background-color: $palette-yellow;
		.card-side {
			background-color: $palette-yellow-dark-m;
			&[href] {
				&:focus,
				&:hover {
					background-color: $palette-yellow-dark;
				}
			}
		}
	}

	.card[class*="-bg"] {
		color: $white;
		.card-action .nav > li {
			> a {
				color: $white;
			}
			&.open > a {
				color: $black-text;
			}
		}
	}