.dropdown {
	position: relative;
	&.open {
		z-index: ($content-base + 1);
	}
	[data-toggle="dropdown"] {
		cursor: pointer;
	}
}

.dropdown-menu {
	background-color: $white;
	border: 1px solid $black-hint;
	border-radius: 0 2px 2px 2px;
	display: none;
	list-style: none;
	margin: -1px 0 0 !important;
	min-width: 100%;
	padding-top: ($line-height / 2) !important;
	padding-right: 0;
	padding-bottom: ($line-height / 2) !important;
	padding-left: 0;
	position: absolute;
		top: 100%;
		left: 0;
	@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.3), 0 10px 30px rgba(0, 0, 0, 0.15));
	.dropdown.open & {
		display: block;
	}
	&.dropdown-menu-right,
	.nav.pull-right & {
		border-radius: 2px 0 2px 2px;
		// position
			right: 0;
			left: auto;
	}
	a,
	.a {
		color: $black-text;
		display: block;
		padding: ($line-height / 2) $grid-gutter;
		overflow: hidden;
		position: relative;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:focus,
		&:hover {
			background-color: $white-bg;
			text-decoration: none;
		}
	}
	.active > a,
	.active > .a {
		background-color: $white-bg;
	}
	li {
		display: block;
		position: relative;
	}
}

.dropdown-toggle {
	position: relative;
	z-index: 1;
	.dropdown.open & {
		background-color: $white;
		border: 1px solid $black-hint;
		border-bottom: 0;
		border-radius: 2px 2px 0 0;
		padding: ($line-height / 2 - 1) ($grid-gutter - 1) ($line-height / 2);
		.content-nav &,
		.header & {
			border-top: 0;
			border-radius: 0;
			padding-top: ($line-height / 2);
		}
	}
}

.dropdown-toggle-btn {
	position: relative;
	z-index: 1;
	.dropdown.open & {
		background-color: $white;
		border-color: $black-hint;
		border-bottom-color: transparent;
		border-radius: 2px 2px 0 0;
		color: $black-text;
		@include box-shadow(none);
		&:after,
		&:before {
			background-color: $black-hint;
			content: '';
			display: block;
			height: 1px;
			position: absolute;
				bottom: -1px;
			width: 1px;
		}
		&:after {
			// position
				right: -1px;
		}
		&:before {
			// position
				left: -1px;
		}
	}
}

.dropdown-wrap {
	margin-top: $line-height;
	margin-bottom: $line-height;
	@include clearfix();
}