// checkbox & radio
	.checkbox-adv {
		[class^="circle"] {
			display: block;
			height: $font-size;
			position: absolute;
				top: (($line-height - $font-size) / 2);
				left: 0;
			width: $font-size;
			.form-group & {
				// position
					top: 0;
			}
		}
		.circle {
			border: 2px solid $black-sec;
			@include transition(border-color 0.3s $timing 0s);
		}
		&.disabled,
		fieldset[disabled] & {
			.circle {
				border-color: $black-hint !important;
			}
		}
		input.access-hide:focus ~ .circle {
			border-color: $black-text;
		}
		input.access-hide:checked ~ .circle {
			border-color: $brand-color;
		}
		.circle-check {
			background-color: transparent;
			@include transform(scale(0));
			@include transition(background-color 0.3s $timing 0s, transform 0.3s $timing 0s);
			&:after {
				background-color: $brand-color;
				border-radius: 50%;
				content: '';
				display: block;
				height: ($font-size * 5);
				position: absolute;
					top: ($font-size * -2);
					left: ($font-size * -2);
				width: ($font-size * 5);
				@include opacity(0);
			}
		}
		&.disabled,
		fieldset[disabled] & {
			.circle-check:after {
				background-color: $black-hint;
			}
		}
		input.access-hide:checked ~ .circle-check {
			@include transform(scale(0.5));
			&:after {
				@include animation(circle-check 0.6s);
			}
		}
		.circle-icon {
			background-color: transparent;
			color: transparent;
			@include transform(scale(0.5));
			@include transition(background-color 0.3s $timing 0s, transform 0.3s $timing 0s);
		}
		input.access-hide:checked ~ .circle-icon {
			background-color: $brand-color;
			color: $white;
			@include transform(scale(1));
		}
		&.disabled,
		fieldset[disabled] & {
			input.access-hide:checked ~ .circle-icon {
				background-color: $black-hint;
			}
		}
	}

	.radio-adv {
		@extend .checkbox-adv;
		[class^="circle"] {
			border-radius: 50%;
		}
		input.access-hide:checked ~ .circle-check {
			background-color: $brand-color;
		}
		&.disabled,
		fieldset[disabled] & {
			input.access-hide:checked ~ .circle-check {
				background-color: $black-hint;
			}
		}
	}

// floating label
	.floating-label {
		color: $black-hint;
		cursor: text;
		font-size: $font-size;
		line-height: 1;
		margin: 0;
		padding: 0;
		position: absolute;
			top: ($line-height / 2);
			left: 0;
		@include transition(color 0.3s $timing, font-size 0.3s $timing, top 0.3s $timing);
		.form-group-label [class*="col-"] & {
			// position
				top: 0;
				left: $grid-gutter;
		}
		.form-group-label.control-focus &,
		.form-group-label.control-highlight & {
			font-size: $font-size-h6;
			// position
				top: ($font-size-h6 / -2);
		}
		.form-group-label.control-focus [class*="col-"] &,
		.form-group-label.control-highlight [class*="col-"] & {
			// position
				top: ($font-size-h6 / -2 + $line-height / -2);
		}
		.form-group-label.control-focus & {
			color: $link-color;
		}
		.form-group-label.form-group-alt & {
			color: $brand-color;
		}
		.form-group-label.form-group-blue & {
			color: $palette-blue;
		}
		.form-group-label.form-group-green & {
			color: $palette-green;
		}
		.form-group-label.form-group-purple & {
			color: $palette-purple;
		}
		.form-group-label.form-group-red & {
			color: $palette-red;
		}
		.form-group-label.form-group-yellow & {
			color: $palette-yellow;
		}
	}

	.form-group-label {
		padding-top: ($line-height / 2);
		position: relative;
		.form-control {
			position: relative;
			z-index: 1;
			@include placeholder(transparent);
		}
		+ .form-group {
			padding-top: ($line-height / 2);
		}
	}

// textarea autosize
	.textarea-autosize {
		max-height: ($font-size * 49 + $line-height);
		min-height: $line-height;
		overflow-x: hidden;
	}

// ###
	@-webkit-keyframes circle-check {
		0% {
			opacity: 0;
		}
		25% {
			opacity: 0.25;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes circle-check {
		0% {
			opacity: 0;
		}
		25% {
			opacity: 0.25;
		}
		100% {
			opacity: 0;
		}
	}