// checkbox
	.checkbox-adv {
		[class^="circle"] {
			display: block;
			height: $font-size;
			position: absolute;
				top: 0;
				left: 0;
			width: $font-size;
		}
		.circle {
			border: 2px solid $black-sec;
			@include transition(border-color 0.3s $timing 0s);
		}
		input.access-hide:checked ~ .circle {
			border-color: $brand-color;
		}
		.circle-check {
			background-color: transparent;
			@include transform(scale(0));
			@include transition(background-color 0.3s $timing 0s, transform 0.3s $timing 0s);
			&:after {
				background-color: $brand-color;
				border-radius: 50%;
				content: '';
				display: block;
				height: ($font-size * 5);
				position: absolute;
					top: ($font-size * -2);
					left: ($font-size * -2);
				width: ($font-size * 5);
				@include opacity(0);
			}
		}
		input.access-hide:checked ~ .circle-check {
			@include transform(scale(0.55));
			&:after {
				@include animation(circle-check 0.6s);
			}
		}
		.circle-icon {
			background-color: transparent;
			color: transparent;
			@include transition(background-color 0.3s $timing 0s);
		}
		input.access-hide:checked ~ .circle-icon {
			background-color: $brand-color;
			color: $white;
		}
	}

// radio
	.radio-adv {
		@extend .checkbox-adv;
		[class^="circle"] {
			border-radius: 50%;
		}
		input.access-hide:checked ~ .circle-check {
			background-color: $brand-color;
		}
	}

// 
@-webkit-keyframes checkbox-on {
	0% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
	}
	50% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
	}
	100% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
	}
}

@-webkit-keyframes circle-check {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	100% {
		opacity: 0;
	}
}