.progress {
	background-color: lighten($link-color, 30%);
	height: ($base / 2);
	margin-top: ($line-height - $base / 4);
	margin-bottom: ($line-height - $base / 4);
	overflow: hidden;
	position: relative;
}

.progress-bar {
	background-color: $link-color;
	border-radius: 0 1px 1px 0;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
	@include transition(width 0.3s $timing);
}

// color
	@each $color in $palette-list {
		$i: index($palette-list, $color);
		
		.progress-#{$color} {
			background-color: nth($palette-color-light, $i);
			.progress-bar {
				background-color: nth($palette-color, $i);
			}
		}
	}

.progress-bar-indeterminate {
	background-color: $link-color;
	&:after,
	&:before {
		background-color: inherit;
		border-radius: 1px;
		content: '';
		display: block;
		position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
		will-change: left, right;
	}
	&:after {
		@include animation(indeterminate-one 3s infinite cubic-bezier(0.6, 0.8, 0.6, 0.4));
	}
	&:before {
		@include animation(indeterminate-two 3s infinite cubic-bezier(0.2, 0.8, 0.2, 0.8));
		-webkit-animation-delay: 1.5s;
		        animation-delay: 1.5s;
	}
}

// animation
	@-webkit-keyframes indeterminate-one {
		0% {
			// position
				right: 100%;
				left: -35%;
		}
		60% {
			// position
				right: -90%;
				left: 100%;
		}
		100% {
			// position
				right: -90%;
				left: 100%;
		}
	}

	@keyframes indeterminate-one {
		0% {
			// position
				right: 100%;
				left: -35%;
		}
		60% {
			// position
				right: -90%;
				left: 100%;
		}
		100% {
			// position
				right: -90%;
				left: 100%;
		}
	}

	@-webkit-keyframes indeterminate-two {
		0% {
			// position
				right: 100%;
				left: -150%;
		}
		60% {
			// position
				right: -25%;
				left: 125%;
		}
		100% {
			// position
				right: -25%;
				left: 125%;
		}
	}

	@keyframes indeterminate-two {
		0% {
			// position
				right: 100%;
				left: -150%;
		}
		60% {
			// position
				right: -25%;
				left: 125%;
		}
		100% {
			// position
				right: -25%;
				left: 125%;
		}
	}