.progress {
	background-color: lighten($link-color, 30%);
	height: ($base / 2);
	margin-top: ($line-height - $base / 4);
	margin-bottom: ($line-height - $base / 4);
	overflow: hidden;
	position: relative;
}

.progress-bar {
	background-color: $link-color;
	border-radius: 0 1px 1px 0;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
	transition: width 0.3s $timing;
}

// colour
	@each $color in $palette-list {
		$i: index($palette-list, $color);

		.progress-#{$color} {
			background-color: nth($palette-color-light, $i);
			.progress-bar {
				background-color: nth($palette-color, $i);
			}
		}
	}

.progress-bar-indeterminate {
	background-color: $link-color;
	&:after,
	&:before {
		background-color: inherit;
		border-radius: 1px;
		content: '';
		display: block;
		position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
		will-change: left, right;
	}
	&:after {
		animation: pbar-indeterminate-one 3s cubic-bezier(0.6, 0.8, 0.6, 0.4) infinite;
	}
	&:before {
		animation: pbar-indeterminate-two 3s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
		animation-delay: 1.5s;
	}
}

// animation
	@keyframes pbar-indeterminate-one {
		0% {
			// position
				right: 100%;
				left: -35%;
		}
		60% {
			// position
				right: -90%;
				left: 100%;
		}
		100% {
			// position
				right: -90%;
				left: 100%;
		}
	}

	@keyframes pbar-indeterminate-two {
		0% {
			// position
				right: 100%;
				left: -150%;
		}
		60% {
			// position
				right: -35%;
				left: 135%;
		}
		100% {
			// position
				right: -35%;
				left: 135%;
		}
	}

.progress-position-absolute-bottom,
.progress-position-absolute-top,
.progress-position-fixed-bottom,
.progress-position-fixed-top {
	margin: 0;
	// position
		left: 0;
	width: 100%;
}

.progress-position-absolute-bottom,
.progress-position-absolute-top {
	position: absolute;
}

.progress-position-absolute-bottom,
.progress-position-fixed-bottom {
	// position
		bottom: 0;
}

.progress-position-absolute-top,
.progress-position-fixed-top {
	// position
		top: 0;
}

.progress-position-fixed-top,
.progress-position-fixed-bottom {
	position: fixed;
}
