.table {
	margin-top: $line-height;
	margin-bottom: $line-height;
	width: 100%;
	td,
	th {
		line-height: $line-height;
		padding: (($cell-height - $line-height) / 2) $grid-gutter (($cell-height - $line-height) / 2 - 1);
		vertical-align: top;
		&.nowrap {
			white-space: nowrap;
			width: 1%;
		}
	}
	> thead > td,
	> thead > th {
		vertical-align: bottom;
	}
}

.table-bordered {
	td,
	th {
		border-top: 1px solid $black-hint;
	}
	> tbody > tr {
		&:nth-child(odd) {
			> td,
			> th {
				background-color: #f9f9f9;
			}
		}
	}
	> thead > tr {
		> td,
		> th {
			border-bottom: 2px solid $black-hint;
		}
	}
	> thead:first-child > tr:first-child {
		> td,
		> th {
			border-top: 0;
		}
	}
}

.table-simple {
	td,
	th {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		vertical-align: top;
		&:first-child {
			padding-left: 0;
		}
		&.nowrap .tag-block {
			margin-top: 2px;
		}
	}
}