.tab-nav {
	border-bottom: 1px solid $black-hint;
	margin-top: ($line-height / 2);
	margin-bottom: $line-height;
	text-align: center;
	.nav {
		margin-top: 0;
		margin-bottom: -1px;
		> li {
			vertical-align: bottom;
			> a {
				color: $black-text;
				padding-right: ($grid-gutter / 2);
				padding-left: ($grid-gutter / 2);
				text-transform: uppercase;
				&:after {
					background-color: $link-color;
					content: '';
					display: block;
					height: 3px;
					position: absolute;
						right: 0;
						bottom: 0;
					width: 0;
					@include transition(width 0.3s $timing);
				}
				&:focus,
				&:hover {
					color: $link-color;
				}
				&.to-left:after {
					// position
						right: auto;
						left: 0;
				}
			}
			&.active > a {
				color: $link-color;
				&:after {
					// position
						right: auto;
						left: 0;
					width: 100%;
				}
				&.from-right:after {
					// position
						right: 0;
						left: auto;
				}
			}
		}
	}
}

.tab-pane {
	display: none;
	visibility: hidden;
	&.active {
		display: block;
		visibility: visible;
	}
}

// colour
	@each $color in $palette-list {
		$i: index($palette-list, $color);
		
		.tab-nav-#{$color} {
			.nav {
				> li {
					> a {
						&:after {
							background-color: nth($palette-color, $i);
						}
						&:focus,
						&:hover {
							color: nth($palette-color, $i);
						}
					}
					&.active > a {
						color: nth($palette-color, $i);
					}
				}
			}
		}
	}