.tab-nav {
	border-bottom: 1px solid $black-hint;
	margin-top: $line-height;
	margin-bottom: $line-height;
	position: relative;
	.nav {
		margin-top: 0;
		margin-bottom: -1px;
		> li {
			vertical-align: bottom;
			> a {
				color: $black-text;
				padding-right: ($grid-gutter / 2);
				padding-left: ($grid-gutter / 2);
				text-transform: uppercase;
				transition: border-bottom 0s, padding-bottom 0s;
				&:focus,
				&:hover {
					color: $link-color;
				}
			}
			&.active > a {
				border-bottom: 3px solid $link-color;
				color: $link-color;
				padding-bottom: ($line-height / 2 - 3);
				transition: border-bottom 0s 0.45s, padding-bottom 0s 0.45s;
			}
		}
	}
}

.tab-nav-indicator {
	background-color: $link-color;
	height: 3px;
	position: absolute;
		bottom: -1px;
	transition: left 0.3s $timing 0.15s, right 0.3s $timing;
	&.reverse {
		transition: left 0.3s $timing, right 0.3s $timing 0.15s;
	}
}

// colour
	@each $color in $palette-list {
		$i: index($palette-list, $color);

		.tab-nav-#{$color} {
			.nav {
				> li {
					> a {
						&:focus,
						&:hover {
							color: nth($palette-color, $i);
						}
					}
					&.active > a {
						border-bottom-color: nth($palette-color, $i);
						color: nth($palette-color, $i);
					}
				}
			}
			.tab-nav-indicator {
				background-color: nth($palette-color, $i);
			}
		}
	}

.tab-pane {
	display: none;
	visibility: hidden;
	&.active {
		display: block;
		visibility: visible;
	}
}
