.toast {
	position: fixed;
		right: 0;
		bottom: ($line-height * -2);
		left: 0;
	z-index: ($top-base + 1);
	@include opacity(0);
	@include transition(bottom 0.3s $timing 0s, opacity 0.3s $timing 0s);
	&.in {
		// position
			bottom: 0;
		@include opacity(1);
	}
	// 768
		@include responsive(sm) {
			margin-right: ($grid-gutter * 2 + $line-height * 2);
			// position
				right: auto;
				bottom: 0;
				left: $grid-gutter;
			&.in {
				// position
					bottom: $line-height;
			}
		}
}

.toast-action {
	color: $palette-blue-light;
	cursor: pointer;
	display: block;
	float: right;
	font-weight: 700;
	margin-left: ($grid-gutter * 2);
	text-transform: uppercase;
	&:focus,
	&:hover {
		color: $palette-blue-light-m;
		text-decoration: none;
	}
}

.toast-inner {
	background-color: $black-text;
	color: $white;
	display: none;
	font-size: floor($font-size * 0.9);
	padding: ($line-height / 2) $grid-gutter;
	@include box-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
	@include clearfix();
	&.in {
		display: block;
	}
	// 768
		@include responsive(sm) {
			border-radius: 2px;
			float: left;
		}
}

.toast-text {
	display: block;
	overflow: hidden;
}