@if $material-theme == 'material2' {
  // _spacer
  $border-radius:      4px;
  $border-radius-sm:   2px;
  $border-radius-lg:   $border-radius * 4;

  // Chip
  $chip-border-radius: $border-radius-lg;
  $chip-icon-size:     1.25rem;
  $chip-padding-x:     0.75rem;

  // Tooltip
  $tooltip-bg:       #6d6d6d;
  $tooltip-border-radius: $border-radius;
}
