// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-grid-classes:      true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles:      true !default;
//$enable-responsive-font-sizes: false !default; // TODO
$enable-validation-icons:  true !default;
$enable-deprecation-messages: true !default;

//$enable-negative-margins:  true !default; // Include negative margin/padding utilities
$enable-validation-valid:  true !default; // Apply Success color to valid inputs (not recommended)
$secondary-color-for-controls:  false !default; // Use secondary color for selection/inputs (primary color otherwise, not recommended)

// Variables

@import 'variables/elevation-shadow';
@import 'variables/grid';
@import 'variables/palette';
@import 'variables/spacer';
@import 'variables/transition';
@import 'variables/typography';
@import 'variables/variable-bootstrap';
@import 'variables/variable-material';
