// Sass option

$enable-grid-classes:      true !default;
$enable-print-styles:      true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-validation-icons:  true !default;
$enable-validation-valid:  true !default; // Use Success color for valid inputs
$secondary-color-for-controls:  false !default; // Use secondary color for selection/inputs

// Variables

@import 'variables/elevation-shadow';
@import 'variables/grid';
@import 'variables/palette';
@import 'variables/spacer';
@import 'variables/transition';
@import 'variables/typography';
@import 'variables/variable-bootstrap';
@import 'variables/variable-material';
