.material-icons {
    .valid-icon:after {
        content: 'check';
        font-size: 0.9375rem;
    }
    .invalid-icon:after {
        content: 'clear';
        font-size: 0.9375rem;
    }
    .validating-icon:after {
        content: 'graphic_eq';
        font-size: 0.9375rem;
    }
}