.btn-float {
  border-radius: 50%;
  box-shadow: map-get($btn-float-elevation-shadow, shadow);
  height: $btn-float-size;
  line-height: $btn-float-size;
  min-width: 0;
  padding: 0;
  position: relative;
  width: $btn-float-size;
  z-index: map-get($btn-float-elevation-shadow, elevation);

  &::before {
    border-radius: 50%;
  }

  // Active, focus, hover
  &:active,
  &.active {
    box-shadow: map-get($btn-float-elevation-shadow-active, shadow);
    z-index: map-get($btn-float-elevation-shadow-active, elevation);
  }

  // Size
  &.btn-sm {
    height: $btn-float-size-sm;
    line-height: $btn-float-size-sm;
    width: $btn-float-size-sm;
  }
}
