.btn-float {
  border-radius: 50%;
  box-shadow: map-get($btn-float-elevation-shadow, shadow);
  height: $btn-float-size;
  line-height: $btn-float-size;
  padding: 0;
  position: relative;
  min-width: 0;
  width: $btn-float-size;
  z-index: map-get($btn-float-elevation-shadow, elevation);
  &::before {
    border-radius: 50%;
  }
  // active, focus, hover
    &:active,
    &.active {
      box-shadow: map-get($btn-float-elevation-shadow-active, shadow);
      z-index: map-get($btn-float-elevation-shadow-active, elevation);
    }
}

// size
  .btn-float.btn-sm {
    height: $btn-float-size-sm;
    line-height: $btn-float-size-sm;
    width: $btn-float-size-sm;
  }
