.btn {
  @include border-radius($border-radius);
  @include transition-standard(background-color, box-shadow, color);

  background-color: $btn-bg;
  background-image: none;
  border: 0;
  box-shadow: map-get($btn-elevation-shadow, shadow);
  color: $btn-color;
  display: inline-block;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: 1;
  margin: 0;
  max-width: 100%;
  min-width: $btn-min-width;
  padding: $btn-padding-y $btn-padding-x;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  z-index: map-get($btn-elevation-shadow, elevation);

  // Active, focus, hover
  @include active-focus-hover {
    color: $btn-color;
    text-decoration: none;
  }

  @include focus-hover {
    &::before {
      opacity: 1;
    }
  }

  &:active,
  &.active {
    background-color: $btn-bg-active;
    box-shadow: map-get($btn-elevation-shadow-active, shadow);
    z-index: map-get($btn-elevation-shadow-active, elevation);

    &::before {
      opacity: 0;
    }
  }

  &:focus {
    outline: 0;
  }

  // Disabled
  &:disabled,
  &.disabled {
    background-color: $btn-bg-disabled;
    box-shadow: none;
    color: $btn-color-disabled;
    cursor: $cursor-disabled;
    opacity: 1;

    &::before,
    .waves-ripple {
      display: none;
    }
  }

  // Focused 12% #000000 shade
  &::before {
    @include border-radius($border-radius);
    @include transition-standard(opacity);

    background-color: $btn-focus-overlay;
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  // Open
  .open > &,
  .open > & {
    &.dropdown-toggle::before {
      opacity: 1;
    }
  }

  .dropdown.open > & {
    &.dropdown-toggle,
    &.dropdown-toggle::before {
      @include border-bottom-radius(0);
    }
  }

  .dropup.open > & {
    &.dropdown-toggle,
    &.dropdown-toggle::before {
      @include border-top-radius(0);
    }
  }
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

// Colour
.btn-inverse {
  color: $btn-color-inverse;

  // Active, focus, hover
  @include active-focus-hover {
    color: $btn-color-inverse;
  }

  &:active,
  &.active {
    background-color: $btn-bg-inverse-active;
  }

  // Disabled
  &:disabled,
  &.disabled {
    background-color: $btn-bg-inverse-disabled;
    color: $btn-color-inverse-disabled;
  }
}

@each $color in $palettes {
  $i: index($palettes, $color);

  .btn-#{$color} {
    background-color: nth($palettes-color, $i);
    color: nth($palettes-text-color, $i);

    // Active, focus, hover
    @include active-focus-hover {
      color: nth($palettes-text-color, $i);
    }

    &:active,
    &.active {
      background-color: nth($palettes-color-dark, $i);
    }

    // Disabled
    &:disabled,
    &.disabled {
      background-color: $btn-bg-disabled;
      color: $btn-color-disabled;
    }
  }
}

// Size
.btn-lg,
%btn-lg {
  font-size: $btn-font-size-lg;
  padding: $btn-padding-y-lg $btn-padding-x-lg;
}

.btn-sm,
%btn-sm {
  font-size: $btn-font-size-sm;
  padding: $btn-padding-y-sm $btn-padding-x-sm;
}



// Block button

.btn-block {
  display: block;
  width: 100%;

  + .btn-block {
    margin-top: $btn-block-spacer;
  }
}

[type='button'],
[type='reset'],
[type='submit'] {
  &.btn-block {
    width: 100%;
  }
}



// Link button

.btn-link {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  color: $link-color;
  font-weight: normal;
  text-decoration: $link-decoration;
  text-transform: none;
  z-index: initial;

  // Active, focus, hover
  @include active-focus-hover {
    color: $link-color-active;
    text-decoration: $link-decoration-active;
  }

  &:active,
  &.active {
    background-color: transparent;
    box-shadow: none;
    z-index: initial;
  }

  &:focus {
    @include tab-focus;
  }

  // Disabled
  &:disabled,
  &.disabled {
    background-color: transparent;
    color: $btn-color-disabled;
    outline: 0;
    text-decoration: none;
  }

  // Focused 12% #000000 share over the colour
  &::before {
    display: none;
  }
}



// No minimum width

.btn-fluid {
  min-width: 0;
}
