.btn-float {
  border-radius: 50%;
  box-shadow: map-get($btn-float-elevation-shadow, shadow);
  font-size: $btn-float-font-size;
  font-weight: normal;
  height: $btn-float-size;
  line-height: $btn-float-size;
  padding: 0;
  position: relative;
  min-width: 0;
  width: $btn-float-size;
  z-index: map-get($btn-float-elevation-shadow, elevation);
  &::before {
    border-radius: 50%;
  }
  // active, focus, hover
    &:active {
      box-shadow: map-get($btn-float-elevation-shadow-pressed, shadow);
      z-index: map-get($btn-float-elevation-shadow-pressed, elevation);
    }
}

// size
  .btn-float-sm {
    height: $btn-float-size-sm;
    line-height: $btn-float-size-sm;
    width: $btn-float-size-sm;
  }
