[class*='btn-outline'] {
  background-color: transparent;
  box-shadow: none;

  &:active,
  &.active {
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    background-color: transparent;
  }
}

// Colour
@each $color, $values in $theme-colors {
  .btn-outline-#{$color} {
    @include plain-active-focus-hover {
      color: map-get(theme-color($color), color);
    }

    &:disabled,
    &.disabled {
      color: $btn-color-disabled;
    }
  }
}
