[class*="btn-flat"],
[class*="btn-outline"] {
  background-color: transparent;
  box-shadow: none;
  // active, focus, hover
    &:active,
    &.active {
      box-shadow: none;
    }
    &.waves-attach:active {
      background-color: transparent;
    }
  // disabled
    &:disabled,
    &.disabled {
      &,
      &:active {
        background-color: transparent;
      }
    }
}

// colour
  .btn-flat-inverse,
  .btn-outline-inverse {
    color: $btn-color-inverse;
    &::before {
      background-color: $btn-flat-focus-overlay-inverse;
    }
    // active, focus, hover
      &:active,
      &.active {
        background-color: $btn-bg-inverse-active;
        color: $btn-color-inverse;
      }
    // disabled
      &:disabled,
      &.disabled {
        &,
        &:active {
          color: $btn-color-inverse-disabled;
        }
      }
  }

  @each $color in $palettes {
    $i: index($palettes, $color);

    .btn-flat-#{$color},
    .btn-outline-#{$color} {
      &,
      &:active {
        color: nth($palettes-color, $i);
      }
    }
  }
