.card {
  background-color: $card-bg;
  border: 0;
  border-radius: $border-radius;
  box-shadow: map-get($card-elevation-shadow, shadow);
  display: block;
  margin-bottom: $card-margin-bottom;
  position: relative;
  z-index: map-get($card-elevation-shadow, elevation);
}

.card[href] {
  // active, focus, hover
    &:active {
      box-shadow: map-get($card-elevation-shadow-active, shadow);
      z-index: map-get($card-elevation-shadow-active, elevation);
    }
    @include focus-hover {
      outline: 0;
      text-decoration: none;
    }
}

// colour
  .card-inverse {
    background-color: $brand-color-accent;
    color: $brand-text-color-accent;
  }

  @each $color in $palettes {
    $i: index($palettes, $color);

    .card-#{$color} {
      background-color: nth($palettes-color, $i);
      color: nth($palettes-text-color, $i);
    }
  }

//
// action
//
  .card-actions {
    padding: $card-action-spacer-y $card-action-spacer-x;
    @include clearfix;
    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }
    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
    .btn {
      min-width: 0;
      padding-right: $card-action-spacer-x;
      padding-left: $card-action-spacer-x;
      + .btn {
        margin-left: $card-action-spacer-x;
      }
    }
  }

  .card-actions-bordered {
    border-top: $card-border-width solid $card-border-color;
    border-bottom: $card-border-width solid $card-border-color;
    &:first-child {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }

  .card-actions-vertical {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    .btn + .btn,
    .card-link + .card-link {
      margin-top: $card-action-spacer-y;
      margin-left: 0;
    }
  }

  .card-link + .card-link {
    margin-left: $card-action-spacer-x;
  }

//
// block
//
  .card-block {
    padding: $card-spacer-inner-y $card-spacer-inner-x;
    @include clearfix;
    > :last-child {
      margin-bottom: 0;
    }
  }

//
// footer
//
  .card-footer {
    border-top: $card-border-width solid $card-border-color;
    padding: $card-spacer-inner-y $card-spacer-inner-x;
    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

//
// header
//
  .card-header {
    border-bottom: $card-border-width solid $card-border-color;
    margin-top: 0;
    margin-bottom: 0;
    padding: $card-spacer-inner-y $card-spacer-inner-x;
    @include clearfix;
    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }

//
// image
//
  .card-img {
    border-radius: $border-radius;
  }

  .card-img-bottom {
    border-radius: 0 0 $border-radius $border-radius;
  }

  .card-img-top {
    border-radius: $border-radius $border-radius 0 0;
  }

//
// image overlay
//
  .card-img-overlay {
    padding: $card-spacer-inner-y $card-spacer-inner-x;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }

  .card-img-overlay-body {
    display: block;
  }

  .card-img-overlay-bottom {
    @if $enable-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    } @else {
      white-space: nowrap;
      &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 1px;
      }
      .card-img-overlay-body {
        display: inline-block;
        white-space: normal;
        width: 100%;
      }
    }
  }

//
// set
//
  .card-columns {
    margin-bottom: $card-margin-bottom;
    .card {
      margin-bottom: $card-spacer-outer-y;
    }
    @include media-breakpoint-up(sm) {
      column-count: 2;
      column-gap: 0;
      margin-right: ($card-spacer-outer-x / -2);
      margin-bottom: ($card-margin-bottom - $card-spacer-outer-y);
      margin-left: ($card-spacer-outer-x / -2);
      .card {
        display: inline-block;
        margin-right: ($card-spacer-outer-x / 2);
        margin-left: ($card-spacer-outer-x / 2);
        width: calc(100% - #{$card-spacer-outer-x});
      }
    }
    @include media-breakpoint-up(md) {
      column-count: 3;
    }
  }

  .card-deck,
  .card-group {
    margin-bottom: $card-margin-bottom;
    .card {
      margin-bottom: $card-spacer-outer-y;
    }
  }

  @if $enable-flex {
    @include media-breakpoint-up(sm) {
    }
  } @else {
    @include media-breakpoint-up(sm) {
      .card-deck,
      .card-group {
        border-spacing: $card-spacer-outer-x 0;
        display: table;
        table-layout: fixed;
        width: 100%;
        .card {
          display: table-cell;
          margin-bottom: 0;
          vertical-align: top;
        }
      }

      .card-deck-wrapper,
      .card-group-wrapper {
        margin-right: ($card-spacer-outer-x * -1);
        margin-left: ($card-spacer-outer-x * -1);
      }
    }
  }

//
// text and title
//
  .card-subtitle {
    margin-top: ($card-spacer-inner-y / -2);
    margin-bottom: 0;
    @include typography-body-1;
  }

  .card-text:last-child {
    margin-bottom: 0;
  }

  .card-title {
    margin-top: $card-title-additonal-margin;
    margin-bottom: $card-spacer-inner-y;
    @include typography-headline;
    &:only-child {
      margin-top: 0;
    }
  }
