.card {
  background-color: $card-bg;
  border-radius: $border-radius;
  box-shadow: map-get($card-elevation-shadow, shadow);
  display: block;
  margin-bottom: $spacer-md-y;
  z-index: map-get($card-elevation-shadow, elevation);
}

a.card {
  // active, focus, hover
    &:active {
      box-shadow: map-get($card-elevation-shadow-pressed, shadow);
      z-index: map-get($card-elevation-shadow-pressed, elevation);
    }
    &:focus,
    &:hover {
      outline: 0;
      text-decoration: none;
    }
}

// block
  .card-block {
    padding: $spacer-md-y $spacer-md-x;
    > :last-child {
      margin-bottom: 0;
    }
  }

// colour
  @each $color in $palettes {
    $i: index($palettes, $color);

    .card-#{$color} {
      background-color: nth($palettes-color, $i);
    }
  }

// inverse
  .card-inverse {
    color: $white-primary;
    .card-actions-bordered,
    .card-footer-bordered {
      border-top-color: $border-color-inverse;
    }
    .card-header-bordered {
      border-bottom-color: $border-color-inverse;
    }
  }

//
// action
//
  .card-actions {
    padding: $spacer-sm-y $spacer-sm-x;
    @include clearfix;
    .btn {
      min-width: 0;
      padding-right: $spacer-sm-x;
      padding-left: $spacer-sm-x;
    }
  }

  .card-actions-bordered {
    border-top: $border-width solid $border-color;
  }

  .card-actions-horizontal {
    display: flex;
    .card-link + .card-link {
      margin-left: $spacer-sm-x;
    }
  }

  .card-actions-vertical {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    .card-link + .card-link {
      margin-top: $spacer-xs-y;
    }
  }

//
// footer
//
  .card-footer {
    padding: $spacer-md-y $spacer-md-x;
    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  .card-footer-bordered {
    border-top: $border-width solid $border-color;
  }

//
// header
//
  .card-header {
    padding: $spacer-md-y $spacer-md-x;
    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  .card-header-bordered {
    border-bottom: $border-width solid $border-color;
  }

//
// image
//
  .card-img {
    border-radius: $border-radius;
  }

  .card-img-bottom {
    border-radius: 0 0 $border-radius $border-radius;
  }

  .card-img-top {
    border-radius: $border-radius $border-radius 0 0;
  }

//
// image overlay
//
  .card-img-overlay {
    padding: $spacer-lg-y $spacer-md-x $spacer-md-y;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }

//
// text and title
//
  .card-subtitle {
    margin-top: ($spacer-md-y * -1);
    margin-bottom: 0;
    @include typography-body-1;
  }

  .card-text:last-child {
    margin-bottom: 0;
  }

  .card-title {
    margin-bottom: $spacer-md-y;
    @include typography-headline;
  }
