.chip,
.tag {
  background-color: $chip-bg;
  border-radius: ($chip-height / 2);
  color: $chip-color;
  display: inline-block;
  font-size: $chip-font-size;
  font-weight: $chip-font-weight;
  line-height: 1;
  padding: $chip-padding-y $chip-padding-x;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  &:empty {
    display: none;
  }
}

a.chip,
a.tag {
  @include transition-standard(box-shadow);
  &::before {
    background-color: $chip-active-overlay;
    border-radius: ($chip-height / 2);
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    @include transition-standard(opacity);
  }
  // active, focus, hover
    &:active,
    &:focus {
      box-shadow: map-get($chip-elevation-shadow-active, shadow);
    }
    &:active::before {
      opacity: 1;
    }
    @include focus-hover {
      text-decoration: none;
    }
    &:focus {
      outline: 0;
    }
}

// colour
  .chip-inverse,
  .tag-inverse {
    background-color: $chip-bg-inverse;
    color: $chip-color-inverse;
  }

  a.chip-inverse,
  a.tag-inverse {
    &,
    &:not([href]):not([tabindex]) {
      color: $chip-color-inverse;
    }
  }

  @each $color in $palettes {
    $i: index($palettes, $color);

    .chip-#{$color},
    .tag-#{$color} {
      background-color: nth($palettes-color, $i);
      color: nth($palettes-text-color, $i);
    }

    a.chip-#{$color},
    a.tag-#{$color} {
      &,
      &:not([href]):not([tabindex]) {
        color: nth($palettes-text-color, $i);
      }
    }
  }
