.chip {
  background-color: $chip-bg;
  border-radius: ($chip-height / 2);
  color: $chip-color;
  display: inline-block;
  font-size: $chip-font-size;
  font-weight: $chip-font-weight;
  line-height: $chip-line-height;
  padding: $chip-padding-y $chip-padding-x;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &:empty {
    display: none;
  }
}

// Colour
@each $color, $values in $theme-colors {
  .chip-#{$color} {
    @include color-yiq(map-get(theme-color($color), color));

    background-color: map-get(theme-color($color), color);
  }
}
