.badge,
.chip {
  background-color: $chip-bg;
  border-radius: ($chip-height / 2);
  color: $chip-color;
  display: inline-block;
  font-size: $chip-font-size;
  font-weight: $chip-font-weight;
  line-height: 1;
  padding: $chip-padding-y $chip-padding-x;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;

  &:empty {
    display: none;
  }
}

// Colour
.badge-inverse,
.chip-inverse {
  background-color: $chip-bg-inverse;
  color: $chip-color-inverse;
}

@each $color in $palettes {
  $i: index($palettes, $color);

  .badge-#{$color},
  .chip-#{$color} {
    background-color: nth($palettes-color, $i);
    color: nth($palettes-text-color, $i);
  }
}
