// Todo: `.table-inverse`, `.table-reflow` and `.table-sm`

.table {
  background-color: $table-bg;
  border: 0;
  margin-bottom: $table-margin-y;
  max-width: 100%;
  width: 100%;

  td,
  th {
    border-top: $table-border-width solid $table-border-color;
    line-height: $table-line-height;
    padding-right: $table-cell-padding-x;
    padding-left: $table-cell-padding-x;
    vertical-align: top;

    &:first-child {
      padding-left: $table-cell-padding-x-alt;
    }

    &:last-child {
      padding-right: $table-cell-padding-x-alt;
    }
  }

  tbody {
    td,
    th {
      color: $table-tbody-color;
      font-size: $table-tbody-font-size;
      font-weight: $table-tbody-font-weight;
      height: $table-tbody-cell-height;
      padding-top: $table-tbody-padding-y;
      padding-bottom: $table-tbody-padding-y;
    }
  }

  tfoot {
    td,
    th {
      color: $table-tfoot-color;
      font-size: $table-tfoot-font-size;
      font-weight: $table-tfoot-font-weight;
      height: $table-tfoot-cell-height;
      padding-top: $table-tfoot-padding-y;
      padding-bottom: $table-tfoot-padding-y;
    }
  }

  thead {
    td,
    th {
      color: $table-thead-color;
      font-size: $table-thead-font-size;
      font-weight: $table-thead-font-weight;
      height: $table-thead-cell-height;
      padding-top: $table-thead-padding-y;
      padding-bottom: $table-thead-padding-y;
    }
  }

  > tbody:first-child > tr:first-child,
  > tfoot:first-child > tr:first-child,
  > thead:first-child > tr:first-child {
    td,
    th {
      border-top: 0;
    }
  }

  .table {
    border-top: $table-border-width solid $table-border-color;
  }
}

.table-bordered {
  box-shadow: map-get($table-elevation-shadow, shadow);
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}



// Hover

.table-hover {
  tbody tr {
    @include hover {
      background-color: $table-bg-hover;
    }
  }
}



// Table background

@each $color, $values in $theme-colors {
  .table .table-#{$color} {
    &,
    > td,
    > th {
      @include color-yiq(map-get(theme-color($color), color));

      background-color: map-get(theme-color($color), color);
    }
  }

  .table-hover .table-#{$color} {
    @include hover {
      &,
      > td,
      > th {
        @include color-yiq(map-get(theme-color($color), darker));

        background-color: map-get(theme-color($color), darker);
      }
    }
  }
}



// Table responsive

.table-responsive {
  display: block;
  overflow-x: auto;
  width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
