.expansion-panel,
.list-group {
  margin-bottom: $expansion-panel-margin-bottom;
  padding-left: 0;
}

//
// item
//
  .expansion-panel-item,
  .list-group-item {
    background-color: $expansion-panel-bg;
    border: 0;
    border-top: $expansion-panel-border-width solid $expansion-panel-border-color;
    box-shadow: map-get($expansion-panel-elevation-shadow, shadow);
    color: $expansion-panel-color;
    display: block;
    font-size: $expansion-panel-font-size;
    min-height: $expansion-panel-height;
    padding: $expansion-panel-spacer-y $expansion-panel-spacer-x;
    position: relative;
    @include transition-standard(background-color, color);

    &:first-of-type {
      border-top-color: transparent;
      @include border-top-radius($border-radius);
    }

    &:last-of-type {
      @include border-bottom-radius($border-radius);
    }

    // active, focus, hover
      &.active {
        background-color: $expansion-panel-bg-active;
      }

    // disabled
      &.disabled {
        background-color: $expansion-panel-bg-disabled;
        color: $expansion-panel-color-disabled;
      }
  }

  .expansion-panel-item-action,
  .list-group-item-action {
    color: $expansion-panel-color;
    text-align: inherit;
    width: 100%;

    // active, focus, hover
      @include active-focus-hover {
        background-color: $expansion-panel-bg-active;
        color: $expansion-panel-color;

        @if ($link-decoration-active != "none") {
          text-decoration: none;
        }
      }

      &:focus {
        outline: 0;
      }

    // disabled
      &.disabled {
        background-color: $expansion-panel-bg-disabled;
        color: $expansion-panel-color-disabled;
        cursor: $cursor-disabled;
      }
  }

  // colour
    @each $color in $palettes {
      $i: index($palettes, $color);

      .expansion-panel-item-#{$color},
      .list-group-item-#{$color} {
        background-color: nth($palettes-color, $i);
        color: nth($palettes-text-color, $i);

        // active, focus, hover
          &.active {
            background-color: nth($palettes-color-dark, $i);
            color: nth($palettes-text-color-dark, $i);
          }

        &.expansion-panel-item-action,
        &.list-group-item-action {
          // active, focus, hover
            @include active-focus-hover {
              background-color: nth($palettes-color-dark, $i);
              color: nth($palettes-text-color-dark, $i);
            }
        }
      }
    }

//
// expansion
//
  .expansion-panel-collapse {
    background-color: $expansion-panel-bg;
    box-shadow: map-get($expansion-panel-elevation-shadow, shadow);
    position: relative;
    @include border-bottom-radius($border-radius);

    &.collapsing,
    &.show {
      margin-bottom: $expansion-panel-margin-between;

      + .expansion-panel-item,
      + .list-group-item {
        border-top-color: transparent;
        @include border-top-radius($border-radius);
      }
    }

    &.collapsing {
      transition-property: height, margin-bottom;
    }

    .collapsed + & {
      &.collapsing {
        margin-bottom: 0;

        + .expansion-panel-item,
        + .list-group-item {
          border-top-color: $expansion-panel-border-color;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

  }

  .expansion-panel-collapse-body {
    padding: $expansion-panel-body-spacer-y $expansion-panel-spacer-x;

    > :last-child {
      margin-bottom: 0;
    }
  }

  .expansion-panel-collapse-footer {
    border-top: $expansion-panel-border-width solid $expansion-panel-border-color;
    padding: $expansion-panel-footer-spacer-y $expansion-panel-footer-spacer-x;
    padding-left: $expansion-panel-spacer-y;
    text-align: right;

    .btn {
      min-width: 0;

      + .btn {
        margin-left: $expansion-panel-footer-spacer-x;
      }
    }
  }

  .expansion-panel-item,
  .list-group-item {
    &[data-toggle="collapse"] {
      border-top-color: transparent;
      cursor: pointer;
      margin-top: $expansion-panel-margin-between;
      transition-property: background-color, border-radius, border-top-color, color, margin-top;
      @include border-top-radius($border-radius);

      &::before {
        background-color: inherit;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
        z-index: 1;
      }

      &:first-child {
        margin-top: 0;
      }

      // active, focus, hover
        @include active-focus-hover {
          background-color: $expansion-panel-bg-active;
          color: $expansion-panel-color;

          @if ($link-decoration-active != "none") {
            text-decoration: none;
          }
        }

        &:focus {
          outline: 0;
        }
    }

    &[data-toggle="collapse"].collapsed {
      border-radius: 0;
      border-top-color: $expansion-panel-border-color;
      margin-top: 0;

      &::before {
        display: none;
      }
    }

    &[data-toggle="collapse"].disabled {
      background-color: $expansion-panel-bg-disabled;
      color: $expansion-panel-color-disabled;
      cursor: $cursor-disabled;
    }
  }

  // colour
    @each $color in $palettes {
      $i: index($palettes, $color);

      .expansion-panel-item-#{$color},
      .list-group-item-#{$color} {
        &[data-toggle="collapse"] {
          // active, focus, hover
            @include active-focus-hover {
              background-color: nth($palettes-color-dark, $i);
              color: nth($palettes-text-color-dark, $i);
            }
        }
      }
    }

//
// misc
//
  .expansion-panel-item-heading,
  .list-group-item-heading {
    color: inherit;
    font-size: $expansion-panel-font-size;
    line-height: $line-height-base;
    margin-top: 0;
    margin-bottom: 0;
  }

  .expansion-panel-item-icon {
    color: $expansion-panel-icon-color;
    font-size: $font-size-base;
    line-height: $material-icon-size;
    height: $material-icon-size;
    margin-top: ($material-icon-size / -2);
    position: absolute;
      top: ($expansion-panel-height / 2);
      right: $expansion-panel-spacer-x;
    width: $material-icon-size;
    @include transition-standard(color);
  }

  // active, focus, hover
    .expansion-panel-item,
    .list-group-item {
      &[data-toggle="collapse"] {
        @include active-focus-hover {
          .expansion-panel-item-icon {
            color: $expansion-panel-icon-color-active;
          }
        }
      }
    }

  // variation
    .expansion-panel-item-icon-rotate {
      transition-property: color, transform;

      .expansion-panel-item[data-toggle="collapse"] &,
      .list-group-item[data-toggle="collapse"] & {
        transform: rotate(180deg);
      }

      .expansion-panel-item.collapsed[data-toggle="collapse"] &,
      .list-group-item.collapsed[data-toggle="collapse"] & {
        transform: rotate(0);
      }
    }

  .expansion-panel-item-text,
  .list-group-item-text {
    color: inherit;
    font-size: $expansion-panel-font-size-secondary;
    line-height: $line-height-base;
    margin-bottom: 0;
  }
