// Todo: expansion panel with different background colours

.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
}

.list-group-item {
  @include transition-standard(background-color, color);

  background-color: $expansion-panel-bg;
  border: 0;
  box-shadow: map-get($expansion-panel-elevation-shadow, shadow);
  color: $expansion-panel-color;
  display: block;
  font-size: $expansion-panel-font-size;
  line-height: $expansion-panel-line-height;
  min-height: $expansion-panel-height;
  padding: $expansion-panel-padding-y $expansion-panel-padding-x;
  position: relative;

  @include active-focus-hover {
    color: $expansion-panel-color;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    background-color: $expansion-panel-bg;
    color: $expansion-panel-color-disabled;
  }

  &:first-child {
    @include border-top-radius($expansion-panel-border-radius);
  }

  &:last-child {
    @include border-bottom-radius($expansion-panel-border-radius);
  }

  &.active {
    background-color: $expansion-panel-bg-active;
    color: $expansion-panel-color;
  }

  .card & {
    padding-right: $card-padding-x;
    padding-left: $card-padding-x;
  }
}

.list-group-item-action {
  color: $expansion-panel-color;
  text-align: inherit;
  width: 100%;

  @include active-focus-hover {
    background-color: $expansion-panel-bg-active;
    color: $expansion-panel-color;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    background-color: $expansion-panel-bg;
    color: $expansion-panel-color-disabled;
  }

  &:focus {
    outline: 0;
  }
}

// Colour
@each $color, $values in $theme-colors {
  .list-group-item-#{$color} {
    @include color-yiq(map-get(theme-color($color), lighter));

    background-color: map-get(theme-color($color), lighter);

    &.active {
      @include color-yiq(map-get(theme-color($color), color));

      background-color: map-get(theme-color($color), color);
    }

    &.list-group-item-action {
      @include active-focus-hover {
        @include color-yiq(map-get(theme-color($color), color));

        background-color: map-get(theme-color($color), color);
      }
    }
  }
}



// Expansion panel

.expansion-panel {
  @include transition-standard(background-color, color, margin);

  padding: 0;

  &.show {
    border-radius: $expansion-panel-border-radius;

    &:not(:first-child) {
      margin-top: $expansion-panel-margin-y;
    }

    &:not(:last-child) {
      margin-bottom: $expansion-panel-margin-y;
    }

    + .expansion-panel {
      @include border-top-radius($expansion-panel-border-radius);
    }
  }

  &.show-predecessor {
    @include border-bottom-radius($expansion-panel-border-radius);
  }
}

.expansion-panel-body {
  padding: $expansion-panel-padding-y $expansion-panel-padding-x;
}

.expansion-panel-icon {
  flex-shrink: 0;
  margin-left: $expansion-panel-inner-spacer-x;

  .collapsed-hide {
    [data-toggle='collapse'].collapsed & {
      display: none;
    }
  }

  .collapsed-show {
    [data-toggle='collapse']:not(.collapsed) & {
      display: none;
    }
  }
}

.expansion-panel-toggler {
  color: inherit;
  display: block;
  padding: $expansion-panel-padding-y $expansion-panel-padding-x;
  text-align: inherit;
  width: 100%;

  @include active-focus-hover {
    background-color: $expansion-panel-bg-active;
    color: $expansion-panel-color;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    background-color: $expansion-panel-bg;
    color: $expansion-panel-color-disabled;
  }

  &:focus {
    outline: 0;
  }
}



// Flush

.list-group-flush {
  .list-group-item {
    border-top: $expansion-panel-border-width solid $expansion-panel-border-color;
    border-radius: 0;
    box-shadow: none;

    &:last-child {
      border-bottom: $expansion-panel-border-width solid $expansion-panel-border-color;
    }
  }

  &:first-child .list-group-item:first-child {
    border-top: 0;
  }

  &:last-child .list-group-item:last-child {
    border-bottom: 0;
  }
}
