.expansion-panel,
.list-group {
  margin-bottom: $expansion-panel-margin-bottom;
  padding-left: 0;
}

//
// item
//
  .expansion-panel-item,
  .list-group-item {
    background-color: $expansion-panel-bg;
    border: 0;
    border-top: $expansion-panel-border-width solid $expansion-panel-border-color;
    box-shadow: map-get($expansion-panel-elevation-shadow, shadow);
    color: $expansion-panel-color;
    display: block;
    font-size: $expansion-panel-font-size;
    min-height: $expansion-panel-height;
    padding: $expansion-panel-spacer-y $expansion-panel-spacer-x;
    position: relative;
    @include transition-standard(background-color, color);
    &:first-of-type {
      border-top-color: transparent;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    &:last-of-type {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    // active, focus, hover
      &.active {
        background-color: $expansion-panel-bg-active;
      }
    // disabled
      &.disabled {
        background-color: $expansion-panel-bg-disabled;
        color: $expansion-panel-color-disabled;
        cursor: $cursor-disabled;
        &:active,
        &:focus {
          background-color: $expansion-panel-bg-disabled;
          color: $expansion-panel-color-disabled;
        }
      }
  }

  a,
  button {
    &.expansion-panel-item,
    &.list-group-item {
      // active, focus, hover
        &:active,
        &:focus {
          background-color: $expansion-panel-bg-active;
          color: $expansion-panel-color;
        }
        @include focus-hover {
          text-decoration: none;
        }
        &:focus {
          outline: 0;
        }
    }
  }

  .expansion-panel-item-action,
  .list-group-item-action {
    text-align: inherit;
    width: 100%;
  }

  // colour
    @each $color in $palettes {
      $i: index($palettes, $color);

      .expansion-panel-item-#{$color},
      .list-group-item-#{$color} {
        background-color: nth($palettes-color, $i);
        color: nth($palettes-text-color, $i);
        // active, focus, hover
          &.active {
            background-color: nth($palettes-color-dark, $i);
            color: nth($palettes-text-color-dark, $i);
          }
      }

      a,
      button {
        &.expansion-panel-item-#{$color},
        &.list-group-item-#{$color} {
          // active, focus, hover
            &:active,
            &:focus {
              background-color: nth($palettes-color-dark, $i);
              color: nth($palettes-text-color-dark, $i);
            }
        }
      }
    }

//
// expansion
//
  .expansion-panel-collapse {
    background-color: $expansion-panel-bg;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: map-get($expansion-panel-elevation-shadow, shadow);
    position: relative;
    &.collapsing,
    &.in {
      margin-bottom: $expansion-panel-margin-between;

      + .expansion-panel-item,
      + .list-group-item {
        border-top-color: transparent;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
    &.collapsing {
      transition-property: height, margin-bottom;
    }
    .collapsed + & {
      &.collapsing {
        margin-bottom: 0;

        + .expansion-panel-item,
        + .list-group-item {
          border-top-color: $expansion-panel-border-color;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

  }

  .expansion-panel-collapse-body {
    padding: $expansion-panel-body-spacer-y $expansion-panel-spacer-x;
    > :last-child {
      margin-bottom: 0;
    }
  }

  .expansion-panel-collapse-footer {
    border-top: $expansion-panel-border-width solid $expansion-panel-border-color;
    padding: $expansion-panel-footer-spacer-y $expansion-panel-footer-spacer-x;
    padding-left: $expansion-panel-spacer-y;
    text-align: right;
    .btn {
      min-width: 0;
      + .btn {
        margin-left: $expansion-panel-footer-spacer-x;
      }
    }
  }

  .expansion-panel-item,
  .list-group-item {
    &[data-toggle="collapse"] {
      border-radius: $border-radius $border-radius 0 0;
      border-top-color: transparent;
      cursor: pointer;
      margin-top: $expansion-panel-margin-between;
      transition-property: background-color, border-radius, border-top-color, color, margin-top;
      &::before {
        background-color: inherit;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
        z-index: 1;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &.collapsed {
      border-radius: 0;
      border-top-color: $expansion-panel-border-color;
      margin-top: 0;
      &::before {
        display: none;
      }
    }
  }

  // colour
    @each $color in $palettes {
      $i: index($palettes, $color);

      .expansion-panel-item-#{$color},
      .list-group-item-#{$color} {
        &[data-toggle="collapse"]:not(.collapsed) {
          // active, focus, hover
            &:focus {
              background-color: nth($palettes-color, $i);
              color: nth($palettes-text-color, $i);
            }
        }
        + .expansion-panel-collapse {
          background-color: nth($palettes-color, $i);
          color: nth($palettes-text-color, $i);
        }
      }
    }

//
// misc
//
  .expansion-panel-item-heading,
  .list-group-item-heading {
    color: inherit;
    font-size: $expansion-panel-font-size;
    line-height: $line-height-base;
    margin-top: 0;
    margin-bottom: 0;
  }

  .expansion-panel-item-icon {
    color: $expansion-panel-icon-color;
    font-size: $font-size-base;
    line-height: $material-icon-size;
    height: $material-icon-size;
    margin-top: ($material-icon-size / -2);
    position: absolute;
      top: ($expansion-panel-height / 2);
      right: $expansion-panel-spacer-x;
    width: $material-icon-size;
    @include transition-standard(color);
  }

  // active, focus, hover
    .expansion-panel-item,
    .list-group-item {
      &.collapsed[data-toggle="collapse"] {
        &:active,
        &:focus {
          .expansion-panel-item-icon {
            color: $expansion-panel-icon-color-active;
          }
        }
      }
    }

  // variation
    .expansion-panel-item-icon-rotate {
      transition-property: color, transform;
      .expansion-panel-item[data-toggle="collapse"] &,
      .list-group-item[data-toggle="collapse"] & {
        transform: rotate(180deg);
      }
      .expansion-panel-item.collapsed[data-toggle="collapse"] &,
      .list-group-item.collapsed[data-toggle="collapse"] & {
        transform: rotate(0);
      }
    }

  .expansion-panel-item-text,
  .list-group-item-text {
    color: inherit;
    font-size: $expansion-panel-font-size-secondary;
    line-height: $line-height-base;
    margin-bottom: 0;
  }
