// Todo: Bootstrap accordion (i.e. Material design expansion panel)
// since Bootstrap accordion now relies on `.card`
// some tweaks are needed for the default accordion example to work correctly
// we probably need a wrapper to add additional styles in line with Material design

.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
}

.list-group-item {
  @include transition-standard(background-color, color);

  background-color: $expansion-panel-bg;
  border: 0;
  border-bottom: $expansion-panel-border-width solid $expansion-panel-border-color;
  box-shadow: map-get($expansion-panel-elevation-shadow, shadow);
  color: $expansion-panel-color;
  display: block;
  font-size: $expansion-panel-font-size;
  min-height: $expansion-panel-height;
  padding: $expansion-panel-inner-spacer-y $expansion-panel-inner-spacer-x;
  position: relative;

  // Active, focus, hover
  @include active-focus-hover {
    color: $expansion-panel-color;
    text-decoration: none;
  }

  &.active {
    background-color: $expansion-panel-bg-active;
  }

  // Disabled
  &.disabled {
    background-color: $expansion-panel-bg-disabled;
    color: $expansion-panel-color-disabled;
  }

  // First and last child variations
  &:first-child {
    @include border-top-radius($border-radius);
  }

  &:last-child {
    @include border-bottom-radius($border-radius);

    border-bottom: 0;
  }
}

.list-group-item-action {
  color: $expansion-panel-color;
  text-align: inherit;
  width: 100%;

  // Active, focus, hover
  @include active-focus-hover {
    background-color: $expansion-panel-bg-active;
  }

  &:focus {
    outline: 0;
  }

  // Disabled
  &.disabled {
    background-color: $expansion-panel-bg-disabled;
    pointer-events: none;
  }
}

// Colour
@each $color, $values in $theme-colors {
  .list-group-item-#{$color} {
    @include color-yiq(map-get(theme-color($color), color));

    background-color: map-get(theme-color($color), color);

    // Active, focus, hover
    @include active-focus-hover {
      @include color-yiq(map-get(theme-color($color), color));
    }

    &.active {
      @include color-yiq(map-get(theme-color($color), darker));

      background-color: map-get(theme-color($color), darker);
    }

    &.list-group-item-action {
      // Active, focus, hover
      @include active-focus-hover {
        @include color-yiq(map-get(theme-color($color), darker));

        background-color: map-get(theme-color($color), darkerr);
      }
    }
  }
}



// Flush

.list-group-flush {
  .list-group-item {
    border-radius: 0;
    box-shadow: none;

    &:first-child {
      border-top: $expansion-panel-border-width solid $expansion-panel-border-color;
    }

    &:last-child {
      border-bottom: $expansion-panel-border-width solid $expansion-panel-border-color;
    }
  }

  &:first-child .list-group-item:first-child {
    border-top: 0;
  }

  &:last-child .list-group-item:last-child {
    border-bottom: 0;
  }
}
