.dropdown,
.dropup {
  position: relative;
  transform-style: preserve-3d;
}

.dropdown-menu {
  color: inherit;
  display: none;
  float: left;
  font-size: $menu-font-size;
  line-height: $menu-line-height;
  list-style: none;
  margin: 0;
  min-width: $menu-min-width;
  padding: $menu-padding-y 0;
  position: absolute;
  text-align: left;
  z-index: map-get($menu-elevation-shadow, elevation);

  &::before {
    background-clip: padding-box;
    background-color: $menu-bg;
    box-shadow: map-get($menu-elevation-shadow, shadow);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &.show {
    display: block;

    &::before,
    > * {
      animation-duration: $transition-duration-mobile;
      animation-timing-function: $transition-timing-function-standard;

      @include media-breakpoint-up(sm) {
        animation-duration: $transition-duration-tablet;
      }

      @include media-breakpoint-up(lg) {
        animation-duration: $transition-duration-desktop;
      }
    }

    &::before {
      animation-name: dropdown-menu-show;
    }

    > * {
      animation-name: dropdown-item-show;
    }

    > *:first-child {
      animation-name: dropdown-item-show-1;

      + * {
        animation-name: dropdown-item-show-2;

        + * {
          animation-name: dropdown-item-show-3;
        }
      }
    }
  }
}

.dropdown-menu {
  &,
  &::before {
    @include border-bottom-radius($border-radius);
  }

  &::before {
    transform-origin: 0 0;
  }
}

.menu {
  margin-top: (($menu-link-height - ($menu-link-height - $menu-line-height) / 2) * -1 + $menu-padding-y * -1);

  &,
  &::before {
    @include border-radius($border-radius);
  }

  &::before {
    transform-origin: 0 ($menu-link-height / 2 + $menu-padding-y);
  }
}

.show > a {
  outline: 0;
}

@keyframes dropdown-item-show {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropdown-item-show-1 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropdown-item-show-2 {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropdown-item-show-3 {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropdown-menu-show {
  0% {
    transform: scale(0, 0);
  }

  20% {
    transform: scale((1 / 3), 0);
  }

  40% {
    transform: scale((2 / 3), .25);
  }

  60% {
    transform: scale(1, .5);
  }

  80% {
    transform: scale(1, .75);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes menu-animation {
  0% {
    margin-top: (($menu-link-height + $menu-padding-y) * -1);
  }

  100% {
    margin-top: 0;
  }
}

// Positioning
.dropdown-menu {
  &[x-placement="bottom-end"] {
    &::before {
      transform-origin: 100% 0;
    }
  }

  &[x-placement="top-end"],
  &[x-placement="top-start"] {
    &,
    &::before {
      @include border-top-radius($border-radius);
      @include border-bottom-radius(0);
    }

    &.show {
      > .dropdown-item:nth-child(1),
      > .dropdown-item:nth-child(2),
      > .dropdown-item:nth-child(3) {
        animation-name: dropdown-item-show;
      }

      > .dropdown-item:nth-last-child(1) {
        animation-name: dropdown-item-show-1;
      }

      > .dropdown-item:nth-last-child(2) {
        animation-name: dropdown-item-show-2;
      }

      > .dropdown-item:nth-last-child(3) {
        animation-name: dropdown-item-show-3;
      }
    }
  }

  &[x-placement="top-end"] {
    &::before {
      transform-origin: 100% 100%;
    }
  }

  &[x-placement="top-start"] {
    &::before {
      transform-origin: 0 100%;
    }
  }
}

.menu {
  &[x-placement="bottom-end"] {
    &::before {
      transform-origin: 100% ($menu-link-height / 2 + $menu-padding-y);
    }
  }

  &[x-placement="top-end"],
  &[x-placement="top-start"] {
    margin-top: 0;
    margin-bottom: (($menu-link-height - ($menu-link-height - $menu-line-height) / 2) * -1 + $menu-padding-y * -1);
  }

  &[x-placement="top-end"] {
    &::before {
      transform-origin: 100% calc(100% - #{$menu-link-height / 2 + $menu-padding-y});
    }
  }

  &[x-placement="top-start"] {
    &::before {
      transform-origin: 0 calc(100% - #{$menu-link-height / 2 + $menu-padding-y});
    }
  }
}

// Size
.dropdown-menu-sm,
.menu-cascading {
  font-size: $menu-font-size-cascading;
  line-height: $menu-line-height-cascading;
  padding: $menu-padding-y-cascading 0;

  @include media-breakpoint-up(sm) {
    min-width: $menu-min-width-cascading;
  }
}

.menu-cascading {
  margin-top: (($menu-link-height-cascading - ($menu-link-height-cascading - $menu-line-height-cascading) / 2) * -1 + $menu-padding-y-cascading * -1);

  &[x-placement="top-end"],
  &[x-placement="top-start"] {
    margin-top: 0;
    margin-bottom: (($menu-link-height-cascading - ($menu-link-height-cascading - $menu-line-height-cascading) / 2) * -1 + $menu-padding-y-cascading * -1);
  }
}



// Button, link and more within the dropdown menu

.dropdown-item {
  @include transition-standard(background-color, color);

  background: none;
  border: 0;
  clear: both;
  color: $menu-link-color;
  display: block;
  font-weight: normal;
  padding: $menu-link-padding;
  position: relative;
  text-align: inherit;
  transform-origin: 0 0;
  white-space: nowrap;
  width: 100%;

  // Active, focus, hover
  @include active-focus-hover {
    background-color: $menu-link-bg-active;
    color: $menu-link-color;
    text-decoration: none;
  }

  // Disabled
  &.disabled {
    background-color: transparent;
    color: $menu-link-color-disabled;
    pointer-events: none;
  }

  // Size
  .dropdown-menu-sm &,
  .menu-cascading & {
    padding: $menu-link-padding-cascading;
  }
}



// Divider

.dropdown-divider {
  @include nav-divider($menu-divider-bg);
}



// Header

.dropdown-header {
  color: $menu-link-color;
  display: block;
  font-size: $menu-font-size;
  font-weight: bolder;
  line-height: $menu-line-height;
  margin: 0;
  padding: $menu-link-padding;
  white-space: nowrap;

  .dropdown-menu-sm &,
  .menu-cascading & {
    padding: $menu-link-padding-cascading;
  }
}



// Toggle

.dropdown-toggle {
  &::after {
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: $caret-width;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 0;

    .dropup & {
      border-top: 0;
      border-bottom: $caret-width solid;
    }
  }

  &:empty::after {
    margin-left: 0;
  }
}
