.navdrawer {
  display: none;
  overflow: hidden;
  outline: 0;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: map-get($navdrawer-elevation-shadow, elevation);
}

//
// backdrop
//
  .navdrawer-backdrop {
    background-color: $navdrawer-backdrop-bg;
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    transition: opacity $transition-duration-sm $transition-timing-function-standard;
    z-index: (map-get($navdrawer-elevation-shadow, elevation) - 1);
    &.in {
      opacity: 1;
    }
  }

//
// content
//
  .navdrawer-content {
    background-color: $navdrawer-content-bg;
    box-shadow: map-get($navdrawer-elevation-shadow, shadow);
    max-width: calc(100% - #{$navdrawer-gutter-width});
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
    transform: translateX(-100%);
    transition: transform $transition-duration $transition-timing-function-standard;
    width: $navdrawer-width-mobile;
    -webkit-overflow-scrolling: touch;
    // direction
      .navdrawer-right & {
        // position
          right: 0;
          left: auto;
        transform: translateX(100%);
      }
    // open
      .navdrawer.in & {
        transform: translateX(0);
      }
  }

//
// misc
//
  .navdrawer-body {
    margin-bottom: $navdrawer-inner-spacer-y;
    padding-right: $navdrawer-inner-spacer-x;
    padding-left: $navdrawer-inner-spacer-x;
  }

  .navdrawer-divider {
    @include nav-divider($navdrawer-divider-bg);
  }

  .navdrawer-header {
    background-color: $navdrawer-header-bg;
    border-bottom: $navdrawer-header-border-width solid $navdrawer-header-border-color;
    display: block;
    margin-bottom: $navdrawer-inner-spacer-y;
    padding: ($navdrawer-inner-spacer-y * 2) $navdrawer-inner-spacer-x;
  }

  .navdrawer-subheader {
    color: $navdrawer-subheader-color;
    display: block;
    font-weight: $navdrawer-subheader-font-weight;
    height: $navdrawer-subheader-height;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding: (($navdrawer-subheader-height - $navdrawer-subheader-font-size) / 2) $navdrawer-inner-spacer-x;
    @include text-truncate;
    .navdrawer-divider + & {
      margin-top: ($navdrawer-inner-spacer-y * -1);
    }
  }

//
// nav
//
  .navdrawer-nav {
    margin-bottom: $navdrawer-inner-spacer-y;
    .nav-item + .nav-item {
      margin-top: 1px;
    }
    .nav-link {
      color: $navdrawer-nav-link-color;
      display: block;
      font-size: $navdrawer-nav-link-font-size;
      font-weight: $navdrawer-nav-link-font-weight;
      line-height: 1;
      padding: (($navdrawer-nav-link-height - $navdrawer-nav-link-font-size) / 2) $navdrawer-inner-spacer-x;
      transition-duration: $transition-duration;
      transition-property: background-color color;
      transition-timing-function: $transition-timing-function-standard;
      @include text-truncate;
      // active, focus, hover
        &:active,
        &:focus,
        &.active {
          background-color: $navdrawer-nav-link-bg-active;
        }
        &:active,
        &.active {
          color: $navdrawer-nav-link-color-active;
        }
        &:focus {
          outline: 0;
        }
      // disabled
        &.disabled {
          background-color: transparent;
          color: $navdrawer-nav-link-color-disabled;
        }
    }
  }

  .navdrawer-nav-icon {
    color: $navdrawer-nav-icon-color;
    width: $navdrawer-nav-icon-width;
    .nav-link:active &,
    .nav-link.active & {
      color: $navdrawer-nav-link-color-active;
    }
  }

//
// permanent
//
  @include media-breakpoint-up(lg) {
    .navdrawer-permanent {
      border-right: $navdrawer-border-width solid $navdrawer-border-color;
      display: block !important;
      // position
        right: auto;
      width: $navdrawer-width-mobile;
      &.navdrawer-right {
        border-right: 0;
        border-left: $navdrawer-border-width solid $navdrawer-border-color;
        // position
          right: 0;
          left: auto;
      }
      .navdrawer-content {
        box-shadow: none;
        max-width: none;
        position: absolute;
        transform: translateX(0);
        width: 100%;
      }
    }

    // backdrop
      .navdrawer-backdrop-permanent {
        display: none;
      }

    // variation
      .navdrawer-permanent-clipped,
      .navdrawer-permanent-float {
        // position
          top: $toolbar-height;
        z-index: (map-get($toolbar-elevation-shadow, elevation) - 1);
      }

      .navdrawer-permanent-clipped {
        border-top: $navdrawer-border-width solid $navdrawer-border-color;
        margin-top: ($navdrawer-border-width * -1);
      }

      .navdrawer-permanent-float {
        border-right: 0;
        &.navdrawer-right {
          border-left: 0;
        }
        .navdrawer-content {
          background-color: transparent;
        }
      }
  }

//
// persistent
//
  @include media-breakpoint-up(lg) {
    .navdrawer-persistent {
      // position
        right: auto;
      width: $navdrawer-width-mobile;
      &.navdrawer-right {
        // position
          right: 0;
          left: auto;
      }
      .navdrawer-content {
        border-right: $navdrawer-border-width solid $navdrawer-border-color;
        box-shadow: none;
        max-width: none;
        position: absolute;
        width: 100%;
      }
      &.navdrawer-right .navdrawer-content {
        border-right: 0;
        border-left: $navdrawer-border-width solid $navdrawer-border-color;
      }
    }

    // backdrop
      .navdrawer-backdrop-persistent {
        display: none;
      }

    // variation
      .navdrawer-persistent-clipped {
        border-top: $navdrawer-border-width solid $navdrawer-border-color;
        margin-top: ($navdrawer-border-width * -1);
        // position
          top: $toolbar-height;
        z-index: (map-get($toolbar-elevation-shadow, elevation) - 1);
      }
  }

//
// temporary
//
  @include media-breakpoint-up(lg) {
    .navdrawer-temporary {
      overflow: visible;
      // position
        right: auto;
      width: $navdrawer-width-mobile;
      &.navdrawer-right {
        // position
          right: 0;
          left: auto;
      }
      .navdrawer-content {
        max-width: none;
        position: absolute;
        width: 100%;
      }
    }

    // backdrop
      .navdrawer-backdrop-temporary {
        display: none;
      }
  }
