.custom-control {
  cursor: pointer;
  display: inline;
  padding-left: ($c-input-size / $font-size-root + $spacer-sm-x);
  position: relative;
  + .custom-control {
    margin-left: $spacer-md-x;
  }
}

.custom-control-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  // active, focus, hover
    // &:focus ~ .c-indicator {
    //   &::before {
    //     opacity: 0.12;
    //   }
    // }
  // checked
    &:checked ~ .c-indicator {
      &::after {
        opacity: 1;
      }
      &::before {
        background-color: hex-to-rgba($c-input-theme-color, 0.12);
      }
    }
}

// indicator
  .custom-control-indicator {
    background-clip: content-box;
    border-style: solid;
    border-width: $c-input-border-width;
    color: $c-input-theme-color;
    display: block;
    height: $c-input-size;
    line-height: $c-input-size;
    position: absolute;
      top: 0;
      left: 0;
    text-align: center;
    transition: all $transition-duration $transition-timing-function;
    user-select: none;
    &::after {
      direction: ltr;
      display: block;
      font-family: 'Material Icons';
      font-feature-settings: 'liga';
      font-size: ($c-input-size * 1.25);
      font-style: normal;
      font-weight: normal;
      height: ($c-input-size * 1.25);
      letter-spacing: normal;
      line-height: 1;
      position: absolute;
        top: ($c-input-size / -4);
        left: ($c-input-size / -4);
      text-rendering: optimizeLegibility;
      text-transform: none;
      transition-duration: $transition-duration;
      transition-timing-function: $transition-timing-function;
      vertical-align: top;
      width: ($c-input-size * 1.25);
      white-space: nowrap;
      word-wrap: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &::before {
      background-color: $c-input-radial-bg;
      border-radius: 50%;
      content: "";
      display: block;
      height: ($c-input-size * 3);
      margin-top: ($c-input-size * -1);
      margin-left: ($c-input-size * -1);
      opacity: 0;
      position: absolute;
        top: ($c-input-border-width * -1);
        left: ($c-input-border-width * -1);
      transform: scale(0);
      width: ($c-input-size * 3);
      transition: opacity $transition-duration $transition-timing-function;
    }
    // active, focus, hover
      &:active::before {
        animation: c-indicator-active $transition-duration $transition-timing-function;
        transform: scale(1);
      }
  }

  @keyframes c-indicator-active {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

//
// checkbox
//
  .custom-checkbox {
    .custom-control-indicator {
      border-color: $c-input-border-color;
      border-radius: $border-radius;
      width: $c-input-size;
      &::after {
        content: "check_box";
        opacity: 0;
        transition-property: opacity;
      }
    }
    .custom-control-input {
      // checked
        &:checked ~ .custom-control-indicator {
          border-color: $c-input-theme-color;
          &::after {
            opacity: 1;
          }
        }
      // indeterminate
        &:indeterminate ~ .custom-control-indicator {
          border-color: $c-input-theme-color;
          &::after {
            content: "indeterminate_check_box";
            opacity: 1;
          }
          &::before {
            background-color: $c-input-theme-color;
          }
        }
    }
  }

//
// radio button
//
  .custom-radio {
    .custom-control-indicator {
      border-color: $c-input-border-color;
      border-radius: 50%;
      width: $c-input-size;
      &::after {
        content: "radio_button_checked";
        opacity: 0;
        transition-property: opacity;
      }
    }
    .custom-control-input {
      // checked
        &:checked ~ .custom-control-indicator {
          border-color: $c-input-theme-color;
          &::after {
            opacity: 1;
          }
        }
    }
  }

//
// stacked layout
//
  .custom-controls-stacked {
    .custom-control-indicator {
      // position
        top: (($font-size-default * $line-height-default - ($c-input-size) / $font-size-root) / 2);
    }

    .custom-control {
      display: block;
      + .custom-control {
        margin-top: $spacer-xs-y;
        margin-left: 0;
      }
    }
  }

//
// switch
//
  .custom-switch {
    padding-left: ($c-input-track-width / $font-size-root + $spacer-sm-x);
    .custom-control-indicator {
      background-color: $c-input-track-bg;
      border-color: transparent;
      border-radius: (($c-input-size - $c-input-border-width) / 2);
      width: $c-input-track-width;
      &::after {
        background-color: $c-input-thumb-bg;
        border-radius: 50%;
        box-shadow: $c-input-thumb-shadow;
        content: "";
        transition-property: background-color transform;
      }
    }
    .custom-control {
      // checked
        &:checked ~ .custom-control-indicator {
          background-color: hex-to-rgba($c-input-theme-color, 0.5);
          border-color: transparent;
          &::after,
          &::before {
            transform: translateX($c-input-size);
          }
          &::after {
            background-color: $c-input-theme-color;
          }
        }
    }
  }
