//
// todo: .custome-file and .custon-select
//

.custom-control {
  cursor: pointer;
  display: inline;
  padding-left: ($selection-control-indicator-size / $font-size-root + $selection-control-spacer-x);
  position: relative;
  + .custom-control {
    margin-left: ($selection-control-spacer-x * 2);
  }
}

.custom-control-indicator {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: $selection-control-indicator-size;
  display: block;
  height: $selection-control-indicator-size;
  line-height: $selection-control-indicator-size;
  position: absolute;
    top: (($font-size-base - $selection-control-indicator-size / $font-size-root) / 2);
    left: 0;
  text-align: center;
  transition: background-image $transition-duration $transition-timing-function;
  user-select: none;
  width: $selection-control-indicator-size;
  &::before {
    background-color: $selection-control-radial-bg;
    border-radius: 50%;
    content: "";
    display: block;
    height: ($selection-control-indicator-size * 2);
    margin-top: ($selection-control-indicator-size / -2);
    margin-left: ($selection-control-indicator-size / -2);
    opacity: 0;
    position: absolute;
      top: 0;
      left: 0;
    transition: all $transition-duration $transition-timing-function;
    width: ($selection-control-indicator-size * 2);
  }
  // active, focus, hover
    &:active::before {
      opacity: 1;
    }
}

.custom-control-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  // active, focus, hover
    &:focus ~ .custom-control-indicator::before {
      opacity: 1;
    }
  // checked
    &:checked ~ .custom-control-indicator {
      &::before {
        background-color: hex-to-rgba($selection-control-color-active, 0.12);
      }
    }
  // disabled
    &:disabled ~ {
      .custom-control-indicator,
      .custom-control-description {
        color: $selection-control-color-disabled;
        cursor: $cursor-disabled;
      }
      .custom-control-indicator{
        pointer-events: none;
        &::before {
          display: none;
        }
      }
    }
}

// stacked layout
  .custom-controls-stacked {
    // .custom-control-indicator {
    //   // position
    //     top: (($font-size-base * $line-height-base - ($selection-control-indicator-size) / $font-size-root) / 2);
    // }
    .custom-control {
      &::after {
        content: "";
        display: block;
        margin-bottom: $selection-control-spacer-y;
      }
      &:last-child::after {
        display: none;
      }
      + .custom-control {
        margin-left: 0;
      }
    }
  }

//
// checkbox
//
  .custom-checkbox {
    .custom-control-indicator {
      background-image: $selection-control-checkbox-bg;
    }
    .custom-control-input {
      // checked
        &:checked ~ .custom-control-indicator {
          background-image: $selection-control-checkbox-bg-checked;
        }
      // disabled
        &:disabled {
          ~ .custom-control-indicator {
            background-image: $selection-control-checkbox-bg-disabled;
          }
          &:checked ~ .custom-control-indicator {
            background-image: $selection-control-checkbox-bg-disabled-checked;
          }
        }
      // indeterminate
        &:indeterminate ~ .custom-control-indicator {
          background-image: $selection-control-checkbox-bg-indeterminate;
        }
    }
  }

//
// radio button
//
  .custom-radio {
    .custom-control-indicator {
      background-image: $selection-control-radio-bg;
    }
    .custom-control-input {
      // checked
        &:checked ~ .custom-control-indicator {
          background-image: $selection-control-radio-bg-checked;
        }
      // disabled
        &:disabled {
          ~ .custom-control-indicator {
            background-image: $selection-control-radio-bg-disabled;
          }
          &:checked ~ .custom-control-indicator {
            background-image: $selection-control-radio-bg-disabled-checked;
          }
        }
    }
  }

//
// switch
//
  .custom-switch {
    padding-left: ($selection-control-track-width / $font-size-root + $selection-control-spacer-x);
    .custom-control-indicator {
      background-clip: content-box;
      background-color: $selection-control-track-bg;
      border: (($selection-control-indicator-size - $selection-control-track-height) / 2) solid transparent;
      border-radius: $selection-control-track-height;
      transition: background-color $transition-duration $transition-timing-function;
      width: $selection-control-track-width;
      &::after,
      &::before {
        // position
          top: (($selection-control-indicator-size - $selection-control-track-height) / -2);
          left: (($selection-control-indicator-size - $selection-control-track-height) / -2);
      }
      &::after {
        background-color: $selection-control-thumb-bg;
        border-radius: 50%;
        box-shadow: $selection-control-thumb-shadow;
        content: "";
        display: block;
        height: $selection-control-indicator-size;
        position: absolute;
        transition: all $transition-duration $transition-timing-function;
        width: $selection-control-indicator-size;
      }
    }
    .custom-control-input {
      // checked
        &:checked ~ .custom-control-indicator {
          background-color: hex-to-rgba($selection-control-color-active, 0.5);
          &::after,
          &::before {
            transform: translateX($selection-control-track-width - $selection-control-indicator-size);
          }
          &::after {
            background-color: $selection-control-color-active;
          }
        }
      // disabled
        &:disabled ~ .custom-control-indicator {
          background-color: $selection-control-track-bg-disabled;
          &::after {
            background-color: $selection-control-thumb-bg-disabled;
          }
        }
    }
  }
