.form-control,
%form-control {
  @include form-control-size($textfield-font-size, $textfield-height, $textfield-line-height, $textfield-padding-x, $textfield-padding-y);
  @include transition-standard(border-color, box-shadow);

  background-clip: padding-box;
  background-color: transparent;
  background-image: none;
  border-color: $textfield-border-color;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 $textfield-border-width;
  box-shadow: none;
  color: $textfield-color;
  display: block;
  width: 100%;

  @include hover {
    border-color: $textfield-border-color-hover;
    box-shadow: inset 0 ($textfield-border-width-hover * -1) 0 ($textfield-border-width * -1) $textfield-border-color-hover;
  }

  &:disabled,
  &[readonly] {
    border-style: dotted;
    color: $textfield-color-disabled;
    opacity: 1;

    @include hover {
      border-color: $textfield-border-color;
      box-shadow: none;
    }

    &:focus {
      border-color: $textfield-border-color;
      box-shadow: none;
    }
  }

  &:focus {
    border-color: $textfield-border-color-focus;
    box-shadow: inset 0 ($textfield-border-width-focus * -1) 0 ($textfield-border-width * -1) $textfield-border-color-focus;
    outline: 0;
  }

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: $textfield-hint-color;
    opacity: 1;
  }
}

// Colour
@each $color, $values in $theme-colors {
  .form-control-#{$color} {
    border-color: map-get(theme-color($color), color);

    @include focus-hover {
      border-color: map-get(theme-color($color), color);
      box-shadow: inset 0 ($textfield-border-width-focus * -1) 0 ($textfield-border-width * -1) map-get(theme-color($color), color);
    }
  }
}

// Size
.form-control-lg,
%form-control-lg {
  @include form-control-size($textfield-font-size-lg, $textfield-height-lg, $textfield-line-height-lg, $textfield-padding-x-lg, $textfield-padding-y-lg);
}

.form-control-sm,
%form-control-sm {
  @include form-control-size($textfield-font-size-sm, $textfield-height-sm, $textfield-line-height-sm, $textfield-padding-x-sm, $textfield-padding-y-sm);
}

// Special treatment for select and textarea
%form-control-select {
  appearance: none;

  @include media-moz-webkit {
    $select-bg-size: (($material-icon-size / $textfield-font-size) * $textfield-font-size);

    background-image: $caret-bg;
    background-position: 100% ($textfield-height / 2 - $select-bg-size / 2);
    background-repeat: no-repeat;
    background-size: $select-bg-size $select-bg-size;
    padding-right: $select-bg-size;
  }

  &.form-control-lg {
    @include media-moz-webkit {
      $select-bg-size-lg: (($material-icon-size / $textfield-font-size) * $textfield-font-size-lg);

      background-position: 100% ($textfield-height-lg / 2 - $select-bg-size-lg / 2);
      background-size: $select-bg-size-lg $select-bg-size-lg;
      padding-right: $select-bg-size-lg;
    }
  }

  &.form-control-sm {
    @include media-moz-webkit {
      $select-bg-size-sm: (($material-icon-size / $textfield-font-size) * $textfield-font-size-sm);

      background-position: 100% ($textfield-height-sm / 2 - $select-bg-size-sm / 2);
      background-size: $select-bg-size-sm $select-bg-size-sm;
      padding-right: $select-bg-size-sm;
    }
  }
}

%textfield-box {
  border-radius: $textfield-box-border-radius;
  border-width: $textfield-border-width;
  height: auto;
  padding: $textfield-box-padding-y $textfield-box-padding-x;

  @include hover {
    box-shadow: inset $textfield-border-width-hover $textfield-border-width-hover 0 ($textfield-border-width * -1) $textfield-border-color-hover, inset ($textfield-border-width-hover * -1) ($textfield-border-width-hover * -1) 0 ($textfield-border-width * -1) $textfield-border-color-hover;
  }

  &:focus {
    box-shadow: inset $textfield-border-width-focus $textfield-border-width-focus 0 ($textfield-border-width * -1) $textfield-border-color-focus, inset ($textfield-border-width-focus * -1) ($textfield-border-width-focus * -1) 0 ($textfield-border-width * -1) $textfield-border-color-focus;
  }

  &.form-control-lg {
    padding: $textfield-box-padding-y-lg $textfield-box-padding-x-lg;
  }

  &.form-control-sm {
    padding: $textfield-box-padding-y-sm $textfield-box-padding-x-sm;
  }
}

select {
  &.form-control {
    &:not([multiple]):not([size]) {
      @extend %form-control-select;
    }

    &[multiple],
    &[size] {
      @extend %textfield-box;
    }
  }
}

textarea {
  &.form-control:not(.textarea-autosize) {
    @extend %textfield-box;
  }
}



// Form control static

.form-control-plaintext {
  @include form-control-size($textfield-font-size, $textfield-height, $textfield-line-height, $textfield-padding-x, $textfield-padding-y);

  border-color: transparent;

  &.form-control-lg {
    @include form-control-size($textfield-font-size-lg, $textfield-height-lg, $textfield-line-height-lg, $textfield-padding-x-lg, $textfield-padding-y-lg);
  }

  &.form-control-sm {
    @include form-control-size($textfield-font-size-sm, $textfield-height-sm, $textfield-line-height-sm, $textfield-padding-x-sm, $textfield-padding-y-sm);
  }
}



// Form validation

@include form-control-validation($form-feedback-invalid-color, 'invalid');
@include form-control-validation($form-feedback-valid-color, 'valid');



// Style of Material design `select` should also be applied to `.custom-select`

.custom-select {
  @extend %form-control;
  @extend %form-control-select;

  display: inline-block;
  vertical-align: middle;
  width: auto;
}
