.input-group {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;

  .form-control {
    flex: 1 1 auto;
    width: 1%;
  }
}



// Addon and button

.input-group-addon {
  align-items: center;
  color: inherit;
  display: flex;
  font-size: $textfield-font-size;
  justify-content: center;
  line-height: $textfield-line-height;
  min-width: $textfield-height;
  white-space: nowrap;

  + .form-control,
  .form-control + & {
    margin-left: $input-group-addon-margin-x;
  }
}

.input-group-btn {
  @include border-radius($btn-border-radius);

  align-items: center;
  background-color: $btn-group-bg;
  box-shadow: map-get($btn-elevation-shadow, shadow);
  display: flex;
  justify-content: center;
  margin-right: $input-group-addon-margin-x;
  margin-left: $input-group-addon-margin-x;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  > .btn {
    border-left: $btn-group-inner-spacer-x solid transparent;
    box-shadow: none;
    flex: 0 1 auto;
    min-width: 0;

    &:active,
    &.active {
      box-shadow: none;
    }

    &:disabled,
    &.disabled {
      + .btn:disabled,
      + .btn.disabled {
        border-left-color: $btn-group-divider-bg;
      }
    }

    &.active {
      + .btn.active {
        border-left-color: $btn-group-divider-bg;
      }
    }
  }

  // Colour
  @each $color, $values in $theme-colors {
    > .btn-#{$color} {
      &:disabled,
      &.disabled {
        @include color-yiq(map-get(theme-color($color), lighter));

        background-color: map-get(theme-color($color), lighter);
      }
    }
  }

  > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    @include border-right-radius(0);
  }

  > .btn:last-child:not(:first-child),
  > .dropdown-toggle:not(:first-child) {
    @include border-left-radius(0);
  }

  > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
  }

  > .dropdown-toggle:not(:last-child):not(:nth-last-child(2)) {
    @include border-right-radius(0);
  }
}



// Size

.input-group-lg {
  > .form-control {
    @extend %form-control-lg;
  }

  > .input-group-addon {
    font-size: $textfield-font-size-lg;
    line-height: $textfield-line-height-lg;
    min-width: $textfield-height-lg;
  }

  > .input-group-btn > .btn {
    @extend %btn-lg;
  }
}

.input-group-sm {
  > .form-control {
    @extend %form-control-sm;
  }

  > .input-group-addon {
    font-size: $textfield-font-size-sm;
    line-height: $textfield-line-height-sm;
    min-width: $textfield-height-sm;
  }

  > .input-group-btn > .btn {
    @extend %btn-sm;
  }
}
