.input-group {
  margin-bottom: $textfield-margin-bottom;
  position: relative;
  width: 100%;

  @if $enable-flex {
    display: flex;
  } @else {
    border-collapse: separate;
    display: table;
  }

  .form-control {
    margin-bottom: 0;
    position: relative;

    @if $enable-flex {
      flex-grow: 1;
    } @else {
      display: table-cell;
      width: 100%;
    }
  }
}

.input-group-addon {
  color: inherit;
  font-size: $textfield-font-size;
  line-height: $textfield-line-height;
  margin: 0 $spacer-md-x;
  min-width: ($textfield-height + $textfield-margin-bottom);
  padding-top: $textfield-padding-top;
  text-align: center;
  white-space: nowrap;

  @if not $enable-flex {
    display: table-cell;
    width: 1%;
  }

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

// size
  .input-group-addon {
    &.form-control-lg,
    .input-group-lg > & {
      font-size: $textfield-font-size-lg;
      line-height: $textfield-line-height-lg;
      min-width: ($textfield-height-lg + $textfield-margin-bottom-lg);
      padding: $textfield-padding-top-lg;
    }
    &.form-control-sm,
    .input-group-sm > & {
      font-size: $textfield-font-size-sm;
      line-height: $textfield-line-height-sm;
      min-width: ($textfield-height-sm + $textfield-margin-bottom-sm);
      padding: $textfield-padding-top-sm;
    }
  }

  .input-group-lg > .form-control {
    @extend .form-control-lg;
  }

  .input-group-sm > .form-control {
    @extend .form-control-sm;
  }
