.input-group {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;

  .form-control {
    flex: 1 1 auto;
    width: 1%;
  }
}



// Addon and button

.input-group-addon {
  align-items: center;
  color: inherit;
  display: flex;
  font-size: $textfield-font-size;
  justify-content: center;
  line-height: $textfield-line-height;
  min-width: $textfield-height;
  white-space: nowrap;

  + .form-control,
  .form-control + & {
    margin-left: $input-group-addon-margin-x;
  }
}

.input-group-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: $input-group-addon-margin-x;
  margin-left: $input-group-addon-margin-x;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .btn {
    @include border-radius(0);

    min-width: 0;

    &:first-child {
      @include border-left-radius($border-radius);
    }

    &:last-child {
      @include border-right-radius($border-radius);
    }
  }
}



// Size

.input-group-lg {
  > .form-control {
    @extend %form-control-lg;
  }

  > .input-group-addon {
    font-size: $textfield-font-size-lg;
    line-height: $textfield-line-height-lg;
    min-width: $textfield-height-lg;
  }

  > .input-group-btn > .btn {
    @extend %btn-lg;
  }
}

.input-group-sm {
  > .form-control {
    @extend %form-control-sm;
  }

  > .input-group-addon {
    font-size: $textfield-font-size-sm;
    line-height: $textfield-line-height-sm;
    min-width: $textfield-height-sm;
  }

  > .input-group-btn > .btn {
    @extend %btn-sm;
  }
}
