.form-control,
%form-control {
  @include form-control-size($textfield-border-width, $textfield-font-size, $textfield-height, $textfield-padding-top, $textfield-padding-bottom);
  @include transition-standard(border-color);

  background-clip: padding-box;
  background-color: transparent;
  background-image: none;
  border-color: $textfield-border-color;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 $textfield-border-width;
  box-shadow: none;
  color: inherit;
  display: block;
  width: 100%;

  // Active, focus, hover
  @include hover {
    border-color: $textfield-border-color-hover;
    border-bottom-width: ($border-width * 2);
  }

  &:focus {
    border-color: $textfield-border-color-focus;
    border-bottom-width: ($border-width * 2);
    outline: 0;
  }

  // Disbaled
  &:disabled,
  &[readonly] {
    @include plain-active-focus-hover {
      border-color: $textfield-border-color;
      border-style: dotted;
      color: $textfield-color-disabled;
      opacity: 1;
    }
  }

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: $textfield-hint-color;
    opacity: 1;
  }
}

// Colour
@each $color in $palettes {
  $i: index($palettes, $color);

  .form-control-#{$color} {
    @include plain-active-focus-hover {
      border-color: nth($palettes-color, $i);
    }
  }
}

// Size
.form-control-lg,
%form-control-lg {
  @include form-control-size($textfield-border-width, $textfield-font-size-lg, $textfield-height-lg, $textfield-padding-top-lg, $textfield-padding-bottom-lg);
}

.form-control-sm,
%form-control-sm {
  @include form-control-size($textfield-border-width, $textfield-font-size-sm, $textfield-height-sm, $textfield-padding-top-sm, $textfield-padding-bottom-sm);
}

// Special treatment for select and textarea
%textfield-box {
  @include textarea-size($textfield-border-width, $textfield-box-padding-x, $textfield-box-padding-y);

  border-radius: $textfield-box-border-radius;
  border-width: $textfield-border-width;
  height: auto;

  // Active, focus, hover
  @include focus-hover {
    border-width: ($textfield-border-width * 2);
  }

  &.form-control-lg {
    @include textarea-size($textfield-border-width, $textfield-box-padding-x-lg, $textfield-box-padding-y-lg);
  }

  &.form-control-sm {
    @include textarea-size($textfield-border-width, $textfield-box-padding-x-sm, $textfield-box-padding-y-sm);
  }
}

select {
  &.form-control,
  &%form-control {
    appearance: none;

    @include media-moz-webkit {
      $select-bg-size: (($material-icon-size / $textfield-font-size) * $textfield-font-size);

      background-image: $caret-bg;
      background-position: 100% ($textfield-height / 2 - $select-bg-size / 2);
      background-repeat: no-repeat;
      background-size: $select-bg-size $select-bg-size;
      padding-right: $select-bg-size;

      &[multiple],
      &[size] {
        background-image: none;
      }
    }
  }

  &.form-control-lg,
  &%form-control-lg {
    @include media-moz-webkit {
      $select-bg-size-lg: (($material-icon-size / $textfield-font-size) * $textfield-font-size-lg);

      background-position: 100% ($textfield-height-lg / 2 - $select-bg-size-lg / 2);
      background-size: $select-bg-size-lg $select-bg-size-lg;
      padding-right: $select-bg-size-lg;
    }
  }

  &.form-control-sm,
  &%form-control-sm {
    @include media-moz-webkit {
      $select-bg-size-sm: (($material-icon-size / $textfield-font-size) * $textfield-font-size-sm);

      background-position: 100% ($textfield-height-sm / 2 - $select-bg-size-sm / 2);
      background-size: $select-bg-size-sm $select-bg-size-sm;
      padding-right: $select-bg-size-sm;
    }
  }

  &.form-control {
    &[multiple],
    &[size] {
      @extend %textfield-box;
    }
  }
}

textarea {
  &.form-control:not(.textarea-autosize) {
    @extend %textfield-box;
  }
}



// Form control state

@each $color in $palettes {
  $i: index($palettes, $color);

  .has-#{$color} {
    @include form-control-validation(nth($palettes-color, $i));
  }
}



// Form control static

.form-control-static {
  @include form-control-size(0, $textfield-font-size, $textfield-height, $textfield-padding-top, $textfield-padding-bottom);

  border: 0;
  margin-bottom: 0;

  &.form-control-lg {
    @include form-control-size(0, $textfield-font-size-lg, $textfield-height-lg, $textfield-padding-top-lg, $textfield-padding-bottom-lg);
  }

  &.form-control-sm {
    @include form-control-size(0, $textfield-font-size-sm, $textfield-height-sm, $textfield-padding-top-sm, $textfield-padding-bottom-sm);
  }
}



// Style of Material design `select` should also be applied to `.custom-select`

.custom-select {
  @extend %form-control;

  display: inline-block;
  vertical-align: middle;
  width: auto;
}
