.textarea-autosize {
  height: $input-height;
  min-height: $input-height;
  resize: none;
}

// size
  .form-control-lg.textarea-autosize {
    height: $input-height-lg;
    min-height: $input-height-lg;
  }

  .form-control-sm.textarea-autosize {
    height: $input-height-sm;
    min-height: $input-height-sm;
  }
