.input-group {
  display: flex;
  position: relative;
  width: 100%;

  .form-control {
    align-items: center;
    flex: 1 1 auto;
    width: 1%;
  }
}

// Size
.input-group-lg > .form-control {
  @extend %form-control-lg;
}

.input-group-sm > .form-control {
  @extend %form-control-sm;
}



// Addon and button

.input-group-addon {
  align-items: center;
  color: inherit;
  display: flex;
  font-size: ($material-icon-size / $textfield-font-size * $textfield-font-size);
  justify-content: center;
  min-width: $textfield-height;
  white-space: nowrap;

  + .form-control,
  .form-control + & {
    margin-left: $input-group-addon-margin-x;
  }

  // Size
  &.form-control-lg,
  .input-group-lg > & {
    font-size: ($material-icon-size / $textfield-font-size * $textfield-font-size-lg);
    min-width: $textfield-height-lg;
  }

  &.form-control-sm,
  .input-group-sm > & {
    font-size: ($material-icon-size / $textfield-font-size * $textfield-font-size-sm);
    min-width: $textfield-height-sm;
  }
}

.input-group-btn {
  align-items: center;
  display: flex;
  margin-right: $input-group-addon-margin-x;
  margin-left: $input-group-addon-margin-x;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .btn {
    @include border-radius(0);

    min-width: 0;

    &:first-child {
      @include border-left-radius($border-radius);
    }

    &:last-child {
      @include border-right-radius($border-radius);
    }
  }
}
