.tooltip {
  @include reset-text;

  display: block;
  font-size: $tooltip-font-size;
  opacity: 0;
  position: absolute;
  z-index: $tooltip-zindex;

  &.bs-tooltip-auto {
    &[x-placement^="top"] {
      @extend .bs-tooltip-top;
    }

    &[x-placement^="right"] {
      @extend .bs-tooltip-right;
    }

    &[x-placement^="bottom"] {
      @extend .bs-tooltip-bottom;
    }

    &[x-placement^="left"] {
      @extend .bs-tooltip-left;
    }
  }

  &.bs-tooltip-top {
    margin-bottom: $tooltip-margin;
  }

  &.bs-tooltip-right {
    margin-left: $tooltip-margin;
  }

  &.bs-tooltip-left {
    margin-right: $tooltip-margin;
  }

  &.bs-tooltip-bottom {
    margin-top: $tooltip-margin;
  }

  &.fade,
  &.fade.show {
    transform: none;
  }

  &.fade {
    transition-property: opacity;
  }

  &.show {
    opacity: $tooltip-opacity;

    .tooltip-inner {
      transform: scale(1);
    }
  }
}

.tooltip-inner {
  @include border-radius($border-radius);
  @include transition-standard(transform);

  background-color: $tooltip-bg;
  color: $tooltip-color;
  padding: $tooltip-padding-y $tooltip-padding-x;
  text-align: center;
  transform: scale(.87);
}



// Desktop

@include media-breakpoint-up(md) {
  .tooltip {
    font-size: $tooltip-font-size-md-up;

    &.bs-tooltip-top {
      margin-bottom: $tooltip-margin-md-up;
    }

    &.bs-tooltip-right {
      margin-left: $tooltip-margin-md-up;
    }

    &.bs-tooltip-left {
      margin-right: $tooltip-margin-md-up;
    }

    &.bs-tooltip-bottom {
      margin-top: $tooltip-margin-md-up;
    }
  }

  .tooltip-inner {
    padding: $tooltip-padding-y-md-up $tooltip-padding-x-md-up;
  }
}
