.tooltip {
  display: block;
  font-size: $tooltip-font-size;
  opacity: 0;
  position: absolute;
  transition: opacity $transition-duration-sm $transition-timing-function;
  z-index: $tooltip-zindex;
  @include reset-text();
  &.bs-tether-element-attached-bottom,
  &.tooltip-top {
    margin-top: ($tooltip-margin * -1);
  }
  &.bs-tether-element-attached-left,
  &.tooltip-right {
    margin-left: $tooltip-margin;
  }
  &.bs-tether-element-attached-right,
  &.tooltip-left {
    margin-left: ($tooltip-margin * -1);
  }
  &.bs-tether-element-attached-top,
  &.tooltip-bottom {
    margin-top: $tooltip-margin;
  }
  &.in {
    opacity: $tooltip-opacity;
  }
}

.tooltip-inner {
  background-color: $tooltip-bg;
  border-radius: $border-radius;
  color: $tooltip-color;
  padding: $tooltip-padding-y $tooltip-padding-x;
  text-align: center;
}

// desktop
  @include media-breakpoint-up(md) {
    .tooltip {
      font-size: $tooltip-font-size-md-up;
      &.bs-tether-element-attached-bottom,
      &.tooltip-top {
        margin-top: ($tooltip-margin-md-up * -1);
      }
      &.bs-tether-element-attached-left,
      &.tooltip-right {
        margin-left: $tooltip-margin-md-up;
      }
      &.bs-tether-element-attached-right,
      &.tooltip-left {
        margin-left: ($tooltip-margin-md-up * -1);
      }
      &.bs-tether-element-attached-top,
      &.tooltip-bottom {
        margin-top: $tooltip-margin-md-up;
      }
    }

    .tooltip-inner {
      padding: $tooltip-padding-y-md-up $tooltip-padding-x-md-up;
    }
  }
