/*!
 * to-do: dark themed buttons
 */

.btn-flat,
.btn-outline {
  background-color: transparent;
  box-shadow: none;
  &::after {
    box-shadow: none;
  }
  // disabled
    &:disabled,
    &.disabled,
    fieldset[disabled] & {
      background-color: transparent;
      color: $btn-disabled-color;
    }
  // waves
    &.waves-attach:active {
      background-color: transparent;
    }
}

// colour
  @each $color in $palette-list-class {
    $i: index($palette-list-class, $color);

    .btn-#{$color}-flat,
    .btn-#{$color}-outline {
      color: nth($palette-list, $i);
      &::before {
        background-color: hex-to-rgba(nth($palette-list, $i), 0.12);
      }
      // active, focus, hover
        &:active,
        &.active {
          background-color: hex-to-rgba(nth($palette-list, $i), 0.4);
        }
        &:focus,
        &:hover,
        &.focus {
          color: nth($palette-list, $i);
        }
    }
  }
