.btn {
  background-color: $btn-bg;
  background-image: none;
  border: 0;
  border-radius: $btn-border-radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: $btn-color;
  cursor: pointer;
  display: inline-block;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  margin: 0;
  max-width: 100%;
  min-width: $btn-min-width;
  padding: $btn-padding-y $btn-padding-x;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: background-color $btn-transition-duration $transition-timing-function;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &::after,
  &::before {
    border-radius: $btn-border-radius;
    content: "";
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
      top: 0;
      left: 0;
    transition: opacity $btn-transition-duration $transition-timing-function;
    width: 100%;
  }
  &::after {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  }
  &::before {
    background-color: $btn-focus-overlay;
  }
  // active, focus, hover
    &:active,
    &:focus,
    &.active,
    &.focus {
      &::before {
        opacity: 1;
      }
    }
    &:active,
    &.active {
      background-color: $btn-pressed-bg;
      &::after {
        opacity: 1;
      }
    }
    &:focus,
    &:hover,
    &.focus {
      color: $btn-color;
      text-decoration: none;
    }
    &:focus,
    &.focus {
      outline: 0;
    }
  // disabled
    &:disabled,
    &.disabled,
    fieldset[disabled] & {
      background-color: $btn-disabled-bg;
      box-shadow: none;
      color: $btn-disabled-color;
      cursor: $cursor-disabled;
      opacity: 1;
      pointer-events: none;
      &::after,
      &::before,
      .waves-ripple {
        display: none;
      }
    }
  // waves
    &.waves-attach:active {
      background-color: $btn-bg;
      &::before {
        transition-delay: $waves-transition-duration;
      }
    }
}

// colour
  @each $color in $palette-list-class {
    $i: index($palette-list-class, $color);

    .btn-#{$color} {
      background-color: nth($palette-list, $i);
      color: nth($palette-list-text, $i);
      // active, focus, hover
        &:active,
        &.active {
          background-color: nth($palette-list-dark, $i);
          &::before {
            opacity: 0;
            transition-duration: 0;
          }
        }
        &:focus,
        &:hover,
        &.focus {
          color: nth($palette-list-text, $i);
        }
      // waves
        &.waves-attach:active {
          background-color: nth($palette-list, $i);
        }
    }
  }

// inverse
  .btn-inverse {
    color: $btn-color-inverse;
    // active, focus, hover
      &:active,
      &.active {
        background-color: $btn-pressed-bg-inverse;
      }
      &:focus,
      &:hover,
      &.focus {
        color: $btn-color-inverse;
      }
    // disabled
      &:disabled,
      &.disabled,
      fieldset[disabled] & {
        background-color: $btn-disabled-bg-inverse;
        color: $btn-disabled-color-inverse;
      }
  }

// size
  .btn-lg {
    border-radius: $btn-border-radius-lg;
    font-size: $btn-font-size-lg;
    font-weight: $btn-font-weight-lg;
    line-height: $btn-line-height-lg;
    min-width: $btn-min-width-lg;
    padding: $btn-padding-y-lg $btn-padding-x-lg;
  }

  .btn-sm {
    border-radius: $btn-border-radius-sm;
    font-size: $btn-font-size-sm;
    font-weight: $btn-font-weight-sm;
    line-height: $btn-line-height-sm;
    min-width: $btn-min-width-sm;
    padding: $btn-padding-y-sm $btn-padding-x-sm;
  }

//
// block button
//
  .btn-block {
    display: block;
    width: 100%;
    + .btn-block {
      margin-top: $spacer-xs-y;
    }
  }

//
// link button
//
  .btn-link {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: $link-color;
    font-weight: normal;
    &:focus,
    &:hover,
    &.focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
    &:focus {
      @include tab-focus;
    }
    &::after,
    &::before {
      display: none;
    }
  }