.card {
  background-color: $card-bg;
  border-radius: $card-border-radius;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  display: block;
  margin-bottom: $card-margin;
  &[href] {
    &:focus,
    &:hover {
      outline: 0;
      text-decoration: none;
    }
  }
}

.card-block {
  padding: $card-padding;
}

.card-subtitle {
  margin-top: ($spacer-md-y * -1);
  margin-bottom: 0;
  @include typography-body-1;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-title {
  margin-bottom: $spacer-md-y;
  @include typography-headline;
}

// colours
  .card-inverse {
    color: $white-primary;
    .card-actions-bordered,
    .card-footer-bordered {
      border-top-color: $card-border-color-inverse;
    }
    .card-header-bordered {
      border-bottom-color: $card-border-color-inverse;
    }
  }

//
// actions
//
  .card-actions {
    padding: $card-padding-sm;
    @include clearfix;
    .btn {
      min-width: 0;
      padding-right: ($card-padding - $card-padding-sm);
      padding-left: ($card-padding - $card-padding-sm);
    }
  }

  .card-actions-bordered {
    border-top: $card-border-width solid $card-border-color;
  }

  .card-actions-horizontal {
    display: flex;
    .card-link + .card-link {
      margin-left: $spacer-sm-x;
    }
  }

  .card-actions-vertical {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    .card-link + .card-link {
      margin-top: $spacer-xs-y;
    }
  }

//
// footer
//
  .card-footer {
    padding: $card-padding;
    &:last-child {
      border-radius: 0 0 $card-border-radius $card-border-radius;
    }
  }

  .card-footer-bordered {
    border-top: $card-border-width solid $card-border-color;
  }

//
// header
//
  .card-header {
    padding: $card-padding;
    &:first-child {
      border-radius: $card-border-radius $card-border-radius 0 0;
    }
  }

  .card-header-bordered {
    border-bottom: $card-border-width solid $card-border-color;
  }

//
// image
//
  .card-img {
    border-radius: $card-border-radius;
  }

  .card-img-bottom {
    border-radius: 0 0 $card-border-radius $card-border-radius;
  }

  .card-img-top {
    border-radius: $card-border-radius $card-border-radius 0 0;
  }

//
// image overlay
//
  .card-img-overlay {
    padding: $card-padding-lg $card-padding $card-padding;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
