.dropdown,
.dropup {
  position: relative;
  z-index: 1;
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: $dropdown-bg;
  border: 0;
  border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06), 0 0 3px rgba(0, 0, 0, 0.18), 0 1px 3px rgba(0, 0, 0, 0.18);
  color: $dropdown-color;
  list-style: none;
  margin: 0;
  min-width: 100%;
  opacity: 0;
  padding: $dropdown-padding-y 0;
  position: absolute;
    top: 100%;
    left: 0;
  text-align: left;
  transform: scale(0.5, 0);
  transform-origin: 0 0;
  transition-duration: $transition-duration;
  transition-property: opacity, transform;
  transition-timing-function: $transition-timing-function;
}

// direction
  .dropup {
    .dropdown-menu {
      border-radius: $dropdown-border-radius $dropdown-border-radius 0 0;
      // position
        top: auto;
        bottom: 100%;
      transform-origin: 0 100%;
    }
  }

// open
  .open {
    > .dropdown-menu {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

// positioning
  .dropdown-menu-right {
    // position
      right: 0;
      left: auto;
    transform-origin: 100% 0;
    .dropup & {
      transform-origin: 100% 100%;
    }
  }

//
// backdrop to catch body clicks on mobile
//
  .dropdown-backdrop {
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    z-index: 1;
  }

//
// button, link and more within the dropdown menu
//
  .dropdown-item {
    background: none;
    border: 0;
    clear: both;
    color: inherit;
    display: block;
    padding: $dropdown-padding-y-sm $dropdown-padding-x $dropdown-padding-y-sm $dropdown-padding-x-lg;
    text-align: inherit;
    transition: background-color $transition-duration $transition-timing-function;
    white-space: nowrap;
    width: 100%;
    @include typography-body-1;
    // active, focus, hover
      &:active,
      &:focus {
        background-color: $dropdown-link-focus-bg;
      }
      &:focus,
      &:hover {
        color: inherit;
        text-decoration: none;
      }
      &:focus {
        outline: 0;
      }
      &.active {
        color: $link-hover-color;
      }
  }

//
// toggle
//
  .dropdown-toggle {
    transition: background-color $transition-duration $transition-timing-function;
    &::after {
      border-top: $caret-width solid;
      border-right: $caret-width solid transparent;
      border-left: $caret-width solid transparent;
      content: "";
      display: inline-block;
      height: 0;
      margin-left: $spacer-xs-x;
      vertical-align: middle;
      width: 0;
    }
    &::before {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06), 0 0 3px rgba(0, 0, 0, 0.18), 0 1px 3px rgba(0, 0, 0, 0.18);
      content: "";
      display: block;
      height: 100%;
      opacity: 0;
      position: absolute;
        top: 0;
        left: 0;
      transition: opacity $transition-duration $transition-timing-function;
      width: 100%;
    }
    // active. focus, hover
      &:active,
      &:focus,
      &.active {
        background-color: $dropdown-toggle-hover-bg;
        &::before {
          opacity: 1;
        }
      }
      &:focus {
        outline: 0;
      }
      &:hover {
        background-color: $dropdown-toggle-hover-bg;
      }
    // open
      .open > & {
        background-color: $dropdown-toggle-hover-bg;
        &::before {
          opacity: 1;
        }
      }
  }
