.form-control {
  background-color: transparent;
  background-image: none;
  border: 0;
  border-bottom: $input-border-width solid $input-border-color;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  display: block;
  font-weight: normal;
  transition: border-color $transition-duration $transition-timing-function;
  width: 100%;
  @include form-control-size($input-border-width, $input-font-size, $input-height, $input-line-height, $input-margin-bottom, $input-padding-top);
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  &::placeholder {
    color: $input-hint-color;
    opacity: 1;
  }
  // active, focus, hover
    &:focus {
      border-bottom-color: $input-focus-border-color;
      border-bottom-width: ($input-border-width + 1);
      outline: 0;
    }
  // disbaled
    &:disabled,
    &[readonly],
    &[readonly]:focus {
      border-color: $input-border-color;
      border-style: dotted;
    }
    &:disabled,
    &[readonly] {
      color: $input-disabled-color;
      opacity: 1;
    }
    &:disabled {
      cursor: $cursor-disabled;
    }
    &[readonly]:focus {
      border-bottom-width: $input-border-width;
      padding-bottom: ($input-height - $input-padding-top - $input-line-height - $input-border-width / $font-size-root);
    }
}

select.form-control {
 -webkit-appearance: none;
    -moz-appearance: none;
 @media screen and (-webkit-min-device-pixel-ratio: 0), (min--moz-device-pixel-ratio: 0) {
   background-image: url($caret-bg);
   background-position: 100% ($input-padding-top + ($input-line-height - 0.75) / 2);
   background-repeat: no-repeat;
   background-size: 12px 12px;
   padding-right: ($spacer-xs-x + 0.75);
   &[multiple],
   &[size] {
     background-image: none;
     padding-right: 0;
   }
 }
}

// colour
  @each $color in $palette-list-class {
    $i: index($palette-list-class, $color);

    .form-control-#{$color},
    .form-control-#{$color}:focus {
      border-bottom-color: nth($palette-list, $i);
    }
  }

// size
  .form-control-lg {
    @include form-control-size($input-border-width, $input-font-size-lg, $input-height-lg, $input-line-height-lg, $input-margin-bottom-lg, $input-padding-top-lg);
  }

  select.form-control-lg {
    @media screen and (-webkit-min-device-pixel-ratio: 0), (min--moz-device-pixel-ratio: 0) {
      background-position: 100% ($input-padding-top-lg + ($input-line-height-lg - 0.75) / 2);
    }
  }

  .form-control-sm {
    @include form-control-size($input-border-width, $input-font-size-sm, $input-height-sm, $input-line-height-sm, $input-margin-bottom-sm, $input-padding-top-sm);
  }

  select.form-control-sm {
    @media screen and (-webkit-min-device-pixel-ratio: 0), (min--moz-device-pixel-ratio: 0) {
      background-position: 100% ($input-padding-top-sm + ($input-line-height-sm - 0.75) / 2);
    }
  }

//
// checkbox and radio button
//
  .checkbox,
  .radio {
    display: block;
    margin-bottom: $spacer-sm-y;
    position: relative;
    label {
      cursor: pointer;
      font-weight: normal;
      margin-bottom: 0;
      padding-left: 1.25rem;
      // input:only-child {
      //   position: static;
      // }
    }
  }

  label.checkbox,
  label.radio {
    cursor: pointer;
    font-weight: normal;
    padding-left: 1.25rem;
  }

  .checkbox + .checkbox,
  .radio + .radio {
    margin-top: ($spacer-sm-y * -1);
  }

  .checkbox-inline,
  .radio-inline {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
    label {
      cursor: pointer;
      font-weight: normal;
      margin-bottom: 0;
      padding-left: 1.25rem;
    }
  }

  label.checkbox-inline,
  label.radio-inline {
    cursor: pointer;
    font-weight: normal;
    padding-left: 1.25rem;
  }

  .checkbox-inline + .checkbox-inline,
  .radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: $spacer-sm-x;
  }

  // disabled
    input[type="checkbox"],
    input[type="radio"] {
      &:disabled,
      &.disabled {
        cursor: $cursor-disabled;
      }
    }

    .checkbox,
    .checkbox-inline,
    .radio,
    .radio-inline {
      &.disabled {
        cursor: $cursor-disabled;
        label {
          cursor: $cursor-disabled;
        }
      }
    }

  // positioning
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"],
    .radio input[type="radio"],
    .radio-inline input[type="radio"] {
      margin-top: 0.25rem;
      margin-left: -1.25rem;
      position: absolute;
    }

//
// form control label
//
  .form-control-label {
    margin-bottom: $input-margin-bottom;
    min-height: $input-height;
    padding: $input-padding-top 0 0;
  }

  // size
    .form-control-label-lg {
      font-size: $input-font-size-lg;
      line-height: $input-line-height-lg;
      margin-bottom: $input-margin-bottom-lg;
      min-height: $input-height-lg;
      padding: $input-padding-top-lg 0 0;
    }

    .form-control-label-sm {
      font-size: $input-font-size-sm;
      line-height: $input-line-height-sm;
      margin-bottom: $input-margin-bottom-sm;
      min-height: $input-height-sm;
      padding: $input-padding-top-sm 0 0;
    }

//
// form control states
//
  .has-danger {
    @include form-control-validation($palette-red-500);
  }

  .has-success {
    @include form-control-validation($palette-green-500);
  }

  .has-warning {
    @include form-control-validation($palette-orange-500);
  }

//
// form control static
//
  .form-control-static {
    @include form-control-size(0px, $input-font-size, $input-height, $input-line-height, $input-margin-bottom, $input-padding-top);
    &.form-control-lg {
      @include form-control-size(0px, $input-font-size-lg, $input-height-lg, $input-line-height-lg, $input-margin-bottom-lg, $input-padding-top-lg);
    }
    &.form-control-sm {
      @include form-control-size(0px, $input-font-size-sm, $input-height-sm, $input-line-height-sm, $input-margin-bottom-sm, $input-padding-top-sm);
    }
  }

//
// form group
//
  .form-group {
    margin-bottom: $spacer-md-y;
  }

//
// form inline
//
  .form-inline {
    @include media-breakpoint-up(sm) {
      .checkbox,
      .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
      }

      .checkbox + .checkbox,
      .radio + .radio {
        margin-left: $spacer-sm-x;
      }

      .form-control {
        display: inline-block;
        vertical-align: middle;
        width: auto;
      }

      .form-control-label {
        display: inline-block;
      }

      .form-control-static {
        display: inline-block;
      }

      .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
      }
    }
  }

//
// misc
//
  .form-control-file,
  .form-control-range {
    display: block;
  }
