.floating-label {
  margin-bottom: $input-margin-bottom;
  padding-top: ($floating-label-height - $input-height);
  position: relative;
  > label {
    color: $floating-label-color;
    cursor: text;
    display: block;
    font-size: $input-font-size;
    font-weight: normal;
    line-height: $input-line-height;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
      bottom: ($input-height - $input-padding-top - $input-line-height);
      left: 0;
    text-overflow: ellipsis;
    transform-origin: 0 0;
    transition-duration: $transition-duration;
    transition-property: color, transform;
    transition-timing-function: $transition-timing-function;
    white-space: nowrap;
  }
  > .form-control {
    margin-bottom: 0;
    &::placeholder {
      color: transparent;
      opacity: 0;
    }
  }
}

//
// form control state
//
  .floating-label.has-value,
  .floating-label.is-focused {
    > label {
      transform: scale(($floating-label-font-size-focus / $input-font-size), ($floating-label-font-size-focus / $input-font-size)) translateY(($input-font-size + $floating-label-divider-padding) * -1);
    }
  }

  .floating-label.is-focused {
    > label {
      color: $floating-label-color-focus;
    }
  }
