.floating-label {
  position: relative;
  @include floating-label-size($floating-label-height, $floating-label-padding-top, $input-font-size, $input-height, $input-line-height, $input-margin-bottom, $input-padding-top);
  > label {
    color: $floating-label-color;
    cursor: text;
    display: block;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
      left: 0;
    text-overflow: ellipsis;
    transform-origin: 0 0;
    transition: all $transition-duration $transition-timing-function;
    white-space: nowrap;
  }
  &.is-focused > label {
    color: $floating-label-color-focus;
  }
  > .form-control {
    margin-bottom: 0;
    &::placeholder {
      color: transparent;
      opacity: 0;
    }
  }
}

// size
  .floating-label-lg {
    @include floating-label-size($floating-label-height-lg, $floating-label-padding-top-lg, $input-font-size-lg, $input-height-lg, $input-line-height-lg, $input-margin-bottom-lg, $input-padding-top-lg);
    > .form-control {
      @extend .form-control-lg;
    }
  }

  .floating-label-sm {
    @include floating-label-size($floating-label-height-sm, $floating-label-padding-top-sm, $input-font-size-sm, $input-height-sm, $input-line-height-sm, $input-margin-bottom-sm, $input-padding-top-sm);
    > .form-control {
      @extend .form-control-sm;
    }
  }
