.nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-link {
  display: inline-block;
  // active, focus, hover
    &:focus,
    &:hover {
      text-decoration: none;
    }
  // disabled
    &.disabled {
      color: $nav-link-color-disabled;
      &:focus,
      &:hover {
        background-color: transparent;
        color: $nav-link-color-disabled;
        cursor: $cursor-disabled;
      }
    }
}

//
// inline
//
  .nav-inline {
    .nav-item {
      display: inline-block;
    }
    .nav-item + .nav-item,
    .nav-link + .nav-link {
      margin-left: $spacer-md-x;
    }
  }

//
// pill
//
  .nav-pills {
    @include clearfix;
    .nav-item {
      float: left;
    }
    .nav-link {
      border-radius: $border-radius;
      color: $nav-link-color;
      display: block;
      padding: $nav-link-padding;
      // active, focus, hover
        &.active {
          background-color: $nav-link-bg-active;
          color: $nav-link-color-active;
          cursor: default;
        }
      // disabled
        &.disabled {
          color: $nav-link-color-disabled;
        }
    }
    .dropdown.open,
    .dropup.open {
      .nav-link,
      .nav-link:focus,
      .nav-link:hover {
        background-color: $nav-link-bg-active;
        color: $nav-link-color-active;
        cursor: default;
      }
    }
    .dropdown.open .nav-link{
      border-radius: $border-radius $border-radius 0 0;
    }
    .dropup.open .nav-link {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  .nav-stacked {
    .nav-item {
      display: block;
      float: none;
    }
  }
