/*
 * based on Bootstrap's (v4.0.0-alpha.2) reboot and normalize.css (v3.0.3)
 */

*,
*::after,
*::before {
  box-sizing: inherit;
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family;
  font-size: $font-size-default;
  line-height: $line-height-default;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: $font-size-root;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

//
// fast click
//
  a,
  area,
  button,
  input,
  label,
  select,
  summary,
  textarea,
  [role="button"] {
    touch-action: manipulation;
  }

//
// form element
//
  button,
  html input[type="button"],
  html input[type="reset"],
  html input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }

  button,
  input,
  select,
  textarea {
    border-radius: 0;
    color: inherit;
    font: inherit;
    line-height: inherit;
    margin: 0;
  }

  button,
  input,
  select {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
  }

  button {
    overflow: visible;
    &:focus {
      outline: 1px dotted;
      outline: 5px auto -webkit-focus-ring-color;
    }
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  button:-moz-focusring,
  input:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
  }

  input {
    line-height: normal;
  }

  label {
    display: inline-block;
    font-weight: $font-weight-medium;
    margin: 0;
  }

  legend {
    border: 0;
    box-sizing: border-box;
    color: inherit;
    display: block;
    margin: 0 0 $spacer-md-y;
    max-width: 100%;
    padding: 0;
    white-space: normal;
    width: 100%;
    @include typography-title;
  }

  optgroup {
    font-weight: $font-weight-medium;
  }

  output {
    display: inline-block;
  }

  select[multiple],
  select[size] {
    height: auto;
  }

  textarea {
    overflow: auto;
    resize: vertical;
  }

  [disabled] {
    cursor: default;
  }

  [role="button"] {
    cursor: pointer;
  }

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
    &:disabled {
      cursor: $cursor-disabled;
    }
  }

  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="time"] {
    -webkit-appearance: listbox;
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: none;
  }

  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

//
// html5 element
//
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  progress {
    vertical-align: baseline;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  template,
  [hidden] {
    display: none;
  }

  [tabindex="-1"]:focus {
   outline: none !important;
  }
