// Reboot from Bootstrap



// Box sizing

*,
*::after,
*::before {
  box-sizing: inherit;
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}



// Document

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: $webkit-tap-highlight-color;
  text-size-adjust: 100%;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}



// Clickable element

a,
area,
button,
input,
label,
select,
summary,
textarea,
[role="button"] {
  touch-action: manipulation;
}



// Code

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}



// Content grouping

figure {
  margin: 0 0 1rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}



// Form

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  // Active, focus, hover
  &:focus {
    // scss-lint:disable DuplicateProperty
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    // scss-lint:enable DuplicateProperty
  }
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  &[type="date"],
  &[type="datetime-local"],
  &[type="month"],
  &[type="time"] {
    -webkit-appearance: listbox;
  }
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

legend {
  @include typography-headline;

  color: inherit;
  display: block;
  margin-bottom: .5rem;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  width: 100%;
}

output {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

select {
  &[multiple],
  &[size] {
    overflow: auto;
  }
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: none;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}



// Hidden

[hidden] {
  display: none !important;
}



// Images

img {
  border-style: none;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}



// Interactive

summary {
  display: list-item;
}



// Link

a {
  background-color: transparent;
  color: $link-color;
  text-decoration: $link-decoration;
  -webkit-text-decoration-skip: objects;

  // Active, focus, hover
  @include active-focus-hover {
    color: $link-color-active;
    text-decoration: $link-decoration-active;
  }
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  // Active, focus, hover
  @include active-focus-hover {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}



// Scripting

template {
  display: none;
}



// Table

caption {
  @include typography-caption;

  caption-side: bottom;
  color: $table-caption-color;
  min-height: $table-thead-cell-height;
  padding: $table-thead-padding-y $table-cell-padding-x-alt;
  text-align: left;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}



// Typography

abbr {
  &[data-original-title],
  &[title] {
    border-bottom: 0;
    cursor: help;
    text-decoration: underline dotted;
  }
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: bolder;
}

blockquote {
  margin: 0 0 1rem;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

dfn {
  font-style: italic;
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: $dt-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

mark {
  background-color: $mark-bg;
  color: $mark-color;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}
