@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: $font-weight;
	src: url("#{$css-path}/fonts/MaterialIcons-Regular.eot?v=#{$mdversion}");
	src: local('Material Icons'),
	     local('MaterialIcons-Regular'),
	     url("#{$css-path}/fonts/MaterialIcons-Regular.woff2?v=#{$mdversion}") format("woff2"),
	     url("#{$css-path}/fonts/MaterialIcons-Regular.woff?v=#{$mdversion}") format("woff"),
	     url("#{$css-path}/fonts/MaterialIcons-Regular.ttf?v=#{$mdversion}") format("truetype"),
}
