<!DOCTYPE html>
<html lang="en">
<head>
  <title>Redirecting...</title>
  <link rel="canonical" href="https://djibe.github.io/material/docs/4.5/components/buttons/"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="refresh" content="0; url=https://djibe.github.io/material/docs/4.5/components/buttons/" />
  <meta name="robots" content="noindex" />
</head>
<body>
  <h1>Redirecting...</h1>
  <a href="https://djibe.github.io/material/docs/4.5/components/buttons/">Click here if you are not redirected.</a>
  <script>location="https://djibe.github.io/material/docs/4.5/components/buttons/"</script>
</body>
</html>

