//Access: Modal with Reg form

.modal {
    font-size: 1rem;
}

.modal-lg {
    max-width: 60rem;
}
.modal-header {
    background-color: $palette-pink-500;
    color: $white;
    //border-bottom: 1px solid #f5f5f5; //#$palette-grey-100 
    padding-bottom: 1.25rem;
    button span {
        color: $white;
    }

}
.modal-title {
    font-size: 1.5rem;
}
.modal-body {
    padding: 1.25rem 1.5rem 0;
}
.floating-label {
  > label {
    color: #1e1e1e;
  }
}

.modalMessages {
    background-color: $palette-blue-grey-050;
    margin-top: -1.25rem;
    margin-right: -1.5rem;
    padding: 2rem .5rem 0 .5rem;
    height: 109.75%;
    h4 {
        padding: 0 2rem;
        text-align: center;
    }
    .material-icons {
        color: $palette-pink-500;
    }
    P {
        margin: 0 2rem 2rem 1rem;
        &:first-of-type {
            margin-top: 2rem;
        }
    }
}
.modal-footer {
    border-top: 1px solid $palette-grey-300;   
    padding-top: 1rem;
    margin-top: 1rem;
}
