//Messaging alerts

.alert {
	border: 1px solid;
	padding: 0;	
	
	.alert-icon {
		height: 100%;
		position: absolute;
		left: 0;	
		padding: ($card-spacer-inner-x * 1);
			.material-icons {
				color: $white;				
			}
	}

	.alert-message {
		background-color: $white;
		margin-left: ($card-spacer-inner-x * 3.5);
		padding: ($card-spacer-inner-x * 1);
	}
		
}



.alert-success {
	border-color:$palette-grass-green-500;	
	.alert-icon {
		background-color:$palette-grass-green-500;
	}
}

.alert-info {
	border-color: $palette-deep-purple-500;
	color: $black-primary;
	.alert-icon {
		background-color:$palette-deep-purple-500;	

	}
}

.alert-warning {
	border-color: $palette-orange-500;	
	.alert-icon {
		background-color:$palette-orange-500;	
	}
}

.alert-danger {
	border-color: $palette-red-500;	
	color: $black-primary;
	.alert-icon {
		background-color:$palette-red-500;
		
	}
}



 .alert-dismissible {
    .close {
      position: relative;
        top: ($card-spacer-inner-x * 1);
        right: ($card-spacer-inner-x * 1);
    }
 }