// BP popover & Tooltip Styles

.popover {
  max-width: none;
  width: 420px;
  P {
    font-size: $font-size-subheading;
  }
  // Drug DB etc
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      font-size: $font-size-subheading;
      padding: 0 0 1rem 0;
      &:before {
        color: $palette-pink-500;
        content: "\25CF";
        padding-right: .8725rem;
        vertical-align: top;
        }
    }
  }
  // Evidence score etc
  .evidence-level {
    background-color: #e5eef7; 
    border: 1px solid #1f5189; 
    padding: 1rem;
    margin-bottom: .5rem;
    h4 {
      color:$palette-pink-500;
      font-size: $font-size-subheading;
    }
  }
  // Cochrane etc
  img.cca-logo {
    width: 55%;
    margin-bottom: 1.5rem;
  }
}