//Access
  .bt-1 {
    border-top: 1px solid  $black-secondary-solid; // border top 1px solid #757575 (off-black)
  }

// SERP borders
//
  .border-l {
    border-left: 10px solid  $palette-pink-500;
  }
  .border-t {
    border-top: 10px solid  $palette-pink-500;
  }
  // #baseline.show-grid {
  // background-image: linear-gradient(to bottom, cyan 0, rgba(255, 255, 255, 0) 1px);
  // background-repeat: repeat-y;
  // background-size: 100% 1rem; }

  body {
    font-family: Arial;
  }
  h1, h2, h3 {
        font-family: InterFace;
  }
// btn for reg / login modal - quick fix as code not working
  .btn-lg {
      padding: 1rem;
  }