//
// border
//
  .border-l {
    border-left: 10px solid  $palette-pink-500;
  }
  .border-t {
    border-top: 10px solid  $palette-pink-500;
  }
  // #baseline.show-grid {
  // background-image: linear-gradient(to bottom, cyan 0, rgba(255, 255, 255, 0) 1px);
  // background-repeat: repeat-y;
  // background-size: 100% 1rem; }

  body {
    font-family: Arial;
  }
  h1, h2 {
        font-family: InterFace;
  }