.#{$mdicon-css-prefix} {
  display: inline-block;
  font: normal normal normal #{$fa-font-size-base}/1 MaterialDesignIcon;
  font-size: inherit;
  speak: none;
  text-rendering: auto;
  transform: none;
  vertical-align: -10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$mdicon-css-prefix}-lg {
	font-size: (4em / 3);
	line-height: (3em / 4);
	vertical-align: -20%;
}