// Make column

@mixin make-col($size) {
  flex: 0 0 percentage($size / $grid-columns);
  max-width: percentage($size / $grid-columns);
}

@mixin make-col-offset($size) {
  $num: $size / $grid-columns;

  margin-left: if($num == 0, 0, percentage($num));
}

@mixin make-gutters($type: padding) {
  @each $breakpoint in map-keys($grid-gutter-widths) {
    @include media-breakpoint-up($breakpoint) {
      $gutter: map-get($grid-gutter-widths, $breakpoint);

      @if ($type == margin) {
        margin-right: ($gutter / -2);
        margin-left: ($gutter / -2);
      } @else if ($type == padding) {
        padding-right: ($gutter / 2);
        padding-left: ($gutter / 2);
      }
    }
  }
}

// Make container

@mixin make-container() {
  @include make-gutters;

  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@mixin make-container-max-widths() {
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-max-width;
    }
  }
}

// Make row

@mixin make-row() {
  @include make-gutters(margin);

  display: flex;
  flex-wrap: wrap;
}
