// Btn flat and outlined
// Material guidelines : https://material.io/design/components/buttons.html#specs
// Material Web component : https://material-components.github.io/material-components-web-catalog/#/component/button?type=text
[class*='btn-flat'] {
  padding: $btn-padding-y $btn-flat-padding-x;
}

[class*='btn-outline'] {
  border: 1px solid currentColor;
  padding: $btn-padding-y calc(#{$btn-padding-x} - 1px);
}

[class*='btn-flat'],
[class*='btn-outline'] {
  box-shadow: none;

@include hover-focus-active {
    box-shadow: none;
    color: $black-primary;
  }

  &:hover {
    background-color: rgba(0,0,0,$overlay-hover-white-opacity);
  }

  &:active {
    background-color: rgba(0,0,0,$overlay-pressed-white-opacity);
  }

  &.disabled,
  &:disabled {
    background-color: transparent;
  }
}

@each $color, $values in $theme-colors {
  .btn-flat-#{$color},
  .btn-outline-#{$color} {
    @include plain-hover-focus {
      color: theme-color($color);
    }

    &:hover {
      background-color: rgba(theme-color($color), $overlay-hover-white-opacity);
    }

    &:focus {
      background-color: rgba(theme-color($color), $overlay-focus-white-opacity);
    }

    &:active {
      background-color: rgba(theme-color($color), $overlay-pressed-white-opacity);
    }

    &.disabled,
    &:disabled {
      background-color: $btn-bg-disabled;
      color: $btn-color-disabled;
    }
  }
  .btn-outline-#{$color} {
    border-color: theme-color($color);
  }
}

.btn-flat-light,
.btn-outline-light {
  @include hover-focus {
    background-image: linear-gradient(to bottom, $btn-overlay-inverse, $btn-overlay-inverse);
  }

  &.active,
  &:active {
    background-color: $btn-bg-active-inverse;
  }
}

// Btn-icon addition
.btn-icon {
  border-radius: 50%;
  color: $black-hint;
  height: $btn-icon-height;
  padding: $btn-icon-padding;
  width: $btn-icon-height;

  &:hover {
    color: $black-hint;
  }
}
