.btn-float {
  border-radius: 50%;
  box-shadow: map-get($btn-float-elevation-shadow, shadow);
  height: $btn-float-size;
  line-height: $btn-float-size;
  min-width: 0;
  padding: 0;
  width: $btn-float-size;

  &.active,
  &:active {
    box-shadow: map-get($btn-float-elevation-shadow-active, shadow);
  }

  &.disabled,
  &:disabled {
    box-shadow: none;
  }

  &.btn-sm {
    height: $btn-float-size-sm;
    line-height: $btn-float-size-sm;
    width: $btn-float-size-sm;
  }
}
