// Btn flat and outlined : https://material-components.github.io/material-components-web-catalog/#/component/button?type=text

[class*='btn-flat'],
[class*='btn-outline'] {
  box-shadow: none;

@include hover-focus-active {
    box-shadow: none;
    color: rgba($black, .87);
  }

  &:hover {
    background-color: rgba(0,0,0,$btn-hover-white-opacity);
  }

  &:active {
    background-color: rgba(0,0,0,$btn-active-white-opacity);
  }

  &.disabled,
  &:disabled {
    background-color: transparent;
  }
}

@each $color, $values in $theme-colors {
  .btn-flat-#{$color},
  .btn-outline-#{$color} {
    @include plain-hover-focus {
      color: theme-color($color);
    }

    &:hover {
      background-color: rgba(theme-color($color), $btn-hover-white-opacity);
    }

    &:focus {
      background-color: rgba(theme-color($color), $btn-focus-white-opacity);
    }

    &:active {
      background-color: rgba(theme-color($color), $btn-active-white-opacity);
    }

    &.disabled,
    &:disabled {
      background-color: $btn-bg-disabled;
      color: $btn-color-disabled;
    }
  }
  .btn-outline-#{$color} {
    border: 2px solid theme-color($color);
  }
}

.btn-flat-light,
.btn-outline-light {
  @include hover-focus {
    background-image: linear-gradient(to bottom, $btn-overlay-inverse, $btn-overlay-inverse);
  }

  &.active,
  &:active {
    background-color: $btn-bg-active-inverse;
  }
}
