// TODO: useful for Material UI ? https://github.com/twbs/bootstrap/pull/30515

.card {
  background-color: $card-bg;
  border-radius: $card-border-radius;
  box-shadow: map-get($card-elevation-shadow, shadow);
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  position: relative;
  word-wrap: break-word;

  // Keep ?
  @each $color, $values in $theme-colors {
    &.border-#{$color} {
      box-shadow: map-get($card-elevation-shadow, shadow), inset 0 0 0 $card-border-width theme-color($color);

      &[href],
      &[tabindex] {
        @include hover-focus-active {
          box-shadow: map-get($card-elevation-shadow-hover, shadow), inset 0 0 0 $card-border-width theme-color($color);
        }
      }
    }
  }

  &[href],
  &[tabindex] {
    @include hover-focus-active {
      box-shadow: map-get($card-elevation-shadow-hover, shadow);
      text-decoration: none;
    }

    &:focus {
      outline: 0;
    }
  }

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}

// Addition
.card-shaped {
  border-radius: 1.5rem 0.5rem;
}

// Accordion

[data-toggle='collapse']:hover {
  cursor: pointer;
}

.accordion {
  overflow-anchor: none;

  > .card {
    border: 1px solid $black-divider;
    border-radius: $border-radius-lg * 2;
    box-shadow: none;
    margin-bottom: 0;
    overflow: hidden;

    & + .card {
      border-top: 0;
    }

    .show {
      border-top: 1px solid $black-divider;
    }
  }

  > .card > .card-header {
    border-bottom: 0;
    display: flex;
    padding: 15px 1.25rem;

    &:hover {
      background-color: rgba($black, $overlay-hover-white-opacity);
      transition: background-color 150ms linear;
    }

    &::after {
      content: escape-svg($card-accordion-icon);
      height: 1.5rem;
      position: absolute;
      top: 1.25rem;
      right: 1.5rem;
      width: 1.5rem;
    }

    > * {
      line-height: 1.125rem;
    }
  }

  // stylelint-disable-next-line
  .card:first-of-type {
    @include border-bottom-radius(0);
  }

  .card:last-of-type {
    @include border-top-radius(0);
  }

  .card:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
  }

  .card:not(:first-of-type) {
    .card-body:first-child,
    .card-footer:first-child,
    .card-header:first-child {
      @include border-top-radius(0);
    }
  }

  .card:not(:last-of-type) {
    .card-body:last-child,
    .card-footer:last-child,
    .card-header:last-child {
      @include border-bottom-radius(0);
    }
  }

  .card-body {
    margin: 0 2.5rem;
    opacity: 0;
    padding: $spacer-lg 0;
    transition: opacity 250ms linear -100ms;
  }

  .show .card-body {
    opacity: 1;
  }

  .collapse,
  .collapsing {
    .card-body:first-child,
    .card-footer:first-child,
    .card-header:first-child {
      @include border-top-radius(0);
    }
  }
}

// Action

.card-actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 3.25rem; // 52px
  padding: $spacer-sm;

  &.flex-column {
    align-items: flex-start;
    padding-bottom: $spacer-xs;
  }

  &.flex-column .btn {
    margin-bottom: $spacer-xs;
  }

  .card-body + & {
    // Obtain 8px spacing between body and actions
    // Preserve bg when .card-primary-action clicked
    background-color: $card-bg;
    margin-top: -$spacer-sm;
    z-index: 2;
  }

  .btn {
    @include text-truncate;

    flex: 0 1 auto;
    min-width: 0;

    &:not(.btn-icon) {
      margin-right: $card-action-inner-spacer-x;
    }
  }

  .btn-icon:not(:disabled) {
    color: $black-caption;
  }

  .dropdown-toggle::after {
    margin-right: 0;
  }

  > * {
    z-index: 3;
  }
}

// Body

.card-body {
  flex: 1 1 auto;
  padding: $card-padding-y $card-padding-x;

  &:first-child {
    @include border-top-radius($card-border-radius);
  }

  &:last-child {
    @include border-bottom-radius($card-border-radius);
  }

  > :last-child {
    margin-bottom: 0;
  }

  > .btn {
    margin-right: $spacer-sm;
  }
}

// Footer

.card-footer {
  border-top: $card-border-width solid $card-border-color;
  padding: $card-padding-y $card-padding-x;

  &:first-child {
    @include border-top-radius($card-border-radius);

    border-top: 0;
  }

  &:last-child {
    @include border-bottom-radius($card-border-radius);
  }

  > :last-child {
    margin-bottom: 0;
  }
}

// Header

.card-header {
  border-bottom: $card-border-width solid $card-border-color;
  margin-bottom: 0; // Removes the default margin-bottom of <h>
  padding: $card-padding-y $card-padding-x;

  &:first-child {
    @include border-top-radius($card-border-radius); //@include border-radius($card-inner-border-radius $card-inner-border-radius 0 0)
  }

  &:last-child {
    @include border-bottom-radius($card-border-radius);

    border-bottom: 0;
  }

  + .list-group .list-group-item:first-child {
    border-top: 0;
  }
}

.card-header-pills {
  margin: ($card-padding-y * -1) ($card-padding-x * -1);
  padding: $card-action-padding-y ($card-action-padding-x - $card-action-inner-spacer-x) ($card-action-padding-y - $card-action-inner-spacer-y) $card-action-padding-x;

  .nav-link {
    margin-right: $card-action-inner-spacer-x;
    margin-bottom: $card-action-inner-spacer-y;
    padding-right: $card-action-inner-spacer-x;
    padding-left: $card-action-inner-spacer-x;
  }
}

.card-header-tabs {
  //border-bottom: 0;
  margin: ($card-padding-y * -1) ($card-padding-x * -1) calc(#{$card-padding-y * -1} - #{$card-border-width});
}

// Image

.card-img {
  @include border-radius($card-border-radius);

  min-height: 1px; // Fix IE11 aspect-ratio bug
  width: 100%;
}

.card-img-bottom {
  @include border-bottom-radius($card-border-radius);

  min-height: 1px;
  width: 100%;
}

.card-img-top {
  @include border-top-radius($card-border-radius);

  min-height: 1px;
  width: 100%;
}

// Image overlay

.card-img-overlay {
  @include border-radius($card-inner-border-radius);

  max-height: 100%;
  padding: $card-padding-y $card-padding-x;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

//
// Columns
//

.card-columns {
  @include media-breakpoint-up(sm) {
    column-count: $card-columns-count;
    column-gap: $card-margin-x; // $card-columns-gap
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }

  @include media-breakpoint-up(lg) {
    column-count: $card-columns-count-desktop;
  }

  .card {
    margin-bottom: ($card-margin-y * 0.5);
  }
}

.card-deck {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-flow: row wrap;
    margin-right: ($card-margin-x * -0.5);
    margin-left: ($card-margin-x * -0.5);

    .card {
      display: flex;
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: ($card-margin-x * 0.5);
      margin-bottom: 0; // Override the default
      margin-left: ($card-margin-x * 0.5);
    }
  }

  .card {
    margin-bottom: $card-margin-y; //$card-deck-margin
  }
}

//
// Card groups
//

.card-group {
  box-shadow: map-get($card-elevation-shadow, shadow);
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-flow: row wrap;

    > .card {
      flex: 1 0 0%;
      margin-bottom: 0;

      &:first-child:not(:last-child) {
        @include border-right-radius(0);

        .card-actions,
        .card-body,
        .card-footer,
        .card-header,
        .card-img,
        .card-img-bottom,
        .card-img-top {
          @include border-right-radius(0);
        }
      }

      &:last-child:not(:first-child) {
        @include border-left-radius(0);

        .card-actions,
        .card-body,
        .card-footer,
        .card-header,
        .card-img,
        .card-img-bottom,
        .card-img-top {
          @include border-left-radius(0);
        }
      }

      &:not(:first-child):not(:last-child) {
        @include border-radius(0);

        .card-actions,
        .card-body,
        .card-footer,
        .card-header,
        .card-img,
        .card-img-bottom,
        .card-img-top {
          @include border-radius(0);
        }
      }

      + .card {
        border-left: 1px solid $black-divider;
        margin-left: 0;
      }
    }
  }

  > .card {
    box-shadow: none;
    margin-bottom: $card-margin-y;
  }
}

// Text and title

// Style in button-flat
.card-link {
  @extend .btn;

  .card-body > & {
    margin-right: $spacer-sm;
    margin-left: $spacer-sm;
  }
}

.card-title {
  @include typography-headline-6;

  margin: 0;

  .card-body & {
    margin-bottom: $spacer;

    + .card-subtitle {
      margin-top: -$spacer;
    }
  }

  // To fix Bootstrap documentation
  .card-header + .card-body > & {
    margin-top: $spacer;
  }
}

.card-subtitle {
  @include typography-subtitle-2;

  color: $black-caption;
  margin-bottom: 0;

  .card-body & {
    padding-bottom: $spacer;
  }
}

.card-text {
  @include typography-body-2;

  color: $black-caption;

  &:last-child {
    margin-bottom: 0;
  }
}

// Card hover effect : https://material.io/components/cards/#behavior
.card-primary-action {
  cursor: pointer;
  position: relative;
  transition: background-color 15ms linear, box-shadow 15ms linear;

  &:hover {
    background-color: rgba($black, $overlay-hover-white-opacity);

    &.card {
      box-shadow: map-get($card-elevation-shadow-hover, shadow);
    }
  }

  // stylelint-disable-next-line
  @if not $enable-ripple {
    &:active {
      background-image: linear-gradient(to bottom, rgba($black, $overlay-pressed-white-opacity), rgba($black, $overlay-pressed-white-opacity));
    }
  }
}
