// Inspired by https://dev.to/dip15739/dark-mode-with-only-1-css-property-17fl
// stylelint-disable selector-no-qualifying-type

html[data-theme='dark'] {
  filter: invert(1) hue-rotate(180deg);

  body,
  label {
    font-weight: $font-weight-medium;
  }

  img,
  video,
  .prevent-dark-mode {
    filter: invert(1) hue-rotate(180deg);
  }
}

body {
  transition: color 300ms, background-color 300ms;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(1) hue-rotate(180deg);
  }

  body,
  label {
    font-weight: $font-weight-medium;
  }

  img,
  video,
  .prevent-dark-mode {
    filter: invert(1) hue-rotate(180deg);
  }
}
