// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

.modal-open {
  overflow: hidden;

  .fade {
    @include transition-dialog-opening(opacity);
  }

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal {
  display: none;
  height: 100%;
  outline: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: map-get($dialog-elevation-shadow, elevation);

  &.fade {
    .modal-dialog {
      @include transition-dialog-leaving(opacity, transform);

      opacity: 0;
      transform: scale($dialog-transition-scale);
    }
  }
}

.modal-dialog {
  margin: $dialog-margin-y auto;
  //max-width: $dialog-width;
  pointer-events: none;
  position: relative;
  width: calc(100% - #{$dialog-margin-x} * 2);

  .modal.show & {
    @include transition-dialog-opening(opacity, transform);

    opacity: 1;
    transform: scale(1);
  }
}

.modal-dialog-scrollable {
  display: flex; // IE10/11
  // max-height: calc(100vh - #{$dialog-margin-y * 2});
  max-height: subtract(100%, $dialog-margin-y * 2);

  .modal-content {
    //max-height: calc(100vh - #{$dialog-margin-y * 2}); // IE10/11
    max-height: subtract(100vh, $dialog-margin-y * 2); // IE10/11
    overflow: hidden;
  }

  .modal-header,
  .modal-footer {
    flex-shrink: 0;
  }

  .modal-header {
    border-bottom: 1px solid $black-divider;
    padding-bottom: calc(#{$spacer} - 1px);
  }

  .modal-footer {
    border-top: 1px solid $black-divider;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  align-items: center;
  display: flex;
  //min-height: calc(100% - #{$dialog-margin-y} * 2);
  min-height: subtract(100%, $dialog-margin-y * 2);

  // Ensure `modal-dialog-centered` extends the full height of the view (IE10/11)
  &::before {
    content: '';
    display: block; // IE10
    height: subtract(100vh, $dialog-margin-y * 2);
    height: min-content; // Reset height to 0 except on IE
  }

  // stylelint-disable
  // Ensure `.modal-body` shows scrollbar (IE10/11)
  &.modal-dialog-scrollable {
    flex-direction: column;
    height: 100%;
    justify-content: center;

    &::before {
      content: none;
    }

    .modal-content {
      max-height: none;
    }
  }
  // stylelint-enable
}

// Dialog
.modal-content {
  @include border-radius($dialog-border-radius);

  background-clip: padding-box;
  background-color: $dialog-content-bg;
  box-shadow: map-get($dialog-elevation-shadow, shadow);
  display: flex;
  flex-direction: column;
  outline: 0;
  pointer-events: auto;
  position: relative;
  //vertical-align: baseline;
  width: 100%;
}

// Modal background : Dialog scrim
.modal-backdrop {
  background-color: $dialog-backdrop-bg;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: (map-get($dialog-elevation-shadow, elevation) - 1);

  // Fade for backdrop
  &.fade {
    @include transition-dialog-leaving(opacity);

    opacity: 0;
  }

  &.show {
    //@include transition-dialog-opening(opacity);

    opacity: 1;
  }
}

.modal-header {
  align-items: center;
  border-bottom: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  padding: $spacer $dialog-padding-x calc(0.625rem - 1px);

  &:first-child {
    @include border-top-radius($dialog-border-radius);
  }
}

// Title text within header
.modal-title {
  @include typography-headline-6();

  margin: 0;
}

// Modal body
.modal-body {
  @include typography-body-1();

  color: $dialog-color; // djibe added from GMD
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when should there be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: $dialog-body-padding-y $dialog-padding-x;
  position: relative;

  .modal-header + & {
    padding: 0 $dialog-padding-x $dialog-body-padding-y;
  }

  .modal-dialog-scrollable .modal-header + & {
    padding: $dialog-padding-y $dialog-padding-x;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.modal-footer {
  align-items: flex-end;
  border-top: 1px solid transparent;
  display: flex;
  justify-content: flex-end;
  padding: $dialog-footer-padding-y $dialog-footer-padding-x;

  &:first-child {
    @include border-top-radius($dialog-border-radius);
  }

  &:last-child {
    @include border-bottom-radius($dialog-border-radius);
  }

  > * {
    margin-left: $dialog-footer-inner-spacer-x;
  }
}

.modal-footer-stacked {
  flex-direction: column;

  .btn + .btn {
    margin-top: 0.75rem;
  }
}

// Scrollbar measure

.modal-scrollbar-measure {
  height: 50px;
  overflow: scroll;
  position: absolute;
  top: -99999px;
  width: 50px;
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: $dialog-width; // 560px
  }

  .modal-sm { max-width: $dialog-width-sm; }
}

@include media-breakpoint-up(lg) {
  .modal-lg,
  .modal-xl {
    max-width: $dialog-width-lg;
  }
}

@include media-breakpoint-up(xl) {
  .modal-xl { max-width: $dialog-width-xl; }
}
