// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal {
  @include transition-acceleration(opacity, transform); // added

  display: none;
  height: 100%;
  outline: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: map-get($dialog-elevation-shadow, elevation);

  &.fade {
    //@include transition-standard-complex(opacity);
    @include transition-deceleration(opacity);

    .modal-dialog {
      //@include transition-standard-complex(transform);
      @include transition-deceleration(transform);

      transform: scale($dialog-transition-scale);
    }
  }

  
}

.modal-dialog {
  margin: $dialog-margin-y auto; // $modal-dialog-margin
  max-width: $dialog-width;
  pointer-events: none;
  position: relative;
  width: calc(100% - #{$dialog-margin-x} * 2); // auto

  .modal.show & {
    transform: $dialog-show-transform;
    opacity: 1;
  }
}

.modal-dialog-scrollable {
  display: flex; // IE10/11
  max-height: calc(100vh - 32px); //calc(100% - #{$modal-dialog-margin * 2});

  .modal-content {
    max-height: calc(100vh - #{$dialog-margin-y * 2}); // IE10/11 calc(100vh - #{$modal-dialog-margin * 2}); // IE10/11
    overflow: hidden;
  }

  .modal-header,
  .modal-footer {
    flex-shrink: 0;
  }

  .modal-header {
    border-bottom: 1px solid $black-divider;
  }

  .modal-footer {
    border-top: 1px solid $black-divider;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  align-items: center;
  display: flex;
  min-height: calc(100% - #{$dialog-margin-y} * 2); //calc(100% - #{$modal-dialog-margin * 2});

    // Ensure `modal-dialog-centered` extends the full height of the view (IE10/11)
    &::before {
      display: block; // IE10
      height: calc(100vh - #{$dialog-margin-y * 2});
      content: "";
    }
  
    // Ensure `.modal-body` shows scrollbar (IE10/11)
    &.modal-dialog-scrollable {
      flex-direction: column;
      justify-content: center;
      height: 100%;
  
      .modal-content {
        max-height: none;
      }
  
      &::before {
        content: none;
      }
    }
}

// Dialog
.modal-content {
  @include border-radius($dialog-border-radius);

  background-clip: padding-box;
  background-color: $dialog-content-bg;
  box-shadow: map-get($dialog-elevation-shadow, shadow);
  //color: $modal-content-color;
  display: flex;
  flex-direction: column;
  outline: 0;
  pointer-events: auto;
  position: relative;
  vertical-align: baseline;
  width: 100%;
}


// Modal background
.modal-backdrop {
  background-color: $dialog-backdrop-bg;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: (map-get($dialog-elevation-shadow, elevation) - 1);

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.show { opacity: $dialog-backdrop-opacity; }
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem $dialog-padding-x;

  &:first-child {
    @include border-top-radius($dialog-border-radius);
  }

  /*&:last-child {
    @include border-bottom-radius($dialog-border-radius);
  }*/

  .close {
    //padding: $modal-header-padding;
    //margin: (-$modal-header-padding-y) (-$modal-header-padding-x) (-$modal-header-padding-y) auto;
  }
}

// Title text within header
.modal-title {
  @include typography-headline-6();
  margin: 0;
}

// Modal body
.modal-body {
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when should there be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: $dialog-padding-y $dialog-padding-x;
  position: relative;
  color: $black-secondary; // djibe added from GMD

  &:first-child {
    @include border-top-radius($dialog-border-radius);
  }

  &:last-child {
    @include border-bottom-radius($dialog-border-radius);
  }

  .modal-header + & {
    padding-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.modal-footer {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding: $dialog-footer-padding-y $dialog-footer-padding-x $dialog-footer-padding-y ($dialog-footer-padding-x - $dialog-footer-inner-spacer-x);

  &:first-child {
    @include border-top-radius($dialog-border-radius);
  }

  &:last-child {
    @include border-bottom-radius($dialog-border-radius);
  }

  .btn {
    background-color: transparent;
    box-shadow: none;
    max-width: calc(50% - #{$dialog-footer-inner-spacer-x});
    min-width: $dialog-footer-btn-min-width;
    overflow: hidden;
    padding-right: $dialog-footer-inner-spacer-x;
    padding-left: $dialog-footer-inner-spacer-x;
    text-overflow: ellipsis;

    @each $color, $values in $theme-colors {
      &-#{$color} {
        @include plain-hover-focus {
          color: theme-color($color);
        }

        &.disabled,
        &:disabled {
          color: $btn-color-disabled;
        }
      }
    }

    &.active,
    &:active {
      background-color: $btn-bg-active;
      box-shadow: none;
    }

    &.disabled,
    &:disabled {
      background-color: transparent;
    }
  }

  > * {
    margin-left: $dialog-footer-inner-spacer-x;
  }
}

.modal-footer-stacked {
  align-items: stretch;
  flex-direction: column;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;

  .btn {
    @include text-align(right);

    border-radius: 0;
    margin-left: 0;
    max-width: none;
    padding: $dialog-footer-btn-stacked-padding-y $dialog-footer-btn-stacked-padding-x;
  }
}

// Scrollbar measure

.modal-scrollbar-measure {
  height: 50px;
  overflow: scroll;
  position: absolute;
  top: -99999px;
  width: 50px;
}

.modal-lg {
  max-width: $dialog-width-lg;
}

.modal-sm {
  max-width: $dialog-width-sm;
}

// Scale up the modal
// TODO