// https://material-components.github.io/material-components-web-catalog/#/component/snackbar

.toast {
  @include border-radius($snackbar-border-radius);
  @include typography-body-2;

  align-items: center;
  background-clip: padding-box;
  background-color: $snackbar-bg;
  box-shadow: map-get($snackbar-elevation-shadow, shadow);
  color: $snackbar-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: $snackbar-margin-x;
  max-width: $snackbar-max-width;
  min-height: 48px;
  min-width: $snackbar-min-width;
  opacity: 0;
  overflow: hidden; // cheap rounded corners on nested items
  transform: scale(0.8);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.2, 1), transform 0.15s cubic-bezier(0, 0, 0.2, 1);
  z-index: map-get($dialog-elevation-shadow, elevation);

  &.showing {
    opacity: 1;
  }

  &.show {
    opacity: 1;
    transform: scale(1);
  }

  &.hide {
    display: none;
  }

  .close {
    align-items: flex-start;
    border-radius: 50%;
    color: rgba($white, 0.87);
    display: flex;
    height: 36px;
    justify-content: center;
    line-height: 0;
    margin-right: $snackbar-padding-x;
    padding: 9px;
    width: 36px;
  }

  .btn {
    background: transparent;
    box-shadow: none;
    color: theme-color-light(primary);
    margin-right: 8px;
    padding: 0 8px;

    &:first-of-type {
      margin-left: auto;
    }
  }

  .btn:hover,
  .close:hover {
    background-color: rgba($white, $overlay-hover-colored-opacity);
  }

  .btn:active,
  .close:active {
    background-color: rgba($white, $overlay-pressed-colored-opacity);
  }
}

.toast-header {
  align-items: center;
  background-clip: padding-box;
  display: flex;
  flex-grow: 1;
  padding: 14px 16px;
  //color: $toast-header-color;
  //background-color: $toast-header-background-color;
}

.toast-body {
  flex-grow: 0;
  flex-shrink: 0;
  //padding: 0;
  margin-right: 8px;
  margin-left: 0;
}

// Addition
.toast-stacked {
  align-items: flex-start;
  flex-direction: column;

  & .toast-body {
    align-self: flex-end;
    margin-bottom: 8px;
  }
}
