.navbar {
  align-items: center;
  color: $toolbar-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: $toolbar-height;
  padding: $toolbar-padding-y $toolbar-padding-x;
  position: relative;

  // Horizontally align `.dropdown-menu-right` in `.navbar`

  .dropdown-menu-right {
    right: 0;
    left: auto;

    &.menu::before {
      transform-origin: 100% ($menu-link-height / 2 + $menu-padding-y);
    }

    &::before {
      transform-origin: 100% 0;
    }
  }

  // Vertically align some elements normally placed in `.navbar`

  .btn {
    margin-top: (($btn-height - $toolbar-element-height) / -2);
    margin-bottom: (($btn-height - $toolbar-element-height) / -2);
  }

  .btn-lg {
    margin-top: (($btn-height-lg - $toolbar-element-height) / -2);
    margin-bottom: (($btn-height-lg - $toolbar-element-height) / -2);
  }

  .btn-sm {
    margin-top: (($btn-height-sm - $toolbar-element-height) / -2);
    margin-bottom: (($btn-height-sm - $toolbar-element-height) / -2);
  }

  .form-control {
    @include border-radius($toolbar-element-border-radius);
    @include transition-standard(opacity);

    background-color: $toolbar-element-bg;
    border: 0;
    color: inherit;
    height: $toolbar-element-height;
    opacity: $toolbar-element-opacity;
    padding: (($toolbar-element-height - $textfield-font-size * $textfield-line-height) / 2) $toolbar-inner-spacer-x;

    @include focus-hover {
      box-shadow: none;
      opacity: 1;
    }
  }

  .form-inline {
    margin-left: $toolbar-inner-spacer-x;

    &:first-child {
      margin-left: 0;
    }
  }

  .input-group {
    @include border-radius($toolbar-element-border-radius);
    @include transition-standard(opacity);

    background-color: $toolbar-element-bg;
    opacity: $toolbar-element-opacity;

    @include focus-hover {
      opacity: 1;
    }

    .form-control {
      @include border-radius(0);

      background-color: transparent;
      margin-left: 0;
      opacity: 1;
    }

    .input-group-addon {
      margin-left: 0;
    }
  }

  .nav-tabs {
    margin-top: ($toolbar-padding-y * -1);
    margin-bottom: ($toolbar-padding-y * -1);

    .nav-link {
      min-height: $toolbar-height;
      padding-top: (($toolbar-height - $nav-tab-font-size * $nav-tab-line-height) / 2);
      padding-bottom: (($toolbar-height - $nav-tab-font-size * $nav-tab-line-height) / 2);
    }
  }

  > .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.navbar-dark {
  color: $toolbar-dark-color;

  .form-control,
  .input-group,
  .navbar-brand::before,
  .navbar-nav .show > .nav-link,
  .navbar-toggler::before {
    background-color: $toolbar-dark-element-bg;
  }

  .form-control::placeholder,
  .navbar-nav .nav-link.disabled {
    color: $toolbar-dark-color-lighter;
  }
}

.navbar-fixed-bottom,
.navbar-fixed-top {
  box-shadow: map-get($toolbar-elevation-shadow, shadow);
  position: fixed;
  right: 0;
  left: 0;
  z-index: map-get($toolbar-elevation-shadow, elevation);
}

.navbar-fixed-bottom {
  bottom: 0;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-full {
  box-shadow: map-get($toolbar-elevation-shadow, shadow);
  z-index: map-get($toolbar-elevation-shadow, elevation);
}

.navbar-sticky-top {
  box-shadow: map-get($toolbar-elevation-shadow, shadow);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: map-get($toolbar-elevation-shadow, elevation);
}

.toolbar-waterfall {
  @include transition-standard(background-color, box-shadow);

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: map-get($toolbar-elevation-shadow, elevation);

  &.waterfall {
    background-color: $toolbar-waterfall-bg;
    box-shadow: map-get($toolbar-elevation-shadow, shadow);
    position: fixed;
  }
}

// Misc

.navbar-brand {
  @include typography-title;

  align-items: center;
  color: inherit;
  display: inline-flex;
  height: $toolbar-element-height;
  margin-left: $toolbar-inner-spacer-x;
  position: relative;
  white-space: nowrap;

  @include active-focus-hover {
    color: inherit;
    text-decoration: none;
  }

  &::before {
    @include transition-standard(opacity);

    background-color: $toolbar-element-bg;
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    right: ($toolbar-inner-spacer-x / -2);
    bottom: 0;
    left: ($toolbar-inner-spacer-x / -2);
  }

  &:first-child {
    margin-left: 0;
  }

  &:focus {
    outline: 0;

    &::before {
      opacity: 1;
    }
  }
}

.navbar-text {
  align-items: center;
  color: inherit;
  display: inline-flex;
  flex-wrap: wrap;
  height: $toolbar-element-height;
  margin-left: $toolbar-inner-spacer-x;

  &:first-child {
    margin-left: 0;
  }
}

// Nav

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  .nav-link {
    @include border-radius($toolbar-element-border-radius);
    @include transition-standard(background-color, opacity);

    color: inherit;
    font-size: $toolbar-link-font-size;
    height: $toolbar-link-height;
    line-height: $toolbar-link-line-height;
    opacity: $toolbar-element-opacity;
    padding: $toolbar-link-padding-y $toolbar-link-padding-x;

    @include active-focus-hover {
      background-color: $toolbar-element-bg;
      opacity: 1;
    }

    &.active,
    &.disabled {
      opacity: 1;
    }

    &.disabled {
      background-color: transparent;
      color: $toolbar-color-lighter;
    }

    &:focus {
      outline: 0;
    }
  }

  .active > .nav-link,
  .show > .nav-link {
    opacity: 1;
  }

  .show > .nav-link {
    background-color: $toolbar-element-bg;
  }
}

// Toggleable

.navbar-collapse {
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint);
    $infix: breakpoint-infix($next);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .navbar-collapse {
          .form-inline,
          .navbar-brand,
          .navbar-text {
            margin-left: 0;
          }

          > :first-child {
            margin-top: $toolbar-inner-spacer-y;
          }

          > :not(:last-child) {
            margin-bottom: $toolbar-inner-spacer-y;
          }
        }

        > .container,
        > .container-fluid {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include media-breakpoint-up($next) {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important
          flex-basis: auto;
        }

        .navbar-nav {
          flex-wrap: nowrap;
        }

        .navbar-toggler {
          display: none;

          + .form-inline,
          + .navbar-brand,
          + .navbar-text {
            margin-left: 0;
          }
        }

        > .container,
        > .container-fluid {
          flex-wrap: nowrap;
        }
      }
    }
  }
}

.navbar-toggler {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  color: inherit;
  display: inline-flex;
  flex-shrink: 0;
  height: $toolbar-element-height;
  justify-content: center;
  line-height: 1;
  margin-left: $toolbar-inner-spacer-x;
  padding: 0;
  position: relative;
  width: $toolbar-element-height;

  @include active-focus-hover {
    color: inherit;
    text-decoration: none;

    &::before {
      opacity: 1;
    }
  }

  &::before {
    @include transition-standard(opacity);

    background-color: $toolbar-element-bg;
    border-radius: 50%;
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &:focus {
    outline: 0;
  }
}

.navbar-toggler-icon {
  @include set-material-icons;

  display: block;
  margin: auto;

  &::before {
    content: $toolbar-toggler-icon;
  }
}
