<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>Material</title>

	<!-- css -->
	<link href="../css/base.min.css" rel="stylesheet">

	<!-- css for doc -->
	<link href="../css/project.min.css" rel="stylesheet">
	
	<!-- favicon -->
	<!-- ... -->
</head>
<body class="page-brand">
	<header class="header header-transparent header-waterfall">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#doc_menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<a class="header-logo margin-left-no" href="index.html">Material</a>
		<ul class="nav nav-list pull-right">
			<li class="dropdown margin-right">
				<a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
					<span class="access-hide">John Smith</span>
					<span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>Profile Settings</a>
					</li>
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
					</li>
					<li>
						<a class="padding-right-lg waves-attach" href="page-login.html"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
					</li>
				</ul>
			</li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu" id="doc_menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
				<a class="menu-logo" href="index.html">Material</a>
				<ul class="nav">
					<li>
						<a class="collaosed waves-attach" data-toggle="collapse" href="#doc_menu_components">Components</a>
						<ul class="menu-collapse collapse" id="doc_menu_components">
							<li>
								<a class="waves-attach" href="ui-button.html">Buttons</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-button-fab.html">Buttons <small>(Floating Action Button)</small></a>
							</li>
							<li>
								<a class="waves-attach" href="ui-card.html">Cards</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-data-table.html">Data Tables</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-dialog.html">Dialogs</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-dropdown-menu.html">Menus</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-nav-drawer.html">Navigation Drawers</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-picker.html">Pickers</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-progress.html">Progress</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-selection-control.html">Selection Controls</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-snackbar.html">Snackbars</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-tab.html">Tabs</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-text-field.html">Text Fields</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-toolbar.html">Toolbars</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="collapsed waves-attach" data-toggle="collapse" href="#doc_menu_extras">Extras</a>
						<ul class="menu-collapse collapse" id="doc_menu_extras">
							<li>
								<a class="waves-attach" href="ui-avatar.html">Avatars</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-icon.html">Icons</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-label.html">Labels</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-nav.html">Navs</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-tile.html">Tiles</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="collapsed waves-attach" data-toggle="collapse" href="#doc_menu_javascript">Javascript</a>
						<ul class="menu-collapse collapse" id="doc_menu_javascript">
							<li>
								<a class="waves-attach" href="ui-affix.html">Affix</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-collapse.html">Collapse</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-dropdown-menu.html">Dropdown</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-modal.html">Modals</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-tab.html">Togglable Tabs</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="content">
		<div class="content-heading">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
						<h1 class="heading">Material</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
					<section class="content-inner margin-top-no">
						<div class="card">
							<div class="card-main">
								<div class="card-inner">
									<p>Daemonite's Material UI is a fully responsive, cross-platform, front-end interface based on Google Material Design. This lightweight framework is built in HTML5 using Bootstrap, JS and CSS.</p>
									<blockquote>A visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science. This is material design.<sup class="margin-left-xs"><a href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank"><span class="icon">open_in_new</span></a></sup></blockquote>
									<p>Have a play with this working prototype of Material, let us know what you think at the <a href="http://labs.daemon.com.au" target="_blank">Daemon Labs<sup class="margin-left-xs"><span class="icon">open_in_new</span></sup></a> forum.</p>
								</div>
							</div>
						</div>
						<h2 class="content-sub-heading">Components</h2>
						<p>Below are components that have been defined by Material Design Guidelines. For more information, please visit <a href="https://www.google.com/design/spec/components/buttons.html" target="_blank">Material Design Guidelines<sup class="margin-left-xs"><span class="icon">open_in_new</span></sup></a>.</p>
						<div class="tile-wrap">
							<a class="tile waves-attach" href="ui-button.html">
								<div class="tile-inner">
									<span class="text-black">Buttons</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-button-fab.html">
								<div class="tile-inner">
									<span class="text-black">Buttons <small>(Floating Action Button)</small></span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-card.html">
								<div class="tile-inner">
									<span class="text-black">Cards</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-data-table.html">
								<div class="tile-inner">
									<span class="text-black">Data Tables</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-dialog.html">
								<div class="tile-inner">
									<span class="text-black">Dialogs</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-dropdown-menu.html">
								<div class="tile-inner">
									<span class="text-black">Menus</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-nav-drawer.html">
								<div class="tile-inner">
									<span class="text-black">Navigation Drawers</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-picker.html">
								<div class="tile-inner">
									<span class="text-black">Pickers</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-progress.html">
								<div class="tile-inner">
									<span class="text-black">Progress</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-selection-control.html">
								<div class="tile-inner">
									<span class="text-black">Selection Controls</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-snackbar.html">
								<div class="tile-inner">
									<span class="text-black">Snackbars</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-tab.html">
								<div class="tile-inner">
									<span class="text-black">Tabs</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-text-field.html">
								<div class="tile-inner">
									<span class="text-black">Text Fields</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-toolbar.html">
								<div class="tile-inner">
									<span class="text-black">Toolbars</span>
								</div>
							</a>
						</div>
						<h2 class="content-sub-heading">Extras</h2>
						<p>These components have not been specifically defined by Material Design Guidelines, but are used in some Google apps and/or sites.</p>
						<div class="tile-wrap">
							<a class="tile waves-attach" href="ui-avatar.html">
								<div class="tile-inner">
									<span class="text-black">Avatars</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-icon.html">
								<div class="tile-inner">
									<span class="text-black">Icons</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-label.html">
								<div class="tile-inner">
									<span class="text-black">Labels</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-nav.html">
								<div class="tile-inner">
									<span class="text-black">Navs</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-tile.html">
								<div class="tile-inner">
									<span class="text-black">Tiles</span>
								</div>
							</a>
						</div>
						<h2 class="content-sub-heading">Javascript</h2>
						<p>Material includes several Bootstrap's Javascript plugins, <code>affix</code>, <code>collapse</code>, <code>dropdown</code>, <code>modal</code> &amp; <code>tab</code>, to be specific. For more information, please visit <a href="http://getbootstrap.com/javascript/" target="_blank">Bootstrap Documentation Site<sup class="margin-left-xs"><span class="icon">open_in_new</span></sup></a>.</p>
						<div class="tile-wrap">
							<a class="tile waves-attach" href="ui-affix.html">
								<div class="tile-inner">
									<span class="text-black">Affix</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-collapse.html">
								<div class="tile-inner">
									<span class="text-black">Collapse</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-dropdown-menu.html">
								<div class="tile-inner">
									<span class="text-black">Dropdown</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-modal.html">
								<div class="tile-inner">
									<span class="text-black">Modals</span>
								</div>
							</a>
							<a class="tile waves-attach" href="ui-tab.html">
								<div class="tile-inner">
									<span class="text-black">Togglable Tabs</span>
								</div>
							</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<p>Material</p>
		</div>
	</footer>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light" data-toggle="dropdown"><span class="fbtn-text">Links</span><span class="fbtn-ori icon">apps</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropdown">
				<a class="fbtn waves-attach waves-circle" href="https://github.com/Daemonite/material" target="_blank"><span class="fbtn-text">Fork me on GitHub</span><span class="icon">code</span></a>
				<a class="fbtn fbtn-brand waves-attach waves-circle waves-light" href="https://twitter.com/daemonites" target="_blank"><span class="fbtn-text">Follow Daemon on Twitter</span><span class="icon">share</span></a>
				<a class="fbtn fbtn-green waves-attach waves-circle" href="http://www.daemon.com.au/" target="_blank"><span class="fbtn-text">Visit Daemon Website</span><span class="icon">link</span></a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="../js/base.min.js"></script>

	<!-- js for doc -->
	<script src="../js/project.min.js"></script>
</body>
</html>