<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>Cards - Material</title>

	<!-- css -->
	<link href="../css/base.min.css" rel="stylesheet">
	<link href="../css/project.min.css" rel="stylesheet">
	
	<!-- favicon -->
	<!-- ... -->
</head>
<body class="page-brand">
	<header class="header header-transparent header-waterfall ui-header">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#ui_menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<a class="header-logo header-affix-hide margin-left-no margin-right-no" data-offset-top="213" data-spy="affix" href="index.html">Material</a>
		<span class="header-logo header-affix margin-left-no margin-right-no" data-offset-top="213" data-spy="affix">Cards</span>
		<ul class="nav nav-list pull-right">
			<li class="dropdown margin-right">
				<a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
					<span class="access-hide">John Smith</span>
					<span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>Profile Settings</a>
					</li>
					<li>
						<a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
					</li>
					<li>
						<a class="padding-right-lg waves-attach" href="page-login.html"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
					</li>
				</ul>
			</li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
				<a class="menu-logo" href="index.html">Material</a>
				<ul class="nav">
					<li>
						<a class="waves-attach" data-toggle="collapse" href="#ui_menu_components">Components</a>
						<ul class="menu-collapse collapse in" id="ui_menu_components">
							<li>
								<a class="waves-attach" href="ui-button.html">Buttons</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-button-fab.html">Buttons<small class="margin-left-xs">(Floating Action Button)</small></a>
							</li>
							<li class="active">
								<a class="waves-attach" href="ui-card.html">Cards</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-data-table.html">Data Tables</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-dialog.html">Dialogs</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-dropdown-menu.html">Menus</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-nav-drawer.html">Navigation Drawers</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-picker.html">Pickers</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-progress.html">Progress</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-selection-control.html">Selection Controls</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-snackbar.html">Snackbars</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-stepper.html">Steppers</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-tab.html">Tabs</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-text-field.html">Text Fields</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-toolbar.html">Toolbars</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_extras">Extras</a>
						<ul class="menu-collapse collapse" id="ui_menu_extras">
							<li>
								<a class="waves-attach" href="ui-avatar.html">Avatars</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-icon.html">Icons</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-label.html">Labels</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-nav.html">Navs</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-tile.html">Tiles</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_javascript">Javascript</a>
						<ul class="menu-collapse collapse" id="ui_menu_javascript">
							<li>
								<a class="waves-attach" href="ui-affix.html">Affix</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-collapse.html">Collapse</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-dropdown-menu.html">Dropdown</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-modal.html">Modals</a>
							</li>
							<li>
								<a class="waves-attach" href="ui-tab.html">Togglable Tabs</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_samples">Sample Pages</a>
						<ul class="menu-collapse collapse" id="ui_menu_samples">
							<li>
								<a class="waves-attach" href="page-login.html">Login Page</a>
							</li>
							<li>
								<a class="waves-attach" href="page-picker.html">Picker Page</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="content">
		<div class="content-header ui-content-header">
			<div class="container">
				<h1 class="content-heading">Cards</h1>
			</div>
		</div>
		<div class="container">
			<section class="content-inner margin-top-no">
				<div class="row">
					<div class="col-lg-8 col-md-9">
						<div class="card margin-bottom-no">
							<div class="card-main">
								<div class="card-inner">
									<p>A card is a sheet of material that serves as an entry point to more detailed information. A card could contain a photo, text, and a link about a single subject.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h2 class="content-sub-heading">Basic Cards</h2>
				<div class="ui-card-wrap">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Default Card</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
<pre class="margin-top-no ui-card-pre">
&lt;div class="card"&gt;
    &lt;div class="card-main"&gt;
        &lt;div class="card-inner"&gt; ... &lt;/div&gt;
        &lt;div class="card-action"&gt; ... &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
						</div>
					</div>
				</div>
				<h3 class="h5">Brand Colours</h3>
				<div class="ui-card-wrap">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="card card-brand">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Brand</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-light" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
<pre class="margin-top-no ui-card-pre">
&lt;div class="card card-brand"&gt;
    &lt;div class="card-main"&gt;
        &lt;div class="card-inner"&gt; ... &lt;/div&gt;
        &lt;div class="card-action"&gt; ... &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
						</div>
					</div>
				</div>
				<div class="ui-card-wrap">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="card card-brand-accent">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Brand Accent</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-light" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
<pre class="margin-top-no ui-card-pre">
&lt;div class="card card-brand-accent"&gt;
    &lt;div class="card-main"&gt;
        &lt;div class="card-inner"&gt; ... &lt;/div&gt;
        &lt;div class="card-action"&gt; ... &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
						</div>
					</div>
				</div>
				<h3 class="h5">Colour Palettes</h3>
				<div class="ui-card-wrap">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="card card-green">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">.card-green</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="card card-orange">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">.card-orange</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="card card-red">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">.card-red</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-light" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h2 class="content-sub-heading">Media Area</h2>
				<div class="ui-card-wrap">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<div class="card-main">
									<div class="card-header">
										<div class="card-header-side pull-left">
											<div class="avatar">
												<img alt="John Smith Avatar" src="../images/users/avatar-001.jpg">
											</div>
										</div>
										<div class="card-inner">
											<span class="card-heading">Some Text!</span>
										</div>
									</div>
									<div class="card-img">
										<img alt="alt text" src="../images/samples/landscape.jpg" style="width: 100%;">
										<p class="card-img-heading">Some Text!</p>
									</div>
									<div class="card-inner">
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
										<ul class="nav nav-list margin-no pull-right">
											<li class="dropdown">
												<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
												<ul class="dropdown-menu dropdown-menu-right">
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
<pre class="margin-top-no ui-card-pre ui-card-pre-media">
&lt;div class="card"&gt;
    &lt;div class="card-main"&gt;
        &lt;div class="card-header"&gt;
            ...
            &lt;div class="card-inner"&gt; ... &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="card-img"&gt;
            ...
            &lt;p class="card-img-heading"&gt; ... &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="card-inner"&gt; ... &lt;/div&gt;
        &lt;div class="card-action"&gt; ... &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
						</div>
					</div>
				</div>
				<h2 class="content-sub-heading">Vertical Area</h2>
				<div class="ui-card-wrap">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<aside class="card-side pull-left">
									<span class="card-heading"><i class="icon">info_outline</i></span>
								</aside>
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Primary Area!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
<pre class="margin-top-no ui-card-pre">
&lt;div class="card"&gt;
    &lt;aside class="card-side pull-left"&gt; ... &lt;/aside&gt;
    &lt;div class="card-main"&gt; ... &lt;/div&gt;
&lt;/div&gt;
</pre>
						</div>
					</div>
				</div>
				<div class="ui-card-wrap">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<a class="card-side pull-right waves-attach" href="javascript:void(0)"><span class="card-heading">Button</span></a>
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Primary Area!</p>
										<p class="margin-bottom-lg">
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<ul class="nav nav-list margin-no pull-left">
											<li class="dropdown">
												<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
												<ul class="dropdown-menu">
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<aside class="card-side card-side-img pull-left">
									<img alt="alt text" src="../images/samples/portrait.jpg">
								</aside>
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Primary Area!</p>
										<p class="margin-bottom-lg">
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<ul class="nav nav-list margin-no pull-right">
											<li class="dropdown">
												<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
												<ul class="dropdown-menu dropdown-menu-right">
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
	<footer class="ui-footer">
		<div class="container">
			<p>Material</p>
		</div>
	</footer>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light" data-toggle="dropdown"><span class="fbtn-text fbtn-text-left">Links</span><span class="fbtn-ori icon">apps</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropup">
				<a class="fbtn waves-attach waves-circle" href="https://github.com/Daemonite/material" target="_blank"><span class="fbtn-text fbtn-text-left">Fork me on GitHub</span><span class="icon">code</span></a>
				<a class="fbtn fbtn-brand waves-attach waves-circle waves-light" href="https://twitter.com/daemonites" target="_blank"><span class="fbtn-text fbtn-text-left">Follow Daemon on Twitter</span><span class="icon">share</span></a>
				<a class="fbtn fbtn-green waves-attach waves-circle" href="http://www.daemon.com.au/" target="_blank"><span class="fbtn-text fbtn-text-left">Visit Daemon Website</span><span class="icon">link</span></a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="../js/base.min.js"></script>
	<script src="../js/project.min.js"></script>
</body>
</html>