<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, width=device-width" name="viewport">
	<title>Cards - Material</title>

	<!-- css -->
	<link href="../css/base.min.css" rel="stylesheet">

	<!-- css for this project -->
	<link href="../css/project.min.css" rel="stylesheet">

	<!-- favicon -->
	<!-- ... -->

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body class="avoid-fout">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header class="header header-transparent header-waterfall">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<a class="header-logo margin-left-no" href="index.html">Material</a>
		<div class="header-affix pull-left" data-offset-top="108" data-spy="affix">
			<span class="header-text margin-left-no">
				<i class="icon margin-right">chevron_right</i>Cards
			</span>
		</div>
		<ul class="nav nav-list pull-right">
			<li>
				<a data-toggle="menu" href="#profile">
					<span class="access-hide">John Smith</span>
					<span class="avatar"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>
				</a>
			</li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu" id="menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-content">
					<a class="menu-logo" href="index.html">Material</a>
					<ul class="nav">
						<li class="active">
							<a class="waves-attach" href="ui-card.html">Cards</a>
						</li>
						<li>
							<a class="waves-attach" href="ui-collapse.html">Collapsible Regions</a>
						</li>
						<li>
							<a class="waves-attach" href="ui-dropdown.html">Dropdowns</a>
						</li>
						<li>
							<a class="waves-attach" href="ui-modal.html">Modals &amp; Toasts</a>
						</li>
						<li>
							<a class="waves-attach" href="ui-nav.html">Navs</a>
						</li>
						<li>
							<a class="waves-attach" href="ui-progress.html">Progress Bars</a>
						</li>
						<li>
							<a class="waves-attach" href="ui-tab.html">Tabs</a>
						</li>
						<li>
							<a class="waves-attach" href="ui-tile.html">Tiles</a>
						</li>
					</ul>
					<hr>
					<ul class="nav">
						<li>
							<a class="waves-attach" href="ui-button.html">Buttons</a>
						</li>
						<li>
							<a class="waves-attach" href="ui-form.html">Form Elements</a>
							<span class="menu-collapse-toggle collapsed" data-target="#form-elements" data-toggle="collapse"><i class="icon menu-collapse-toggle-close">close</i><i class="icon menu-collapse-toggle-default">add</i></span>
							<ul class="menu-collapse collapse" id="form-elements">
								<li>
									<a class="waves-attach" href="ui-form-adv.html">Form Elements <small>(materialised)</small></a>
								</li>
							</ul>
						</li>
						<li>
							<a class="waves-attach" href="ui-icon.html">Icons</a>
						</li>
						<li>
							<a class="waves-attach" href="ui-table.html">Tables</a>
						</li>
					</ul>
					<hr>
					<ul class="nav">
						<li>
							<a class="waves-attach" href="page-palette.html">Page Palettes</a>
							<span class="menu-collapse-toggle collapsed" data-target="#page-palettes" data-toggle="collapse"><i class="icon menu-collapse-toggle-close">close</i><i class="icon menu-collapse-toggle-default">add</i></span>
							<ul class="menu-collapse collapse" id="page-palettes">
								<li>
									<a class="waves-attach" href="page-palette-blue.html">Blue Palette</a>
								</li>
								<li>
									<a class="waves-attach" href="page-palette-green.html">Green Palette</a>
								</li>
								<li>
									<a class="waves-attach" href="page-palette-purple.html">Purple Palette</a>
								</li>
								<li>
									<a class="waves-attach" href="page-palette-red.html">Red Palette</a>
								</li>
								<li>
									<a class="waves-attach" href="page-palette-yellow.html">Yellow Palette</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<nav aria-hidden="true" class="menu menu-right" id="profile" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-top">
					<div class="menu-top-img">
						<img alt="John Smith" src="../images/samples/landscape.jpg">
					</div>
					<div class="menu-top-info">
						<a class="menu-top-user" href="javascript:void(0)"><span class="avatar pull-left"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>John Smith</a>
					</div>
					<div class="menu-top-info-sub">
						<small>Some additional information about John Smith</small>
					</div>
				</div>
				<div class="menu-content">
					<ul class="nav">
						<li>
							<a class="waves-attach" href="javascript:void(0)"><span class="icon icon-lg">account_box</span>Profile Settings</a>
						</li>
						<li>
							<a class="waves-attach" href="javascript:void(0)"><span class="icon icon-lg">add_to_photos</span>Upload Photo</a>
						</li>
						<li>
							<a class="waves-attach" href="page-login.html"><span class="icon icon-lg">exit_to_app</span>Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="content-heading">
			<div class="container">
				<h1 class="heading">Cards</h1>
			</div>
		</div>
		<div class="container">
			<section class="content-inner">
				<h2 class="content-sub-heading">Basic Cards</h2>
				<div class="card-wrap">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Default Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-alt">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading text-alt">Brand Colour!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat btn-alt waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-blue">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading text-blue">Blue Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat btn-blue waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-green">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading text-green">Green Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat btn-green waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-purple">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading text-purple">Purple Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat btn-purple waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-red">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading text-red">Red Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat btn-red waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-yellow">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading text-yellow">Yellow Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat btn-yellow waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-alt-bg">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Brand Colour!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-light" href="javascript:void(0)"><span class="icon text-white">check</span>&nbsp;<span class="text-white">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-blue-bg">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Blue Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-light" href="javascript:void(0)"><span class="icon text-white">check</span>&nbsp;<span class="text-white">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-green-bg">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Green Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-light" href="javascript:void(0)"><span class="icon text-white">check</span>&nbsp;<span class="text-white">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-purple-bg">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Purple Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-light" href="javascript:void(0)"><span class="icon text-white">check</span>&nbsp;<span class="text-white">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-red-bg">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Red Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-light" href="javascript:void(0)"><span class="icon text-white">check</span>&nbsp;<span class="text-white">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-yellow-bg">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Yellow Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-light" href="javascript:void(0)"><span class="icon text-white">check</span>&nbsp;<span class="text-white">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card card-offwhite">
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Off-white Card!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h2 class="content-sub-heading">Cards with Rich Media Content</h2>
				<div class="card-wrap">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card">
								<div class="card-main">
									<div class="card-img">
										<img alt="alt text" src="../images/samples/landscape.jpg">
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon text-blue">check</span>&nbsp;<span class="text-blue">Button</span></a>
										</div>
										<ul class="nav nav-list pull-right">
											<li class="dropdown">
												<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
												<ul class="dropdown-menu">
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card">
								<div class="card-main">
									<div class="card-img">
										<img alt="alt text" src="../images/samples/landscape.jpg">
										<p class="card-img-heading">Some Text!</p>
									</div>
									<div class="card-inner">
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon text-blue">check</span>&nbsp;<span class="text-blue">Button</span></a>
										</div>
										<ul class="nav nav-list pull-right">
											<li class="dropdown">
												<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
												<ul class="dropdown-menu">
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="card">
								<div class="card-main">
									<div class="card-header">
										<div class="card-header-side pull-left">
											<div class="avatar">
												<img alt="John Smith Avatar" src="../images/users/avatar-001.jpg">
											</div>
										</div>
										<div class="card-inner">
											<span>Some Text!</span>
										</div>
									</div>
									<div class="card-img">
										<img alt="alt text" src="../images/samples/landscape.jpg">
									</div>
									<div class="card-inner">
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon text-blue">check</span>&nbsp;<span class="text-blue">Button</span></a>
										</div>
										<ul class="nav nav-list pull-right">
											<li class="dropdown">
												<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
												<ul class="dropdown-menu">
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
													</li>
													<li>
														<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h2 class="content-sub-heading">Cards with Vertical Split Area</h2>
				<div class="card-wrap">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<aside class="card-side pull-left">
									<span class="card-heading icon">info_outline</span>
								</aside>
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Primary Area!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon text-blue">check</span>&nbsp;<span class="text-blue">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<aside class="card-side pull-right">
									<span class="card-heading icon">info_outline</span>
								</aside>
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Primary Area!</p>
										<p>
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon text-blue">check</span>&nbsp;<span class="text-blue">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-wrap">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<a class="card-side pull-left waves-attach" href="javascript:void(0)"><span class="card-heading">Button</span></a>
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Primary Area!</p>
										<p class="margin-bottom-lg">
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<a class="card-side pull-right waves-attach" href="javascript:void(0)"><span class="card-heading">Button</span></a>
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Primary Area!</p>
										<p class="margin-bottom-lg">
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-wrap">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<aside class="card-side card-side-img pull-left">
									<img alt="alt text" src="../images/samples/portrait.jpg">
								</aside>
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Primary Area!</p>
										<p class="margin-bottom-lg">
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon text-blue">check</span>&nbsp;<span class="text-blue">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="card">
								<aside class="card-side card-side-img pull-right">
									<img alt="alt text" src="../images/samples/portrait.jpg">
								</aside>
								<div class="card-main">
									<div class="card-inner">
										<p class="card-heading">Primary Area!</p>
										<p class="margin-bottom-lg">
											Lorem ipsum dolor sit amet.<br>
											Consectetur adipiscing elit.
										</p>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon text-blue">check</span>&nbsp;<span class="text-blue">Button</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p>Material</p>
		</div>
	</footer>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-red fbtn-lg" data-toggle="dropdown"><span class="fbtn-text">Links</span><span class="fbtn-ori icon">add</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropdown">
				<a class="fbtn" href="https://github.com/Daemonite/material" target="_blank"><span class="fbtn-text">Fork me on GitHub</span><span class="fa fa-github"></span></a>
				<a class="fbtn fbtn-blue" href="https://twitter.com/daemonites" target="_blank"><span class="fbtn-text">Follow Daemon on Twitter</span><span class="fa fa-twitter"></span></a>
				<a class="fbtn fbtn-alt" href="http://www.daemon.com.au/" target="_blank"><span class="fbtn-text">Visit Daemon Website</span><span class="icon">link</span></a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../js/base.min.js"></script>

	<!-- js for this project -->
	<script src="../js/project.min.js"></script>
</body>
</html>