<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, width=device-width" name="viewport">
	<title>Materialised Form Elements - Material</title>

	<!-- css -->
	<link href="../css/base.min.css" rel="stylesheet">

	<!-- css for this project -->
	<link href="../css/project.min.css" rel="stylesheet">

	<!-- favicon -->
	<!-- ... -->

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body class="avoid-fout">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header class="header header-transparent header-waterfall">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<div class="header-affix-hide pull-left" data-offset-top="108" data-spy="affix">
			<a class="header-logo margin-left-no" href="index.html">Material</a>
		</div>
		<div class="header-affix pull-left" data-offset-top="108" data-spy="affix">
			<span class="header-logo margin-left-no">Form</span>
			<span class="header-text margin-left-no">
				<i class="icon margin-right">chevron_right</i>Materialised
			</span>
		</div>
		<ul class="nav nav-list pull-right">
			<li>
				<a data-toggle="menu" href="#profile">
					<span class="access-hide">John Smith</span>
					<span class="avatar"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>
				</a>
			</li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu" id="menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
				<a class="menu-logo" href="index.html">Material</a>
				<ul class="nav">
					<li>
						<a class="waves-attach" href="ui-card.html">Cards</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-collapse.html">Collapsible Regions</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-dropdown.html">Dropdowns</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-modal.html">Modals &amp; Toasts</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-nav.html">Navs</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-progress.html">Progress Bars</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-tab.html">Tabs</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-tile.html">Tiles</a>
					</li>
				</ul>
				<hr>
				<ul class="nav">
					<li>
						<a class="waves-attach" href="ui-button.html">Buttons</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-form.html">Form Elements</a>
						<span class="menu-collapse-toggle" data-target="#form-elements" data-toggle="collapse"><i class="icon menu-collapse-toggle-close">close</i><i class="icon menu-collapse-toggle-default">add</i></span>
						<ul class="menu-collapse collapse in" id="form-elements">
							<li class="active">
								<a class="waves-attach" href="ui-form-adv.html">Form Elements <small>(materialised)</small></a>
							</li>
						</ul>
					<li>
						<a class="waves-attach" href="ui-icon.html">Icons</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-table.html">Tables</a>
					</li>
				</ul>
				<hr>
				<ul class="nav">
					<li>
						<a class="waves-attach" href="page-palette.html">Page Palettes</a>
						<span class="menu-collapse-toggle collapsed" data-target="#page-palettes" data-toggle="collapse"><i class="icon menu-collapse-toggle-close">close</i><i class="icon menu-collapse-toggle-default">add</i></span>
						<ul class="menu-collapse collapse" id="page-palettes">
							<li>
								<a class="waves-attach" href="page-palette-blue.html">Blue Palette</a>
							</li>
							<li>
								<a class="waves-attach" href="page-palette-green.html">Green Palette</a>
							</li>
							<li>
								<a class="waves-attach" href="page-palette-purple.html">Purple Palette</a>
							</li>
							<li>
								<a class="waves-attach" href="page-palette-red.html">Red Palette</a>
							</li>
							<li>
								<a class="waves-attach" href="page-palette-yellow.html">Yellow Palette</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<nav aria-hidden="true" class="menu menu-right" id="profile" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-top">
				<div class="menu-top-img">
					<img alt="John Smith" src="../images/samples/landscape.jpg">
				</div>
				<div class="menu-top-info">
					<a class="menu-top-user" href="javascript:void(0)"><span class="avatar pull-left"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>John Smith</a>
				</div>
				<div class="menu-top-info-sub">
					<small>Some additional information about John Smith</small>
				</div>
			</div>
			<div class="menu-content">
				<ul class="nav">
					<li>
						<a class="waves-attach" href="javascript:void(0)"><span class="icon icon-lg">account_box</span>Profile Settings</a>
					</li>
					<li>
						<a class="waves-attach" href="javascript:void(0)"><span class="icon icon-lg">add_to_photos</span>Upload Photo</a>
					</li>
					<li>
						<a class="waves-attach" href="page-login.html"><span class="icon icon-lg">exit_to_app</span>Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="content-heading">
			<div class="container">
				<h1 class="heading">Materialised Form Elements</h1>
			</div>
		</div>
		<div class="container">
			<section class="content-inner">
				<form class="form">
					<fieldset>
						<legend>Floating Labels</legend>
						<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text">Input Field</label>
									<input class="form-control" id="float-text" type="text">
								</div>
							</div>
						</div>
						<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text-value">Input Field with Value</label>
									<input class="form-control" id="float-text-value" type="text" value="something has already been written down">
								</div>
							</div>
						</div>
						<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-select">Select</label>
									<select class="form-control" id="float-select">
										<option value="">&nbsp;</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-textarea">Textarea</label>
									<textarea class="form-control" id="float-textarea" rows="5"></textarea>
								</div>
							</div>
						</div>
						<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-textarea-autosize">Auto Expanding Textarea</label>
									<textarea class="form-control textarea-autosize" id="float-textarea-autosize" rows="1"></textarea>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Floating Labels (Cont'd)</legend>
						<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text-disabled">Disabled Input Field</label>
									<input class="form-control" id="float-text-disabled" type="text" disabled>
								</div>
							</div>
						</div>
						<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text-value-disabled">Disabled Input Field with Value</label>
									<input class="form-control" id="float-text-value-disabled" type="text" value="something has already been written down" disabled>
								</div>
							</div>
						</div>
						<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-select-disabled">Disabled Select</label>
									<select class="form-control" id="float-select-disabled" disabled>
										<option value="">&nbsp;</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-textarea-disabled">Disabled Textarea</label>
									<textarea class="form-control" id="float-textarea-disabled" rows="5" disabled></textarea>
								</div>
							</div>
						</div>
						<div class="form-group form-group-label form-group-alt">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text-alt">Input Field Brand Colour</label>
									<input class="form-control" id="float-text-alt" type="text">
								</div>
							</div>
						</div>
						<div class="form-group form-group-label form-group-blue">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text-blue">Input Field Blue</label>
									<input class="form-control" id="float-text-blue" type="text">
								</div>
							</div>
						</div>
						<div class="form-group form-group-label form-group-green">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text-green">Input Field Green</label>
									<input class="form-control" id="float-text-green" type="text">
								</div>
							</div>
						</div>
						<div class="form-group form-group-label form-group-purple">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text-purple">Input Field Purple</label>
									<input class="form-control" id="float-text-purple" type="text">
								</div>
							</div>
						</div>
						<div class="form-group form-group-label form-group-red">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text-red">Input Field Red</label>
									<input class="form-control" id="float-text-red" type="text">
								</div>
							</div>
						</div>
						<div class="form-group form-group-label form-group-yellow">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<label class="floating-label" for="float-text-yellow">Input Field Yellow</label>
									<input class="form-control" id="float-text-yellow" type="text">
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Form Controls with Icons</legend>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<div class="media">
										<div class="media-object pull-left">
											<label class="form-icon-label" for="input-address"><span class="icon">home</span></label>
										</div>
										<div class="media-inner">
											<input class="form-control" id="input-address" placeholder="Address" type="text">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<div class="media">
										<div class="media-object pull-left">
											<label class="form-icon-label" for="input-phone"><span class="icon">phone</span></label>
										</div>
										<div class="media-inner">
											<select class="form-control" id="input-phone">
												<option>Phone</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-6 col-sm-8">
									<div class="media">
										<div class="media-object pull-left">
											<label class="form-icon-label" for="input-comment"><span class="icon">comment</span></label>
										</div>
										<div class="media-inner">
											<textarea class="form-control textarea-autosize" id="input-comment" placeholder="Comments" rows="1"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Material Checkboxes &amp; Radio Buttons</legend>
						<div class="form-group">
							<div class="checkbox checkbox-adv">
								<label for="input-checkbox-1">
									<input class="access-hide" id="input-checkbox-1" name="input-checkbox" type="checkbox">Option 1
									<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
								</label>
							</div>
							<div class="checkbox checkbox-adv">
								<label for="input-checkbox-2">
									<input class="access-hide" id="input-checkbox-2" name="input-checkbox" type="checkbox">Option 2
									<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
								</label>
							</div>
							<div class="checkbox checkbox-adv">
								<label for="input-checkbox-3">
									<input class="access-hide" id="input-checkbox-3" name="input-checkbox" type="checkbox">Option 3
									<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-adv disabled">
								<label for="input-checkbox-1-disabled">
									<input class="access-hide" id="input-checkbox-1-disabled" name="input-checkbox-disabled" type="checkbox" disabled>Disabled Option 1
									<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
								</label>
							</div>
							<div class="checkbox checkbox-adv disabled">
								<label for="input-checkbox-2-disabled">
									<input class="access-hide" id="input-checkbox-2-disabled" name="input-checkbox-disabled" type="checkbox" checked disabled>Disabled Option 2
									<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
								</label>
							</div>
							<div class="checkbox checkbox-adv disabled">
								<label for="input-checkbox-3-disabled">
									<input class="access-hide" id="input-checkbox-3-disabled" name="input-checkbox-disabled" type="checkbox" disabled>Disabled Option 3
									<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-adv checkbox-inline">
								<label for="input-checkbox-inline-1">
									<input class="access-hide" id="input-checkbox-inline-1" name="input-checkbox-inline" type="checkbox">Inline Option 1
									<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
								</label>
							</div>
							<div class="checkbox checkbox-adv checkbox-inline">
								<label for="input-checkbox-inline-2">
									<input class="access-hide" id="input-checkbox-inline-2" name="input-checkbox-inline" type="checkbox">Inline Option 2
									<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
								</label>
							</div>
							<div class="checkbox checkbox-adv checkbox-inline">
								<label for="input-checkbox-inline-3">
									<input class="access-hide" id="input-checkbox-inline-3" name="input-checkbox-inline" type="checkbox">Inline Option 3
									<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="radio radio-adv">
								<label for="input-radio-1">
									<input class="access-hide" id="input-radio-1" name="input-radio" type="radio">Option 1
									<span class="circle"></span><span class="circle-check"></span>
								</label>
							</div>
							<div class="radio radio-adv">
								<label for="input-radio-2">
									<input class="access-hide" id="input-radio-2" name="input-radio" type="radio">Option 2
									<span class="circle"></span><span class="circle-check"></span>
								</label>
							</div>
							<div class="radio radio-adv">
								<label for="input-radio-3">
									<input class="access-hide" id="input-radio-3" name="input-radio" type="radio">Option 3
									<span class="circle"></span><span class="circle-check"></span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="radio radio-adv disabled">
								<label for="input-radio-1-disabled">
									<input class="access-hide" id="input-radio-1-disabled" name="input-radio-disabled" type="radio" disabled>Disabled Option 1
									<span class="circle"></span><span class="circle-check"></span>
								</label>
							</div>
							<div class="radio radio-adv disabled">
								<label for="input-radio-2-disabled">
									<input class="access-hide" id="input-radio-2-disabled" name="input-radio-disabled" type="radio" checked disabled>Disabled Option 2
									<span class="circle"></span><span class="circle-check"></span>
								</label>
							</div>
							<div class="radio radio-adv disabled">
								<label for="input-radio-3-disabled">
									<input class="access-hide" id="input-radio-3-disabled" name="input-radio-disabled" type="radio" disabled>Disabled Option 3
									<span class="circle"></span><span class="circle-check"></span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="radio radio-adv radio-inline">
								<label for="input-radio-inline-1">
									<input class="access-hide" id="input-radio-inline-1" name="input-radio-inline" type="radio">Inline Option 1
									<span class="circle"></span><span class="circle-check"></span>
								</label>
							</div>
							<div class="radio radio-adv radio-inline">
								<label for="input-radio-inline-2">
									<input class="access-hide" id="input-radio-inline-2" name="input-radio-inline" type="radio">Inline Option 2
									<span class="circle"></span><span class="circle-check"></span>
								</label>
							</div>
							<div class="radio radio-adv radio-inline">
								<label for="input-radio-inline-3">
									<input class="access-hide" id="input-radio-inline-3" name="input-radio-inline" type="radio">Inline Option 3
									<span class="circle"></span><span class="circle-check"></span>
								</label>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Material Datepicker</legend>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-2 col-md-3 col-sm-4">
									<label class="form-label" for="datepicker-adv-1">Material Datepicker</label>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-8">
									<input class="datepicker-adv datepicker-adv-doc-1 form-control" id="datepicker-adv-1" type="text">
									<div class="card">
										<div class="card-main">
											<div class="card-header">
												<div class="card-inner">
													<span class="icon">info_outline</span>&nbsp;<span>Usage</span>
												</div>
											</div>
											<div class="card-inner">
												<p>Use <code>.datepicker-adv</code> to apply material datepicker styles and activate the datepicker via simple javascript, for example: <code>$('.datepicker-adv').datepicker();</code></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-2 col-md-3 col-sm-4">
									<label class="form-label" for="datepicker-adv-2">Material Datepicker with Pre-Set Date</label>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-8">
									<input class="datepicker-adv datepicker-adv-doc-2 form-control" id="datepicker-adv-2" type="text" value="01-Jan-2010">
									<div class="card">
										<div class="card-main">
											<div class="card-header">
												<div class="card-inner">
													<span class="icon">info_outline</span>&nbsp;<span>Options</span>
												</div>
											</div>
											<div class="card-inner">
												<p>Alternatively, options can be passed to override some default material datepicker behaviours:</p>
												<ul>
													<li><code>format</code> to change date format</li>
													<li><code>selectMonths</code> and <code>selectYears</code> to hide/show dropdown menus for picking month and year. The number of years to be shown in the dropdown can also be specified using an even integer.</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Switch</legend>
						<div class="form-group">
							<div class="checkbox switch">
								<label for="input-switch-1">
									<input class="access-hide" id="input-switch-1" name="input-switch" type="checkbox"><span class="switch-toggle"></span>Default switch inherits link colour
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox switch">
								<label for="input-switch-2">
									<input class="access-hide" id="input-switch-2" name="input-switch" type="checkbox"><span class="switch-toggle switch-toggle-alt"></span>Brand colour switch
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox switch">
								<label for="input-switch-3">
									<input class="access-hide" id="input-switch-3" name="input-switch" type="checkbox"><span class="switch-toggle switch-toggle-blue"></span>Blue switch
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox switch">
								<label for="input-switch-4">
									<input class="access-hide" id="input-switch-4" name="input-switch" type="checkbox"><span class="switch-toggle switch-toggle-green"></span>Green switch
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox switch">
								<label for="input-switch-5">
									<input class="access-hide" id="input-switch-5" name="input-switch" type="checkbox"><span class="switch-toggle switch-toggle-purple"></span>Purple switch
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox switch">
								<label for="input-switch-6">
									<input class="access-hide" id="input-switch-6" name="input-switch" type="checkbox"><span class="switch-toggle switch-toggle-red"></span>Red switch
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox switch">
								<label for="input-switch-7">
									<input class="access-hide" id="input-switch-7" name="input-switch" type="checkbox"><span class="switch-toggle switch-toggle-yellow"></span>Yellow switch
								</label>
							</div>
						</div>
					</fieldset>
					<div class="form-group-btn">
						<button class="btn btn-blue waves-attach waves-button waves-light" type="submit">Submit Button</button><button class="btn waves-attach waves-button" type="button">Cancel Button</button>
					</div>
				</form>
			</section>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p>Material</p>
		</div>
	</footer>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-red fbtn-lg" data-toggle="dropdown"><span class="fbtn-text">Links</span><span class="fbtn-ori icon">add</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropdown">
				<a class="fbtn" href="https://github.com/Daemonite/material" target="_blank"><span class="fbtn-text">Fork me on GitHub</span><span class="fa fa-github"></span></a>
				<a class="fbtn fbtn-blue" href="https://twitter.com/daemonites" target="_blank"><span class="fbtn-text">Follow Daemon on Twitter</span><span class="fa fa-twitter"></span></a>
				<a class="fbtn fbtn-alt" href="http://www.daemon.com.au/" target="_blank"><span class="fbtn-text">Visit Daemon Website</span><span class="icon">link</span></a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../js/base.min.js"></script>

	<!-- js for this project -->
	<script src="../js/project.min.js"></script>
</body>
</html>