<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, width=device-width" name="viewport">
	<title>Tiles - Material</title>

	<!-- css -->
	<link href="../css/base.min.css" rel="stylesheet">

	<!-- css for this project -->
	<link href="../css/project.min.css" rel="stylesheet">

	<!-- favicon -->
	<!-- ... -->

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body class="avoid-fout">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header class="header header-transparent header-waterfall">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<a class="header-logo margin-left-no" href="index.html">Material</a>
		<div class="header-affix pull-left" data-offset-top="108" data-spy="affix">
			<span class="header-text margin-left-no">
				<i class="icon margin-right">chevron_right</i>Tiles
			</span>
		</div>
		<ul class="nav nav-list pull-right">
			<li>
				<a data-toggle="menu" href="#profile">
					<span class="access-hide">John Smith</span>
					<span class="avatar"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>
				</a>
			</li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu" id="menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
				<a class="menu-logo" href="index.html">Material</a>
				<ul class="nav">
					<li>
						<a class="waves-attach" href="ui-card.html">Cards</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-collapse.html">Collapsible Regions</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-dropdown.html">Dropdowns</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-modal.html">Modals &amp; Toasts</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-nav.html">Navs</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-progress.html">Progress Bars</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-tab.html">Tabs</a>
					</li>
					<li class="active">
						<a class="waves-attach" href="ui-tile.html">Tiles</a>
					</li>
				</ul>
				<hr>
				<ul class="nav">
					<li>
						<a class="waves-attach" href="ui-button.html">Buttons</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-form.html">Form Elements</a>
						<span class="menu-collapse-toggle collapsed" data-target="#form-elements" data-toggle="collapse"><i class="icon menu-collapse-toggle-close">close</i><i class="icon menu-collapse-toggle-default">add</i></span>
						<ul class="menu-collapse collapse" id="form-elements">
							<li>
								<a class="waves-attach" href="ui-form-adv.html">Form Elements <small>(materialised)</small></a>
							</li>
						</ul>
					</li>
					<li>
						<a class="waves-attach" href="ui-icon.html">Icons</a>
					</li>
					<li>
						<a class="waves-attach" href="ui-table.html">Tables</a>
					</li>
				</ul>
				<hr>
				<ul class="nav">
					<li>
						<a class="waves-attach" href="page-palette.html">Page Palettes</a>
						<span class="menu-collapse-toggle collapsed" data-target="#page-palettes" data-toggle="collapse"><i class="icon menu-collapse-toggle-close">close</i><i class="icon menu-collapse-toggle-default">add</i></span>
						<ul class="menu-collapse collapse" id="page-palettes">
							<li>
								<a class="waves-attach" href="page-palette-blue.html">Blue Palette</a>
							</li>
							<li>
								<a class="waves-attach" href="page-palette-green.html">Green Palette</a>
							</li>
							<li>
								<a class="waves-attach" href="page-palette-purple.html">Purple Palette</a>
							</li>
							<li>
								<a class="waves-attach" href="page-palette-red.html">Red Palette</a>
							</li>
							<li>
								<a class="waves-attach" href="page-palette-yellow.html">Yellow Palette</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<nav aria-hidden="true" class="menu menu-right" id="profile" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-top">
				<div class="menu-top-img">
					<img alt="John Smith" src="../images/samples/landscape.jpg">
				</div>
				<div class="menu-top-info">
					<a class="menu-top-user" href="javascript:void(0)"><span class="avatar pull-left"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>John Smith</a>
				</div>
				<div class="menu-top-info-sub">
					<small>Some additional information about John Smith</small>
				</div>
			</div>
			<div class="menu-content">
				<ul class="nav">
					<li>
						<a class="waves-attach" href="javascript:void(0)"><span class="icon icon-lg">account_box</span>Profile Settings</a>
					</li>
					<li>
						<a class="waves-attach" href="javascript:void(0)"><span class="icon icon-lg">add_to_photos</span>Upload Photo</a>
					</li>
					<li>
						<a class="waves-attach" href="page-login.html"><span class="icon icon-lg">exit_to_app</span>Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="content-heading">
			<div class="container">
				<h1 class="heading">Tiles</h1>
			</div>
		</div>
		<div class="container">
			<section class="content-inner">
				<h2 class="content-sub-heading">Basic Tiles</h2>
				<div class="tile-wrap">
					<div class="tile">
						<div class="pull-left tile-side">
							<div class="avatar avatar-blue avatar-sm">
								<span class="icon">alarm</span>
							</div>
						</div>
						<div class="tile-inner">
							<span>lorem ipsum dolor sit amet</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-left tile-side">
							<div class="avatar avatar-green avatar-sm">
								<span class="icon">backup</span>
							</div>
						</div>
						<div class="tile-inner">
							<span>consectetur adipiscing elit</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-left tile-side">
							<div class="avatar avatar-red avatar-sm">
								<span class="icon">launch</span>
							</div>
						</div>
						<div class="tile-inner">
							<span>sed ornare orci lorem</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-right tile-side">
							<div class="avatar avatar-blue avatar-sm">
								<span class="icon">alarm</span>
							</div>
						</div>
						<div class="tile-inner">
							<span>lorem ipsum dolor sit amet</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-right tile-side">
							<div class="avatar avatar-green avatar-sm">
								<span class="icon">backup</span>
							</div>
						</div>
						<div class="tile-inner">
							<span>consectetur adipiscing elit</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-right tile-side">
							<div class="avatar avatar-red avatar-sm">
								<span class="icon">launch</span>
							</div>
						</div>
						<div class="tile-inner">
							<span>sed ornare orci lorem</span>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
				</div>
				<h2 class="content-sub-heading">Tiles with Actions</h2>
				<div class="tile-wrap">
					<div class="tile">
						<div class="pull-left tile-side">
							<div class="avatar avatar-blue avatar-sm">
								<span class="icon">alarm</span>
							</div>
						</div>
						<div class="tile-action tile-action-show">
							<ul class="nav nav-list pull-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">add</span></a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">delete</span></a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">settings</span></a>
									<ul class="dropdown-menu">
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>Lorem Ipsum</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>Consectetur Adipiscing</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>Sed Ornare</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="tile-inner">
							<span class="text-overflow">lorem ipsum dolor sit amet</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-left tile-side">
							<div class="avatar avatar-green avatar-sm">
								<span class="icon">backup</span>
							</div>
						</div>
						<div class="tile-action tile-action-show">
							<ul class="nav nav-list pull-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">add</span></a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">delete</span></a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">settings</span></a>
									<ul class="dropdown-menu">
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>Lorem Ipsum</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>Consectetur Adipiscing</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>Sed Ornare</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="tile-inner">
							<span class="text-overflow">consectetur adipiscing elit, consectetur adipiscing elit, consectetur adipiscing elit</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-left tile-side">
							<div class="avatar avatar-red avatar-sm">
								<span class="icon">launch</span>
							</div>
						</div>
						<div class="tile-action tile-action-show">
							<ul class="nav nav-list pull-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">add</span></a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">delete</span></a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">settings</span></a>
									<ul class="dropdown-menu">
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>Lorem Ipsum</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>Consectetur Adipiscing</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>Sed Ornare</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="tile-inner">
							<span class="text-overflow">sed ornare orci lorem</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-left tile-side">
							<div class="avatar avatar-blue avatar-sm">
								<span class="icon">alarm</span>
							</div>
						</div>
						<div class="tile-action">
							<ul class="nav nav-list pull-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">add</span></a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">delete</span></a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">settings</span></a>
									<ul class="dropdown-menu">
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>Lorem Ipsum</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>Consectetur Adipiscing</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>Sed Ornare</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="tile-inner">
							<span class="text-overflow">lorem ipsum dolor sit amet</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-left tile-side">
							<div class="avatar avatar-green avatar-sm">
								<span class="icon">backup</span>
							</div>
						</div>
						<div class="tile-action">
							<ul class="nav nav-list pull-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">add</span></a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">delete</span></a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">settings</span></a>
									<ul class="dropdown-menu">
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>Lorem Ipsum</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>Consectetur Adipiscing</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>Sed Ornare</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="tile-inner">
							<span class="text-overflow">consectetur adipiscing elit, consectetur adipiscing elit, consectetur adipiscing elit</span>
						</div>
					</div>
					<div class="tile">
						<div class="pull-left tile-side">
							<div class="avatar avatar-red avatar-sm">
								<span class="icon">launch</span>
							</div>
						</div>
						<div class="tile-action">
							<ul class="nav nav-list pull-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">add</span></a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon">delete</span></a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">settings</span></a>
									<ul class="dropdown-menu">
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>Lorem Ipsum</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>Consectetur Adipiscing</a>
										</li>
										<li>
											<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>Sed Ornare</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="tile-inner">
							<span class="text-overflow">sed ornare orci lorem</span>
						</div>
					</div>
				</div>
				<h2 class="content-sub-heading">Tiles with Collapsible Regions</h2>
				<div class="tile-wrap">
					<div class="tile tile-collapse">
						<div data-target="#tile-collapse-1" data-toggle="tile">
							<div class="pull-left tile-side" data-ignore="tile">
								<div class="avatar avatar-blue avatar-sm">
									<span class="icon">alarm</span>
								</div>
							</div>
							<div class="tile-action" data-ignore="tile">
								<ul class="nav nav-list pull-right">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">add</span></a>
									</li>
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">delete</span></a>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">settings</span></a>
										<ul class="dropdown-menu">
											<li>
												<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>Lorem Ipsum</a>
											</li>
											<li>
												<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>Consectetur Adipiscing</a>
											</li>
											<li>
												<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>Sed Ornare</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">lorem ipsum dolor sit amet</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-1">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-1"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tile tile-collapse">
						<div data-target="#tile-collapse-2" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-green avatar-sm">
									<span class="icon">backup</span>
								</div>
							</div>
							<div class="tile-action" data-ignore="tile">
								<ul class="nav nav-list pull-right">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">add</span></a>
									</li>
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">delete</span></a>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">settings</span></a>
										<ul class="dropdown-menu">
											<li>
												<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>Lorem Ipsum</a>
											</li>
											<li>
												<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>Consectetur Adipiscing</a>
											</li>
											<li>
												<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>Sed Ornare</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">consectetur adipiscing elit</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-2">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-2"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tile tile-collapse">
						<div data-target="#tile-collapse-3" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-red avatar-sm">
									<span class="icon">launch</span>
								</div>
							</div>
							<div class="tile-action" data-ignore="tile">
								<ul class="nav nav-list pull-right">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">add</span></a>
									</li>
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">delete</span></a>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle waves-attach" data-toggle="dropdown"><span class="icon">settings</span></a>
										<ul class="dropdown-menu">
											<li>
												<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">loop</span>Lorem Ipsum</a>
											</li>
											<li>
												<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">replay</span>Consectetur Adipiscing</a>
											</li>
											<li>
												<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">shuffle</span>Sed Ornare</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">sed ornare orci lorem</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-3">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-3"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap" id="tile-parent-1">
					<div class="tile">
						<div class="tile-inner">
							<code>data-parent=""</code> extends the default collapse behaviour to create an accordion.
						</div>
					</div>
					<div class="tile tile-collapse">
						<div data-parent="#tile-parent-1" data-target="#tile-collapse-4" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-blue avatar-sm">
									<span class="icon">alarm</span>
								</div>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">lorem ipsum dolor sit amet</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-4">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-4"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tile tile-collapse">
						<div data-parent="#tile-parent-1" data-target="#tile-collapse-5" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-green avatar-sm">
									<span class="icon">backup</span>
								</div>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">consectetur adipiscing elit</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-5">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-5"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tile tile-collapse">
						<div data-parent="#tile-parent-1" data-target="#tile-collapse-6" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-red avatar-sm">
									<span class="icon">launch</span>
								</div>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">sed ornare orci lorem</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-6">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-6"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
					<div class="tile">
						<div class="tile-inner">
							You can set <code>data-parent=""</code> to be any existing DOM elements. For example, <code>.content</code> or even <code>body</code>, so all the other tiles will be collapsed before the target tile expands.
						</div>
					</div>
					<div class="tile tile-collapse">
						<div data-parent=".content" data-target="#tile-collapse-7" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-blue avatar-sm">
									<span class="icon">alarm</span>
								</div>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">lorem ipsum dolor sit amet</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-7">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-7"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tile tile-collapse">
						<div data-parent=".content" data-target="#tile-collapse-8" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-green avatar-sm">
									<span class="icon">backup</span>
								</div>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">consectetur adipiscing elit</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-8">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-8"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tile tile-collapse">
						<div data-parent=".content" data-target="#tile-collapse-9" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-red avatar-sm">
									<span class="icon">launch</span>
								</div>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">sed ornare orci lorem</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-9">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-9"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
					<div class="tile">
						<div class="tile-inner">
							<code>.tile-collapse-full</code> expands the tile even wider when space is available.
						</div>
					</div>
					<div class="tile tile-collapse tile-collapse-full">
						<div data-parent=".content" data-target="#tile-collapse-10" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-blue avatar-sm">
									<span class="icon">alarm</span>
								</div>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">lorem ipsum dolor sit amet</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-10">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-10"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tile tile-collapse tile-collapse-full">
						<div data-parent=".content" data-target="#tile-collapse-11" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-green avatar-sm">
									<span class="icon">backup</span>
								</div>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">consectetur adipiscing elit</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-11">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-11"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tile tile-collapse tile-collapse-full">
						<div data-parent=".content" data-target="#tile-collapse-12" data-toggle="tile">
							<div class="pull-left tile-side">
								<div class="avatar avatar-red avatar-sm">
									<span class="icon">launch</span>
								</div>
							</div>
							<div class="tile-inner">
								<div class="text-overflow">sed ornare orci lorem</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-12">
							<div class="tile-sub">
								<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-12"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
					<div class="tile tile-collapse tile-alt">
						<div data-target="#tile-collapse-13" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Brand colour tile</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-13">
							<div class="tile-sub">
								<p>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam. This is a <a href="javascript:void(0)">link</a> among some other text.</p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach waves-light" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach waves-light" data-toggle="tile" href="#tile-collapse-13"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
					<div class="tile tile-collapse tile-blue">
						<div data-target="#tile-collapse-14" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Blue tile</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-14">
							<div class="tile-sub">
								<p>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam. This is a <a href="javascript:void(0)">link</a> among some other text.</p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach waves-light" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach waves-light" data-toggle="tile" href="#tile-collapse-14"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
					<div class="tile tile-collapse tile-green">
						<div data-target="#tile-collapse-15" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Green tile</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-15">
							<div class="tile-sub">
								<p>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam. This is a <a href="javascript:void(0)">link</a> among some other text.</p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach waves-light" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach waves-light" data-toggle="tile" href="#tile-collapse-15"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
					<div class="tile tile-collapse tile-purple">
						<div data-target="#tile-collapse-16" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Purple tile</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-16">
							<div class="tile-sub">
								<p>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam. This is a <a href="javascript:void(0)">link</a> among some other text.</p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach waves-light" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach waves-light" data-toggle="tile" href="#tile-collapse-16"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
					<div class="tile tile-collapse tile-red">
						<div data-target="#tile-collapse-17" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Red tile</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-17">
							<div class="tile-sub">
								<p>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam. This is a <a href="javascript:void(0)">link</a> among some other text.</p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach waves-light" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach waves-light" data-toggle="tile" href="#tile-collapse-17"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
					<div class="tile tile-collapse tile-yellow">
						<div data-target="#tile-collapse-18" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Yellow tile</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-18">
							<div class="tile-sub">
								<p>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam. This is a <a href="javascript:void(0)">link</a> among some other text.</p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach waves-light" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach waves-light" data-toggle="tile" href="#tile-collapse-18"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-wrap">
					<div class="tile tile-collapse tile-offwhite">
						<div data-target="#tile-collapse-19" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Off-white tile</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-19">
							<div class="tile-sub">
								<p>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam. This is a <a href="javascript:void(0)">link</a> among some other text.</p>
							</div>
							<div class="tile-footer">
								<ul class="nav nav-list pull-left">
									<li>
										<a class="waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
									</li>
									<li>
										<a class="waves-attach" data-toggle="tile" href="#tile-collapse-19"><span class="icon">close</span>&nbsp;Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p>Material</p>
		</div>
	</footer>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-red fbtn-lg" data-toggle="dropdown"><span class="fbtn-text">Links</span><span class="fbtn-ori icon">add</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropdown">
				<a class="fbtn" href="https://github.com/Daemonite/material" target="_blank"><span class="fbtn-text">Fork me on GitHub</span><span class="fa fa-github"></span></a>
				<a class="fbtn fbtn-blue" href="https://twitter.com/daemonites" target="_blank"><span class="fbtn-text">Follow Daemon on Twitter</span><span class="fa fa-twitter"></span></a>
				<a class="fbtn fbtn-alt" href="http://www.daemon.com.au/" target="_blank"><span class="fbtn-text">Visit Daemon Website</span><span class="icon">link</span></a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../js/base.min.js"></script>

	<!-- js for this project -->
	<script src="../js/project.min.js"></script>
</body>
</html>