@import '../../assets/scss/colors';
@import '../../assets/scss/functions';
@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

// Bootstrap doc css override

.bd-content .highlight,
.bd-example {
  margin-right: 0;
  margin-left: 0;
}

.bd-example {
  border-width: 0.2rem;
  margin-bottom: 0;

  .custom-file-input:lang(es) ~ .custom-file-label::after {
    content: $custom-file-button-icon;
  }

  > .dropdown-menu:first-child {
    position: relative;
    top: auto;
    left: auto;
  }

  > .list-group {
    max-width: 100%;
  }
}

.bd-example-modal .modal-dialog {
  margin-top: ($dialog-margin-y * 2);
  margin-bottom: ($dialog-margin-y * 2);
}

.section-nav {
  border-left: $blockquote-border-width solid theme-color(secondary);
  position: sticky;
  top: $paragraph-margin-y;
}

// stylelint-disable selector-no-qualifying-type
.toc-entry {
  a {
    color: $nav-pills-color;
    opacity: $nav-pills-link-opacity;
    padding: ($nav-link-padding-y / 2) 0 ($nav-link-padding-y / 2) $grid-gutter-width;

    @include active-focus-hover {
      color: $nav-pills-color;
      opacity: 1;
    }

    &.active {
      color: $nav-pills-color-active;
      opacity: 1;
    }
  }
}
// stylelint-enable

// CSS for accordion examples

.bd-example [id='accordion'] .btn-link[data-toggle='collapse'] {
  padding: 0;
}

// CSS to flatten buttons in card examples

// stylelint-disable selector-max-class
.bd-example .card {
  &.text-right .card-body .btn {
    margin-right: ($card-action-padding-x - $card-padding-x);
  }

  &:not(.text-center):not(.text-right) .card-body .btn {
    margin-left: ($card-action-padding-x - $card-padding-x);
  }

  .card-body {
    @each $color, $values in $theme-colors {
      .btn-#{$color} {
        @include plain-active-focus-hover {
          color: theme-color($color);
        }

        &.disabled,
        &:disabled {
          color: $btn-color-disabled;
        }
      }
    }

    &:last-child .btn:last-child {
      margin-bottom: ($card-action-padding-y - $card-padding-y);
    }

    &:not(:last-child) .btn:last-child {
      margin-bottom: ($card-action-padding-y - $card-inner-spacer-y);
    }

    .btn {
      background-color: transparent;
      box-shadow: none;
      min-width: $dialog-footer-btn-min-width;
      padding-right: $dialog-footer-inner-spacer-x;
      padding-left: $dialog-footer-inner-spacer-x;

      &.active,
      &:active {
        background-color: $btn-bg-active;
        box-shadow: none;
      }

      &.disabled,
      &:disabled {
        background-color: transparent;
      }
    }
  }
}
// stylelint-enable

// CSS to limit `.form-control` width in `.navbar` examples

.bd-example .navbar .form-control {
  max-width: 10rem;
}

// Project css

.doc-jumbotron {
  background-color: theme-color(primary);
  background-image: url('../images/doc-jumbotron-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white-primary;
  padding-top: ($toolbar-height * 2);

  @include media-breakpoint-down(sm) {
    h1 {
      @include typography-display-3;
    }
  }

  @include media-breakpoint-up(lg) {
    .navdrawer-permanent-lg ~ & {
      margin-left: $navdrawer-width;
    }
  }

  h1:last-child,
  p:last-child {
    margin-bottom: 0;
  }
}

.doc-logo {
  @include typography-title;

  align-items: center;
  background-color: rgba(theme-color(secondary), $black-divider-opacity);
  border-radius: ($toolbar-element-height / 2);
  box-shadow: inset 0 0 0 $border-width currentColor;
  color: inherit;
  display: inline-flex;
  font-family: $font-family-serif;
  font-weight: 700;
  height: $toolbar-element-height;
  justify-content: center;
  line-height: 1;
  position: relative;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: $toolbar-element-height;
  z-index: 1;

  &[href] {
    @include active-focus-hover {
      color: inherit;
      text-decoration: none;

      &::before {
        opacity: $black-divider-opacity;
      }
    }

    &::before {
      @include transition-standard(opacity);

      background-color: currentColor;
      border-radius: ($toolbar-element-height / 2);
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.doc-main {
  @include media-breakpoint-up(lg) {
    .navdrawer-permanent-lg ~ & {
      margin-left: $navdrawer-width;
    }
  }
}

.doc-navbar-permanent {
  margin-left: $navdrawer-width;
}

.doc-navbar-persistent,
.doc-navbar-temporary {
  @include transition-sharp(margin-left);
}

.doc-navbar-persistent {
  .navdrawer-open-persistent & {
    @include transition-deceleration(margin-left);

    margin-left: $navdrawer-width;
  }
}

.doc-navbar-temporary {
  .navdrawer-open-temporary & {
    @include transition-deceleration(margin-left);

    margin-left: $navdrawer-width;
  }
}

.doc-navdrawer-body {
  min-height: 100%;
}

.doc-swatch-text {
  font-family: $font-family-monospace;
}

.doc-toolbar {
  position: fixed;

  @include media-breakpoint-up(lg) {
    .navdrawer-permanent-lg ~ & {
      margin-left: $navdrawer-width;
    }
  }
}
