.#{$mdicon-css-prefix} {
	display: inline-block;
	font-family: 'Material Icons';
	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	height: 1em;
	letter-spacing: normal;
	line-height: 1;
	overflow: hidden;
	text-rendering: optimizeLegibility;
	text-transform: none;
	vertical-align: -16%;
	width: 1em;
	word-wrap: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* ie */
	font-feature-settings: 'liga';
}
