// Theme palette
// Change these values to customise colour palettes

$primary: (
  color: #6200ee, //$material-color-purple-500
  dark:  #3700b3, //$material-color-purple-700
  light: #bb86fc //$material-color-purple-100
) !default;

$secondary: (
  color: #03dac5, //$material-color-pink-a200
  dark:  #00a895, //$material-color-pink-a400
  light: #66fff8 //$material-color-pink-a100
) !default;

$danger: (
  color: #b00020, //$material-color-red-500
  dark:  $material-color-red-700,
  light: $material-color-red-100
) !default;

$info: (
  color: #714cfe, //$material-color-blue-500,
  dark:  #021aee, //$material-color-blue-700,
  light: #d2c2fd //$material-color-blue-100
) !default;

$success: (
  color: #61d800, //$material-color-green-500,
  dark:  #41c300, //$material-color-green-700,
  light: #c6f68d  //$material-color-green-100
) !default;

$warning: (
  color: #ff8d00, //$material-color-orange-500
  dark:  #ee6002, //$material-color-orange-700
  light: #ffc77d //$material-color-orange-100
) !default;

$dark: (
  color: $material-color-grey-800,
  dark:  $material-color-grey-900,
  light: $material-color-grey-600
) !default;

$light: (
  color: $material-color-grey-100,
  dark:  $material-color-grey-300,
  light: $material-color-grey-050
) !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    primary:   $primary,
    secondary: $secondary,
    danger:    $danger,
    info:      $info,
    success:   $success,
    warning:   $warning,
    dark:      $dark,
    light:     $light
  ),
  $theme-colors
);

$yiq-contrasted-threshold: 170 !default; // 150
$yiq-text-dark:            $black-primary !default;
$yiq-text-light:           $white-primary !default;
