<!DOCTYPE html>
<html lang="en">
<head>
  {% include header.html %}
</head>
<body class="doc-body">
  {% include nav-toolbar.html %}

  {% include nav-navdrawer.html %}

  {% include page-jumbotron.html %}

  <main class="doc-main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
          <div class="bd-content mb-xl">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </main>

  {% include footer.html %}
</body>
</html>
