// stylelint-disable declaration-no-important

.align-top {
  vertical-align: top !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-baseline {
  vertical-align: baseline !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-bottom {
  vertical-align: bottom !important;
}
