[class*='material-icons'] {
  //@include reset-material-icons;

  @include set-material-icons;

  font-family: var(--font-family-material-icons);

  &.md-18 {
    font-size: 1.125rem;
  }

  &.md-36 {
    font-size: 2.25rem;
  }

  &.md-48 {
    font-size: 3rem;
  }
}

.material-icons-inline {
  font-size: inherit;
  line-height: 1;
}
