[data-ripplet]:not(:disabled):not(.disabled) {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; // Erase tap highlight effect for iOS
  touch-action: manipulation; // Disable tap-to-hover behavior and double-tap-to-zoom behavior for iOS
}
