// CSS Scrollbar for webkit/blink browsers

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
  }
  
::-webkit-scrollbar-thumb {
	background: #e0dfe1;
	border-radius: 50px;
}
  
  ::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 5px;
  }


  // CSS Scrollbar for Firefox
.scrollbar {
	overflow-y: scroll;
	scrollbar-color: #e0dfe1 transparent;
	scrollbar-width: thin;
}
